.page {
 display: flex;
 min-height: 100%;
}

.page-section {
 position: relative;
 min-height: 700px;
 @include tablet-mobile {
  min-height: 0;
 }

 .fp-tableCell {

  > .main-wrapper {
   height: 100%;
  }
 }
}

.sections-container {
 @include mobile {
  width: 100%;
 }
}

.section-content {
 min-height: 100%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 position: relative;
 z-index: 2;
}

.btn {
 display: block;
 border: none;
 border-radius: 4px;
 background: $color-science-blue;
 color: $color-white;
 font-size: 14px;
 font-weight: 700;
 line-height: 24px;
 text-align: center;
 padding: 9px 33px 11px;
 cursor: pointer;
 transition: 0.5s;
 @include tablet {
  padding: 7px 23px 9px;
 }
 @include mobile {
  font-size: 12px;
  line-height: 24px;
  padding: 3px 8px 3px 12px;
 }
 &:hover {
  transform: scale(1.05);
 }

 .btn__arrow {
  display: block;
  width: 16px;
  height: 10px;

  path {
   fill: $color-white;
  }
 }

 &.btn--arrow-right {
  display: flex;
  align-items: center;

  .btn__arrow {
   margin-left: 26px;
   @include mobile {
    width: 12px;
    height: 8px;
    margin-left: 16px;
   }
  }
 }
 &.btn--big {
  height: 58px;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.17);
  font-size: 16px;
  padding: 17px 39px 17px 35px;
  @include tablet {
   font-size: 15px;
   padding: 14px 38px;
  }
  @include mobile {
   font-size: 14px;
   padding: 9px 27px 12px;
  }
 }
}

.background-lines {
 width: 924px;
 height: 100%;
 display: flex;
 justify-content: space-between;
 position: absolute;
 top: 0;
 left: calc(50% - 462px);
 z-index: 0;
 @include tablet {
  width: 686px;
  left: calc(50% - 343px);
 }
 @include mobile {
  width: 270px;
  left: calc(50% - 135px);
 }

 .background-line {
  width: 1px;
  height: 100%;
  background: $color-dust-gray-015;
  @include mobile {
   &:nth-child(4), &:nth-child(5) {
    display: none;
   }
  }
 }
}

.page-title {
 display: flex;
 align-items: center;
 @include mobile {
  align-items: flex-start;
 }

 .page-title__number {
  width: 50px;
  height: 36px;
  border-radius: 4px;
  background: $color-dodger-blue-2;
  color: $color-link-water;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  @include mobile {
   margin-top: 5px;
  }
  &.page-title__number--blue {
   background: $color-science-blue;
  }
 }

 .page-title__text {
  color: $color-mine-shaft;
  font-size: 30px;
  font-weight: 900;
  line-height: 72px;
  text-transform: uppercase;
  margin-left: 20px;
  position: relative;
  @include mobile {
   font-size: 20px;
   line-height: 30px;
   padding-bottom: 12px;
  }
  &:before {
   content: '';
   width: 62px;
   height: 4px;
   border-radius: 1px;
   background-color: $color-geyser;
   position: absolute;
   bottom: 0;
   left: 0;
  }
 }

 &.page-title--white {

  .page-title__number {
   color: $color-azure-radiance;
  }
  .page-title__text {
   color: $color-white;
  }
 }
}

.page-subtitle {
 color: $color-mine-shaft;
 font-size: 14px;
 line-height: 21px;
 padding-left: 70px;
 @include mobile {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  padding: 0;
 }
}

.special-offer {
 width: 100%;
 height: 60px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 border-radius: 4px;
 background: $color-robins-egg-blue-09;
 @include mobile {
  height: auto;
  padding: 7px 0;
 }

 > .main-wrapper {
  display: flex;
  align-items: center;
  @include mobile {
   flex-wrap: wrap;
  }
 }

 .special-offer__icon {
  width: 23px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 18px;
  position: relative;
  @include tablet {
   margin-right: 11px;
  }
  @include mobile {
   width: 19px;
   height: 23px;
   margin-right: 11px;
  }

  .special-offer__icon-counter {
   width: 15px;
   height: 15px;
   background-color: $color-white;
   border-radius: 50%;
   color: $color-malachite;
   font-size: 8px;
   line-height: 15px;
   text-align: center;
   position: absolute;
   top: -1px;
   right: -6px;
   @include mobile {
    width: 12px;
    height: 12px;
    font-size: 6px;
    line-height: 12px;
    right: -5px;
   }
  }
 }

 .special-offer__text {
  color: $color-white;
  font-size: 14px;
  line-height: 16px;
  @include tablet-mobile {
   font-size: 12px;
   line-height: 14px;
  }
  &.special-offer__text--2 {
   @include mobile {
    display: none;
   }
  }
 }

 .special-offer__discount {
  border-radius: 100px;
  background-color: $color-science-blue;
  color: $color-white;
  font-size: 14px;
  font-weight: 700;
  line-height: 31px;
  padding: 0 13px 0 14px;
  margin: 0 17px 0 5px;
  //margin: 0 37px 0 10px;
  @include tablet-mobile {
   font-size: 12px;
   line-height: 27px;
   padding: 0 8px 0 11px;
  }
  @include tablet {
   margin: 0 20px 0 8px;
  }
  @include mobile {
   margin: 0 0 0 10px;
  }
 }

 .special-offer__timer {
  margin-left: 14px;
  //margin-left: 19px;
  @include tablet {
   margin-left: 12px;
  }
  @include mobile {
   margin: 8px 0 0 0;
  }

  .special-offer__timer-time {
   display: flex;

   li {
    width: 28px;
    color: $color-white;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-right: 30px;
    position: relative;
    @include tablet {
     margin-right: 23px;
    }
    @include mobile {
     margin-right: 33px;
    }
    &:after {
     content: ':';
     width: 30px;
     color: $color-persian-green-2;
     font-size: 20px;
     font-weight: 500;
     line-height: 24px;
     text-align: center;
     position: absolute;
     top: 0;
     right: -30px;
     @include tablet {
      width: 23px;
      right: -23px;
     }
     @include mobile{
      width: 33px;
      right: -33px;
     }
    }
    &:last-child {
     margin-right: 0;
     &:after {
      display: none;
     }
    }
   }
  }
  .special-offer__timer-title {
   display: flex;

   li {
    width: 28px;
    color: $color-spray;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
    margin-right: 30px;
    @include tablet {
     margin-right: 23px;
    }
    @include mobile {
     margin-right: 33px;
    }
    &:last-child {
     margin-right: 0;
    }
   }
  }
 }

 .special-offer__more {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: $color-white;
  color: $color-robins-egg-blue;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin-left: 30px;
  padding: 0 30px 0 29px;
  @include tablet {
   font-size: 13px;
   margin-left: 12px;
   padding: 0 19px;
  }
  @include mobile {
   font-size: 13px;
   line-height: 34px;
   padding: 0 19px;
   margin: 8px 0 0 14px;
  }

  svg {
   margin-left: 13px;
   @include tablet {
    margin-left: 9px;
   }
  }
 }
}

.slick-arrow {
 display: block;
 width: 15px;
 height: 10px;
 font-size: 0;
 line-height: 0;
 border: none;
 background: no-repeat center / contain;
 padding: 0;
 outline: none;
 position: absolute;
 top: 107px;
 z-index: 4;
 cursor: pointer;
 @include tablet-mobile {
  top: auto;
 }
 @include tablet {
  bottom: -60px;
 }
 @include mobile {
  bottom: 6px;
 }

 &.slick-prev {
  background-image: url(../../img/icons/arrow-left.svg);
  right: 89px;
  @include tablet-mobile {
   left: calc(50% - 63px);
  }
 }
 &.slick-next {
  background-image: url(../../img/icons/arrow-right.svg);
  right: -23px;
  @include tablet-mobile {
   right: calc(50% - 63px);
  }
 }
}

.popup-wrapper {
 display: none;
 width: 100%;
 height: 100%;
 position: fixed;
 top: 0;
 left: 0;
 background: $color-cloud-burst-08;
 z-index: 100;
}
.popup-scrollarea {
 height: 100%;
 width: 100%;
 overflow: auto;
}

.popup {
 box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 background: $color-athens-gray;
 margin: 50px auto 0;
 position: relative;
}
.popup__close {
 width: 16px;
 height: 16px;
 position: absolute;
 top: 30px;
 right: 30px;
 cursor: pointer;
 @include mobile {
  top: 20px;
  right: 20px;
 }
 &:hover {

  svg path {
   fill: $color-dodger-blue;
  }
 }

 svg {
  width: 100%;
  height: 100%;

  path {
   fill: $color-ghost;
   transition: 0.5s;
  }
 }
}

.popup-package {
 width: 800px;
 height: 600px;
 background: url(../../img/common/popup-bg.png) no-repeat center bottom / contain, $color-athens-gray;
 padding: 63px 63px 84px;
 @include tablet {
  width: 660px;
  height: 580px;
  padding: 53px 53px 84px;
 }
 @include mobile {
  width: 270px;
  height: 593px;
  background: url(../../img/common/popup-bg-mobile.png) no-repeat center bottom / contain, $color-athens-gray;
  padding: 33px 23px 59px 17px;
 }

 .popup-package__info {
  display: flex;
  @include mobile {
   flex-direction: column;
   align-items: center;
  }

  .popup-package__icon {
   width: 110px;
   height: 110px;
   background: $color-mystic;
   border-radius: 50%;
   position: relative;
   @include mobile {
    width: 70px;
    height: 70px;
   }

   svg {
    position: absolute;
    top: 0;
    left: 0;
   }
  }

  .popup-package__content {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 9px 110px 0 0;
   @include tablet {
    padding-top: 19px;
   }
   @include mobile {
    padding: 0;
    margin-top: 23px;
   }

   h1 {
    color: $color-mine-shaft;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    @include mobile {
     font-size: 16px;
     line-height: 19px;
    }
   }
   p {
    color: $color-bali-hali;
    font-size: 14px;
    line-height: 21px;
    margin-top: 17px;
    @include tablet-mobile {
     font-size: 12px;
     line-height: 19.2px;
    }
    @include mobile {
     margin-top: 9px;
    }
   }
  }
 }

 .popup-package__form {
  width: 420px;
  margin: 50px auto 0;
  @include tablet {
   margin-top: 41px;
  }
  @include mobile {
   width: 230px;
   margin-top: 58px;
  }

  .popup-package__input {
   height: 50px;
   margin-bottom: 4px;
   position: relative;
   @include mobile {
    height: 46px;
   }
   &:last-child {
    margin: 0;
   }

   .popup-package__input-icon {
    height: 100%;
    width: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    @include mobile {
     width: 44px;
    }

    svg {

     path {
      fill: $color-dodger-blue-2;
     }
    }
   }

   input, select {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: none;
    background: $color-white;
    color: $color-mine-shaft;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    padding: 13px 34px 13px 53px;
    outline: none;
    @include mobile {
     font-size: 12px;
     padding: 11px 34px 11px 44px;
    }
   }

   select {
    background: url(../../img/icons/dropdown-arrow.svg) no-repeat center right 22px / 6px 10px, $color-white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
   }
  }

  .popup-package__submit {
   background: $color-dodger-blue-2;
   margin: 22px auto 0;
   @include mobile {
    width: 230px;
   }
  }
 }

 &.popup-package--standart .popup-package__info .popup-package__icon svg {
  width: 87px;
  height: 82px;
  top: 15px;
  left: 23px;
  @include mobile {
   width: 56px;
   height: 53px;
   top: 12px;
   left: 15px;
  }
 }
 &.popup-package--base .popup-package__info .popup-package__icon svg {
  top: 14px;
  left: -12px;
 }
 &.popup-package--extended .popup-package__info .popup-package__icon svg {
  top: 6px;
  left: -10px;
 }
 &.popup-package--vip .popup-package__info .popup-package__icon svg {
  top: 5px;
  left: 4px;
 }
 &.popup-package--base .popup-package__info .popup-package__icon, &.popup-package--extended .popup-package__info .popup-package__icon, &.popup-package--vip .popup-package__info .popup-package__icon {
  width: 90px;
  height: 90px;
  margin-right: 20px;
 }
}

.popup-video {
 width: 960px;
 height: 560px;
 padding: 30px 40px;
 @include tablet {
  width: 770px;
  height: 450px;
  padding: 20px 30px;
 }
 @include mobile {
  width: 310px;
  height: 200px;
  padding: 10px 15px;
 }

 .popup__close {
  width: 20px;
  height: 20px;
  top: 10px;
  right: -50px;
  @include mobile {
   top: 10px;
   right: 10px;
  }
 }
}
.popup__video {
 width: 100%;
 height: 100%;
}

.popup-agreements {
 width: 900px;
 padding: 50px 50px 30px;
 @include tablet {
  width: 700px;
  padding: 30px 30px 30px;
 }
 @include mobile {
  width: 290px;
  padding: 15px 15px 10px;
 }

 h1 {
  color: $color-mine-shaft;
  font-size: 32px;
  font-weight: 900;
  line-height: 42px;
  text-align: center;
  margin-bottom: 30px;
  @include tablet {
   font-size: 26px;
   line-height: 32px;
  }
  @include mobile {
   font-size: 18px;
   font-weight: 700;
   line-height: 27px;
   margin-bottom: 20px;
  }
 }
 h2 {
  color: $color-mine-shaft;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin: 25px 0;
  @include mobile {
   font-size: 16px;
   line-height: 21px;
   margin: 15px 0;
  }
 }
 p {
  color: $color-slate-gray;
  font-size: 12px;
  line-height: 21px;
  margin: 13px 0;
  @include mobile {
   line-height: 17px;
   margin: 10px 0;
  }
 }
}

.notification {
 display: none;
 width: 300px;
 background: url(../../img/common/notification-bg.jpg) no-repeat center bottom, $color-white;
 border-radius: 4px;
 box-shadow: 0 10px 20px rgba(144,156,173,0.5);
 padding: 30px 20px 20px 80px;
 position: fixed;
 right: 20px;
 bottom: 60px;

 .notification__close {
  width: 10px;
  height: 10px;
  top: 10px;
  right: 10px;
  @extend .popup__close;
 }

 .notification__title {
  color: $color-mine-shaft;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
 }
 .notification__text {
  color: $color-slate-gray;
  font-size: 12px;
  line-height: 17px;
  margin-top: 15px;
 }
}