html {
 height: 100%;
 min-height: 100%;
}
body {
 height: 100%;
 background: $color-alabaster;
 font-family: Roboto, sans-serif;
}

.main {
 color: $color-slate-gray;
 position: relative;
}

.main-wrapper {
 width: 1180px;
 margin: 0 auto;
 //@include clearfix;
 @include tablet {
  width: 710px;
 }
 @include mobile {
  width: 290px;
 }
}

.br-lg {
 display: block;
 @include tablet {display: none;}
 @include mobile {display: none;}
}
.br-lp {
 display: none;
 @include laptop {display: block;}
 @include tablet {display: none;}
 @include mobile {display: none;}
}
.br-lp-md {
 display: none;
 @include laptop {display: block;}
 @include tablet {display: block;}
 @include mobile {display: none;}
}
.br-lp-sm {
 display: none;
 @include laptop {display: block;}
 @include tablet {display: block;}
 @include mobile {display: block;}
}
.br-lg-md {
 display: block;
 @include tablet {display: block;}
 @include mobile {display: none;}
}
.br-lg--sm {
 display: block;
 @include tablet {display: none;}
 @include mobile {display: block;}
}
.br-md-sm {
 display: none;
 @include tablet {display: block;}
 @include mobile {display: block;}
}
.br-md {
 display: none;
 @include tablet {display: block;}
 @include mobile {display: none;}
}
.br-sm {
 display: none;
 @include tablet {display: none;}
 @include mobile {display: block;}
}
.br-sm-text {
 display: none;
 @include tablet {display: none;}
 @include mobile {display: inline;}
}

.inline-lg {
 display: inline;
 @include tablet {display: none;}
 @include mobile {display: none;}
}
.inline-lp {
 display: none;
 @include laptop {display: inline;}
 @include tablet {display: none;}
 @include mobile {display: none;}
}
.inline-lp-md {
 display: none;
 @include laptop {display: inline;}
 @include tablet {display: inline;}
 @include mobile {display: none;}
}
.inline-lp-sm {
 display: none;
 @include laptop {display: inline;}
 @include tablet {display: inline;}
 @include mobile {display: inline;}
}
.inline-lg-md {
 display: inline;
 @include tablet {display: inline;}
 @include mobile {display: none;}
}
.inline-md-sm {
 display: none;
 @include tablet {display: inline;}
 @include mobile {display: inline;}
}
.inline-md {
 display: none;
 @include tablet {display: inline;}
 @include mobile {display: none;}
}
.inline-sm {
 display: none;
 @include tablet {display: none;}
 @include mobile {display: inline;}
}

.hidden {display: none;}

.clear {
 display: table;
 clear: both;
}

p, h1, h2, h3, h4, h5, h6, img {
 display: block;
}

a {
 font-family: Roboto, sans-serif;
 text-decoration: none;
 cursor: pointer;
 transition: 0.3s;
}

em {
 font-style: italic;
}

b, strong {
 font-weight: 700;
}