#success {
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 background: url(../../img/success/success-bg.jpg) no-repeat center / cover;
 position: relative;
 @include mobile {
  background: url(../../img/success/success-wave-mobile.png) no-repeat center top , $color-alabaster;
 }
}

.success-main {
 display: flex;
 flex-direction: column;
 background: url(../../img/success/success-gerchik.png) no-repeat left bottom;
 padding: 213px 0 46px 327px;
 position: relative;
 @include tablet {
  padding: 173px 0 54px 0;
  background: none;
 }
 @include mobile {
  background: url(../../img/success/success-gerchik-mobile.png) no-repeat top 98px center;
  padding: 315px 0 64px;
 }
 &:before {
  content: '';
  display: none;
  width: 418px;
  height: 421px;
  background: url(../../img/success/success-gerchik.png) no-repeat left bottom / contain;
  position: absolute;
  bottom: 0;
  left: -52px;
  @include tablet {
   display: block;
  }
 }

 .success-main__title {
  @include mobile {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   text-align: center;
  }

  .success-main__title-icon {
   width: 42px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 4px;
   background-color: $color-dodger-blue-2;
   margin-right: 19px;
   @include mobile {
    width: 36px;
    height: 26px;
    border-radius: 3px;
    margin: 0 0 17px;
   }
  }

  h1 {
   display: flex;
   align-items: center;
   color: $color-mine-shaft;
   font-size: 30px;
   font-weight: 900;
   line-height: 39px;
   text-transform: uppercase;
   @include mobile {
    flex-direction: column;
    font-size: 28px;
    line-height: 39px;
   }
  }

  h2 {
   color: $color-manatee;
   font-size: 12px;
   line-height: 18px;
   padding: 0 0 24px 61px;
   margin-top: 14px;
   position: relative;
   @include mobile {
    font-size: 14px;
    line-height: 21px;
    padding: 0 0 26px 0;
    margin-top: 12px;
   }
   &:before {
    content: '';
    width: 60px;
    height: 4px;
    border-radius: 1px;
    background-color: $color-athens-gray-3;
    position: absolute;
    bottom: 0;
    left: 61px;
    @include mobile {
     width: 48px;
     height: 3px;
     background: $color-science-blue;
     left: calc(50% - 24px);
    }
   }
  }
 }

 .success-main__subtitle {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 102px;
  margin-top: 19px;
  @include tablet {
   margin-top: 29px;
   padding-right: 0;
  }
  @include mobile {
   align-self: center;
   flex-direction: column;
   margin-top: 27px;
   padding: 0;
  }

  h2 {
   color: $color-mine-shaft;
   font-size: 12px;
   font-weight: 500;
   line-height: 18px;
   text-align: right;
   @include mobile {
    order: 2;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
   }
  }

  .success-main__subtitle-icon {
   width: 54px;
   height: 54px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: $color-athens-gray-3;
   border-radius: 50%;
   margin-left: 20px;
   position: relative;
   @include mobile {
    order: 1;
    margin: 0 0 16px;
   }
   &:before {
    content: '1';
    width: 18px;
    height: 18px;
    background: $color-dodger-blue-2;
    border-radius: 50%;
    color: $color-white;
    font-size: 8px;
    line-height: 18px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 1px;
   }
  }
 }

 .success-main__info {
  background: url(../../img/success/success-list-arrow.svg) no-repeat top left 397px;
  padding: 14px 0 0 271px;
  margin-top: 15px;
  position: relative;
  @include tablet {
   background: url(../../img/success/success-list-arrow-tablet.svg) no-repeat top left 304px;
   padding: 20px 0 0 371px;
   margin-top: 9px;
  }
  @include mobile {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: url(../../img/success/success-book-mobile.png) no-repeat top 20px center;
   margin-top: 17px;
   padding: 209px 0 0;
  }
  &:before {
   content: '';
   width: 322px;
   height: 242px;
   background: url(../../img/success/success-book.png) no-repeat center / contain;
   position: absolute;
   top: 26px;
   right: -27px;
   @include tablet {
    width: 242px;
    height: 171px;
    top: 102px;
    right: -68px;
   }
   @include mobile {
    display: none;
   }
  }

  .success-main__info-title {
   color: $color-mine-shaft;
   font-size: 20px;
   font-weight: 900;
   line-height: 33px;
   text-transform: uppercase;
   @include mobile {
    text-align: center;
   }

   span {
    display: block;
    color: $color-science-blue;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    text-transform: none;
   }
  }

  .success-main__info-list {
   margin-top: 20px;
   @include mobile {
    margin-top: 13px;
   }

   .success-main__info-item {
    color: $color-slate-gray;
    font-size: 12px;
    line-height: 21px;
    padding-left: 10px;
    position: relative;
    &:before {
     content: '•';
     position: absolute;
     top: 0;
     left: 0;
    }
   }
  }
 }

 .success-main__socials {
  display: flex;
  margin-top: 40px;
  padding-left: 205px;
  @include tablet {
   margin-top: 49px;
  }
  @include mobile {
   margin-top: 59px;
   justify-content: center;
   padding: 0;
  }

  .success-main__social {
   width: 24px;
   height: 24px;
   margin-right: 8px;
   &:last-child {
    margin-right: 0;
   }
  }

  .success-main__social-link {
   display: block;
   width: 100%;
   height: 100%;
   &:hover svg {

    path {
     fill: $color-science-blue;
    }
    circle {
     stroke: $color-science-blue;
    }
   }

   svg {
    display: block;
    width: 100%;
    height: 100%;

    path {
     fill: $color-geyser;
     transition: 0.5s;
    }
    circle {
     stroke: $color-geyser;
     transition: 0.5s;
    }
   }
  }
 }
}