footer.main-footer
  .main-wrapper
    a(href="#intro").main-footer__logo
      svg(width='30px', height='33px', viewbox='0 0 482 542', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        defs
        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
          g#Gerchik-logo(transform='translate(-259.000000, -349.000000)')
            g#Gerchik-logo-for-light(transform='translate(259.000000, 349.000000)')
              polygon#Path-17-Copy(fill='#0068E2', transform='translate(360.074877, 331.204987) scale(-1, 1) translate(-360.074877, -331.204987) ', points='240 421.758491 480.149753 541.409974 480.149753 240.902712 240 121')
              polygon#Path-17(fill='#005AC4', points='0.869538023 421.587474 241.019291 541.238957 241.019291 240.731695 0.869538023 120.828983')
              polygon#Combined-Shape(fill='#2489FF', points='239.953636 240.962962 481.101853 121.293363 241.705983 0.569576755 0.710623281 121.293363')
              polygon#Path-18-Copy(fill='#FFFFFF', points='159.243012 200.393385 400.39123 80.7237858 320.99536 40 80 160.723786')
              path#Combined-Shape(d='M159.402289,307.697194 L159.402289,200.536215 L80.5656808,161.009621 L81.9531378,305.130495 L81.6276641,355.277612 L240.180464,436.495749 L240.753082,348.307118 L159.402289,307.697194 Z', fill='#DBE3ED')
              path#Combined-Shape(d='M397.714477,353.013751 L398.648384,352.545511 L400.492307,161.009621 L321.655698,200.536215 L321.655698,306.847986 L238.603752,348.307118 L239.17637,436.495749 L397.72917,355.277612 L397.714477,353.013751 Z', fill='#E8EDF3')
      p Gerchik.ru

    .main-footer__info
      p.main-footer__text
        | Gerchik.RU ©2008-2017. Все права защищены<br>
        | TRADING EDUCATION LP, 24 Station Square, Suite 16,<br>
        | Inverness, IV1 1LD, Scotland, UK, Co. Id. SL26831
      //a(href="mailto:gerchik@info.ua").main-footer__text gerchik@info.ua
      p.main-footer__text
       | +7 499 348 10 64<br>
       | +380 44 383 41 81

    ul.main-footer__socials
      li.main-footer__social
        a(href="https://www.facebook.com/gerchik.official" target="_blank").main-footer__social-link
          svg(width='24px', height='24px', viewbox='0 0 24 24', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g#Gerchik-Product-Page-1366x700(transform='translate(-1186.000000, -12318.000000)', fill-rule='nonzero', fill='#515151')
                g#footer(transform='translate(0.000000, 12255.000000)')
                  g#menu(transform='translate(93.000000, 59.000000)')
                    g#social(transform='translate(1093.000000, 4.000000)')
                      g#facebook-logo
                        path#fb-inactive(d='M12,0 C5.3725,0 0,5.3725 0,12 C0,18.62775 5.3725,24 12,24 C18.6275,24 24,18.62775 24,12 C24,5.3725 18.6275,0 12,0 Z M14.84225,8.2925 L13.038,8.2925 C12.8245,8.2925 12.58675,8.57275 12.58675,8.94825 L12.58675,10.251 L14.842,10.251 L14.842,12.108 L12.58675,12.108 L12.58675,17.6845 L10.45675,17.6845 L10.45675,12.108 L8.526,12.108 L8.526,10.251 L10.45675,10.251 L10.45675,9.158 C10.45675,7.59075 11.54475,6.316 13.03775,6.316 L14.842,6.316 L14.84225,8.2925 L14.84225,8.2925 Z')
      li.main-footer__social
        a(href="https://vk.com/gerchik.official "  target="_blank").main-footer__social-link
          svg(width='24px', height='24px', viewbox='0 0 24 24', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g#Gerchik-Product-Page-1366x700(transform='translate(-1218.000000, -12318.000000)', fill-rule='nonzero', fill='#515151')
                g#footer(transform='translate(0.000000, 12255.000000)')
                  g#menu(transform='translate(93.000000, 59.000000)')
                    g#social(transform='translate(1093.000000, 4.000000)')
                      g#vk-social-logotype(transform='translate(32.000000, 0.000000)')
                        path#vk-inactive(d='M11.9693878,0 C5.35910204,0 0,5.35885714 0,11.9693878 C0,18.5799184 5.35910204,23.9387755 11.9693878,23.9387755 C18.5796735,23.9387755 23.9387755,18.5799184 23.9387755,11.9693878 C23.9387755,5.35885714 18.5796735,0 11.9693878,0 Z M16.1719496,13.364114 C16.6065335,13.7885869 17.0662997,14.1880684 17.4564333,14.6564194 C17.6292748,14.8636004 17.7921961,15.07784 17.9161995,15.318788 C18.0932381,15.6623726 17.9333691,16.0391519 17.6258409,16.0595648 L15.7156173,16.0591832 C15.2222748,16.1000089 14.8296612,15.9010313 14.4986677,15.5637422 C14.2344452,15.2949412 13.9893002,15.0078258 13.7348072,14.7298675 C13.6308352,14.6157845 13.5213307,14.5083785 13.3908411,14.4238655 C13.1304341,14.2544579 12.9041757,14.3063485 12.7549901,14.5783927 C12.602943,14.8552063 12.5682221,15.1619715 12.5537232,15.470072 C12.5329288,15.9204903 12.3970975,16.0381981 11.945153,16.059374 C10.9794533,16.1045875 10.063164,15.9580728 9.21154733,15.4712167 C8.46027793,15.0417836 7.87879771,14.4356935 7.37210103,13.7494782 C6.38541608,12.4117684 5.62975888,10.943569 4.95079296,9.43320844 C4.7979827,9.09305777 4.90977647,8.91105904 5.28502962,8.90400039 C5.9084802,8.89198161 6.53193079,8.8935078 7.15538137,8.90342807 C7.40911126,8.90743433 7.57699268,9.05261361 7.67447838,9.29203542 C8.01138588,10.12095 8.42441236,10.9096112 8.94198317,11.64104 C9.07991303,11.8358206 9.2207045,12.0300289 9.42120834,12.1675772 C9.64250659,12.3194336 9.81115112,12.26926 9.91550469,12.0222072 C9.98227571,11.8651999 10.0110826,11.6973185 10.0255815,11.5290555 C10.0751828,10.9527262 10.0810968,10.3765876 9.99524837,9.80254759 C9.94183155,9.44331948 9.73980151,9.21133787 9.38171805,9.1434222 C9.19933777,9.10889205 9.22604618,9.04135792 9.31475626,8.93719513 C9.46871116,8.75710414 9.61293657,8.64569192 9.90119661,8.64569192 L12.0594269,8.64531037 C12.3995775,8.71208139 12.4758873,8.86470087 12.5220547,9.20733161 L12.5239624,11.6057468 C12.5199561,11.7383349 12.5905427,12.1313301 12.828629,12.2181324 C13.0194034,12.281088 13.1453145,12.1280869 13.2593975,12.0073268 C13.7769683,11.4580874 14.1457352,10.8098362 14.4759656,10.1388828 C14.6217172,9.84299175 14.7474375,9.53679892 14.8695331,9.23003376 C14.9603416,9.00320305 15.1015147,8.89160006 15.3575339,8.89541555 L17.4358296,8.89789561 C17.4970682,8.89789561 17.5592606,8.89846794 17.6199269,8.90896052 C17.9701886,8.96886367 18.0661481,9.11957541 17.9577883,9.46125227 C17.787236,9.9980913 17.4558609,10.4452664 17.1319261,10.8935861 C16.7847168,11.3735744 16.4144238,11.8367745 16.0706484,12.3188613 C15.7547261,12.75955 15.7797175,12.9814206 16.1719496,13.364114 Z')
      li.main-footer__social
        a(href="https://www.youtube.com/user/gerchikalex"  target="_blank").main-footer__social-link
          svg(width='24px', height='24px', viewbox='0 0 24 24', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g#Gerchik-Product-Page-1366x700(transform='translate(-1249.000000, -12318.000000)', fill-rule='nonzero')
                g#footer(transform='translate(0.000000, 12255.000000)')
                  g#menu(transform='translate(93.000000, 59.000000)')
                    g#social(transform='translate(1093.000000, 4.000000)')
                      g#youtube-symbol(transform='translate(63.000000, 0.000000)')
                        g#yt-inactive
                          path#Shape(d='M10.3450756,14.3711729 C11.7277208,13.6545046 13.0983002,12.944432 14.4815109,12.2273869 C13.0941527,11.503746 11.7239502,10.7895275 10.3450756,10.070221 C10.3450756,11.5088341 10.3450756,12.9327482 10.3450756,14.3711729 Z')
                          path#Shape(d='M11.9693878,0 C5.35910204,0 0,5.35885714 0,11.9693878 C0,18.5799184 5.35910204,23.9387755 11.9693878,23.9387755 C18.5796735,23.9387755 23.9387755,18.5799184 23.9387755,11.9693878 C23.9387755,5.35885714 18.5796735,0 11.9693878,0 Z M18.3021662,15.4268594 C18.1426737,16.118464 17.5767205,16.6285932 16.8955784,16.7045378 C15.2823667,16.8848826 13.649737,16.8858249 12.0237056,16.8848826 C10.3976742,16.8858249 8.76466742,16.8848826 7.15107873,16.7045378 C6.46993655,16.6285932 5.90436042,16.118464 5.74524501,15.4268594 C5.51844898,14.4416525 5.51844898,13.3665559 5.51844898,12.3525164 C5.51844898,11.338477 5.52108833,10.2630034 5.74788436,9.27817347 C5.90699978,8.5865688 6.47257591,8.07625124 7.15371809,8.00011819 C8.76730678,7.81996177 10.4003136,7.81901953 12.0263449,7.81996177 C13.6519993,7.81901953 15.2850061,7.81996177 16.8980292,8.00011819 C17.5795484,8.07625124 18.1455016,8.58638035 18.304617,9.27817347 C18.531413,10.2631919 18.5295278,11.338477 18.5295278,12.3525164 C18.5295278,13.3665559 18.5289622,14.4418409 18.3021662,15.4268594 Z')
                        g#yt-active
                          path#Shape(d='M10.3450756,14.3711729 C11.7277208,13.6545046 13.0983002,12.944432 14.4815109,12.2273869 C13.0941527,11.503746 11.7239502,10.7895275 10.3450756,10.070221 C10.3450756,11.5088341 10.3450756,12.9327482 10.3450756,14.3711729 Z')
                          path#Shape(d='M11.9693878,0 C5.35910204,0 0,5.35885714 0,11.9693878 C0,18.5799184 5.35910204,23.9387755 11.9693878,23.9387755 C18.5796735,23.9387755 23.9387755,18.5799184 23.9387755,11.9693878 C23.9387755,5.35885714 18.5796735,0 11.9693878,0 Z M18.3021662,15.4268594 C18.1426737,16.118464 17.5767205,16.6285932 16.8955784,16.7045378 C15.2823667,16.8848826 13.649737,16.8858249 12.0237056,16.8848826 C10.3976742,16.8858249 8.76466742,16.8848826 7.15107873,16.7045378 C6.46993655,16.6285932 5.90436042,16.118464 5.74524501,15.4268594 C5.51844898,14.4416525 5.51844898,13.3665559 5.51844898,12.3525164 C5.51844898,11.338477 5.52108833,10.2630034 5.74788436,9.27817347 C5.90699978,8.5865688 6.47257591,8.07625124 7.15371809,8.00011819 C8.76730678,7.81996177 10.4003136,7.81901953 12.0263449,7.81996177 C13.6519993,7.81901953 15.2850061,7.81996177 16.8980292,8.00011819 C17.5795484,8.07625124 18.1455016,8.58638035 18.304617,9.27817347 C18.531413,10.2631919 18.5295278,11.338477 18.5295278,12.3525164 C18.5295278,13.3665559 18.5289622,14.4418409 18.3021662,15.4268594 Z')
      li.main-footer__social
        a(href="https://www.instagram.com/gerchik.alexander/"  target="_blank").main-footer__social-link
          svg(width='24px', height='24px', viewbox='0 0 24 24', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g#Gerchik-Product-Page-1366x700(transform='translate(-1276.000000, -12318.000000)')
                g#yt-active(transform='translate(1276.000000, 12318.000000)')
                  path#Combined-Shape(d='M11.9693878,0 C18.5796735,0 23.9387755,5.35885714 23.9387755,11.9693878 C23.9387755,18.5799184 18.5796735,23.9387755 11.9693878,23.9387755 C5.35910204,23.9387755 0,18.5799184 0,11.9693878 C0,5.35885714 5.35910204,0 11.9693878,0 Z M17.1469389,15.6175927 C17.3328695,14.4585528 17.3333331,13.1932989 17.3333331,12.0001109 C17.3333331,10.8069229 17.3348787,9.54166902 17.1489481,8.38262908 C17.018503,7.56861807 16.5545266,6.96836532 15.9958075,6.87878198 C14.6734283,6.66679763 13.3346662,6.66568893 12.0019318,6.66679763 C10.6688883,6.66568893 9.33012625,6.66679763 8.00728341,6.87878198 C7.44887342,6.96836532 6.98520611,7.56883981 6.85476104,8.38262908 C6.66883045,9.54144728 6.66666667,10.8069229 6.66666667,12.0001109 C6.66666667,13.1932989 6.66666667,14.458331 6.85259726,15.6175927 C6.98304233,16.431382 7.44670964,17.0316347 8.00511963,17.1209963 C9.32796247,17.3332024 10.6667245,17.3343111 11.9997681,17.3332024 C13.3328116,17.3343111 14.6712645,17.3332024 15.9937983,17.1209963 C16.5522083,17.0316347 17.0161847,16.431382 17.1469389,15.6175927 Z', fill='#515151', fill-rule='nonzero')
                  circle#Oval-6(stroke='#515151', stroke-width='2', cx='12', cy='12', r='1.66666667')
                  circle#Oval-7(stroke='#515151', cx='15.1666667', cy='9.16666667', r='1')
      li.main-footer__social
        a(href="https://t.me/joinchat/AAAAAEQ5ykhiXqOESYRWdw"  target="_blank").main-footer__social-link
          svg(width='24px', height='24px', viewbox='0 0 24 24', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g#Gerchik-Product-Page-1366x700(transform='translate(-1276.000000, -12318.000000)', fill-rule='nonzero', fill='#515151')
                g#yt-active(transform='translate(1276.000000, 12318.000000)')
                  path#telegram-inactive(d='M11.9693878,0 C18.5796735,0 23.9387755,5.35885714 23.9387755,11.9693878 C23.9387755,18.5799184 18.5796735,23.9387755 11.9693878,23.9387755 C5.35910204,23.9387755 0,18.5799184 0,11.9693878 C0,5.35885714 5.35910204,0 11.9693878,0 Z M5.21195567,11.7949637 L7.97699929,12.7827124 L9.04724069,16.0770077 C9.11572078,16.2879954 9.38528113,16.3659816 9.56420137,16.225974 L11.1054834,15.0233707 C11.2670436,14.8973753 11.4971639,14.8910966 11.6660041,15.0084013 L14.4459278,16.9401393 C14.637328,17.0732939 14.9084884,16.9729111 14.9564884,16.7515482 L16.9929311,7.37593654 C17.0453312,7.13412952 16.7970908,6.93240672 16.5565305,7.02145725 L5.20871567,11.2113879 C4.9286753,11.314757 4.9311153,11.6942363 5.21195567,11.7949637 Z M8.87476047,12.2569085 L14.2786875,9.07134219 C14.3758077,9.0142595 14.4757278,9.13994862 14.3923277,9.21399149 L9.93252185,13.1818318 C9.77576165,13.3214949 9.67464151,13.5084015 9.64600148,13.7112728 L9.49408128,14.7888378 C9.47396125,14.9327122 9.26280097,14.9469925 9.22132092,14.8077505 L8.63704015,12.8427813 C8.57012007,12.6186619 8.66764019,12.3792668 8.87476047,12.2569085 Z')
