.main-header-container
  .special-offer
    .main-wrapper
      .special-offer__icon
        svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 23 28', style='enable-background:new 0 0 23 28;', width="23" height="28" xml:space='preserve')
          g(transform='translate(-117 -7530)')
            g
              path#a(fill='#0068E2', d='M126,7555h6c0,1.7-1.3,3-3,3C127.3,7558,126,7556.7,126,7555L126,7555z M140,7552.5v1.5h-23v-1.5\
                      l2.9-2.9v-7.3c0-4.5,2.3-8.2,6.5-9.2v-1c0-1.2,1-2.2,2.2-2.2s2.2,1,2.2,2.2v1c4.1,1,6.5,4.7,6.5,9.2v7.3L140,7552.5z')
        p.special-offer__icon-counter 1
      p.special-offer__text.special-offer__text--1 <b>Специальное предложение!</b> <span class="inline-lg">Только для участников конференции:</span>
      .special-offer__discount скидка 50%
      p.special-offer__text.special-offer__text--2 <span class="br-lg">Скидка заканчивается через:</span><span class="br-md-sm">Заканчивается через:</span>
      .special-offer__timer#offer-countdown-1
        ul.special-offer__timer-time
          li 24
          li 00
          li 00
        ul.special-offer__timer-title
          li часа
          li мин
          li сек
      a(href="#packages").special-offer__more
        span.br-lg Получить скидку
        span.br-md-sm Подробнее
        svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 6 8', width='6', height='8', style='enable-background:new 0 0 6 8;', xml:space='preserve')
          g(transform='translate(-1238 -26)', opacity='0.7')
            g
              path#a(fill='#00CFBB', d='M1239.8,27l-0.8,0.8l2.7,2.7l-2.7,2.7l0.8,0.8l3.5-3.5L1239.8,27z')
            g
              path#a_1_(style='fill:#FFFFFF;fill-opacity:0;stroke:#00CFBB;stroke-miterlimit:50;', d='M1239.8,27l-0.8,0.8l2.7,2.7l-2.7,2.7l0.8,0.8l3.5-3.5L1239.8,27z')

  header.main-header.main-header--color-transparent
    .main-wrapper
      a(href="#intro").main-header__logo
        .main-header__logo-icon
        .main-header__logo-text Gerchik.ru

      ul.main-header__menu
        li.main-header__menu-item
          a(href="#author").main-header__menu-item-link Тренер
        li.main-header__menu-item
          a(href="#format").main-header__menu-item-link Формат обучения
        li.main-header__menu-item
          a(href="#program-1").main-header__menu-item-link Программа
        li.main-header__menu-item
          a(href="#packages").main-header__menu-item-link Стоимость
        li.main-header__menu-item
          a(href="#reviews").main-header__menu-item-link Отзывы
        li.main-header__menu-item
          a(href="#faq").main-header__menu-item-link FAQ

      ul.intro-right__about.intro-right__about--active
        li.intro-right__about-item
          h1 Онлайн-курс
          h2.seminar-date 7 октября 2017
        li.intro-right__about-item
          h1 Проводит
          h2 Александр Герчик

      p.main-header__tablet-text 7 октября в 20:00&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspАлександр Герчик

      a(href="#packages").btn.main-header__register + Забронировать
