.main-header-container
  header.main-header.main-header--success
    .main-wrapper
      a(href="http://60daysnew.gerchik.ru/").main-header__logo
        .main-header__logo-icon
        .main-header__logo-text Gerchik.ru

      ul.main-header__menu
        li.main-header__menu-item
          a(href="http://60daysnew.gerchik.ru/#author").main-header__menu-item-link Тренер
        li.main-header__menu-item
          a(href="http://60daysnew.gerchik.ru/#format").main-header__menu-item-link Формат обучения
        li.main-header__menu-item
          a(href="http://60daysnew.gerchik.ru/#program-1").main-header__menu-item-link Программа
        li.main-header__menu-item
          a(href="http://60daysnew.gerchik.ru/#packages").main-header__menu-item-link Стоимость
        li.main-header__menu-item
          a(href="http://60daysnew.gerchik.ru/#reviews").main-header__menu-item-link Отзывы
        li.main-header__menu-item
          a(href="http://60daysnew.gerchik.ru/#faq").main-header__menu-item-link FAQ