script(src='/js/jquery.cookie.js' type='text/javascript')
script(src='/js/TweenMax.min.js' type='text/javascript')
script(src='/js/TimelineMax.min.js' type='text/javascript')
script(src='/js/jquery.gsap.min.js' type='text/javascript')
script(src='/js/scrolloverflow.min.js' type='text/javascript')
script(src='/js/jquery.fullpage.min.js' type='text/javascript')
script(src='/js/jquery.countdown.min.js' type='text/javascript')
script(src='/js/slick.min.js' type='text/javascript')

script(type='text/javascript').
  (function(){ var widget_id = 'PXgVIq1rqs';var d=document;var w=window;function l()
  { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}
    if(d.readyState=='complete')
    {l();}
    else{if(w.attachEvent)
    {w.attachEvent('onload',l);}
    else
    {w.addEventListener('load',l,false);}
    }})();
script.
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
          {'gtm.start': new Date().getTime(),event:'gtm.js'}
  );var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K8KTLB6');
noscript
  iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-K8KTLB6', height='0', width='0', style='display:none;visibility:hidden')
script(type='text/javascript').
  (function(d, w, s)
          { var widgetHash = '22535', gcw = d.createElement(s); gcw.type = 'text/javascript'; gcw.async = true; gcw.src = '//widgets.binotel.com/getcall/widgets/'+ widgetHash +'.js'; var sn = d.getElementsByTagName(s)[0]; sn.parentNode.insertBefore(gcw, sn); }
  )(document, window, 'script');

script.
  $(function(){
    //popup close
    $('.popup__close').click(function(){
      $(this).closest('.popup-wrapper').fadeOut(300);
    });
    $('.notification__close').click(function () {
      $('.notification').fadeOut(300);
    });
    $('.popup-video .popup__close').click(function () {
      $(this).closest('.popup-video').find('.popup__video iframe').remove();
      $(this).closest('.popup-wrapper').fadeOut(300);
    });

    // faq list
    $('.faq-list__item-header').click(function(){
      $(this).closest('.faq-list__item').toggleClass('faq-list__item--active');
      $.fn.fullpage.reBuild();
    });

    // special offer
    var offerTime = 86400000*3;
    var offerTimeFull = new Date().getTime() + offerTime;

    if ($.cookie("offerTimeFull-sp1")) {
      offerTimeFull = $.cookie("offerTimeFull-sp1");
    } else {
      $.cookie("offerTimeFull-sp1", offerTimeFull, {expires: 30});
    }

    $("#offer-countdown-1").countdown(offerTimeFull, function (event) {
      var totalHours = event.offset.totalDays * 24 + event.offset.hours;
      $(this).html(event.strftime('<ul class="special-offer__timer-time"><li>'+ totalHours +'</li><li>%M</li><li>%S</li></ul><ul class="special-offer__timer-title"><li>часа</li><li>мин</li><li>сек</li></ul>'));
    }).on('finish.countdown', function (event) {
      console.log('offer finished');
    });
    $("#offer-countdown-2").countdown(offerTimeFull, function (event) {
      var totalHours = event.offset.totalDays * 24 + event.offset.hours;
      $(this).html(event.strftime('<ul class="special-offer__timer-time"><li>'+ totalHours +'</li><li>%M</li><li>%S</li></ul><ul class="special-offer__timer-title"><li>часа</li><li>мин</li><li>сек</li></ul>'));
    }).on('finish.countdown', function (event) {
      console.log('offer finished');
    });

    // date cookie
    var todayDate = new Date();
    var seminarDateStart = new Date();
    var seminarDate = new Date();
    var daysToAdd = 7;
    var seminarDateDD;
    var seminarDateMM;
    var seminarDateYYYY;
    seminarDateStart.setDate(seminarDateStart.getDate() + daysToAdd);
    seminarDateStart = seminarDateStart.getTime();

    if ($.cookie("seminarDate")) {
      seminarDate = new Date(parseInt($.cookie("seminarDate"), 10));
      if(seminarDate.getTime() < todayDate.getTime()) {
        $.cookie("seminarDate", seminarDateStart, {expires: 8});
        seminarDate = new Date(parseInt(seminarDateStart, 10));
      }
    } else {
      $.cookie("seminarDate", seminarDateStart, {expires: 8});
      seminarDate = new Date(parseInt(seminarDateStart, 10));
    }

    seminarDateDD = seminarDate.getDate();
    seminarDateMM = seminarDate.getMonth() + 1;
    seminarDateYYYY = seminarDate.getFullYear();
    if (seminarDateMM == 1) {
      seminarDateMM = 'января';
    } else if (seminarDateMM == 2) {
      seminarDateMM = 'февраля';
    } else if (seminarDateMM == 3) {
      seminarDateMM = 'марта';
    } else if (seminarDateMM == 4) {
      seminarDateMM = 'апреля';
    } else if (seminarDateMM == 5) {
      seminarDateMM = 'мая';
    } else if (seminarDateMM == 6) {
      seminarDateMM = 'июня';
    } else if (seminarDateMM == 7) {
      seminarDateMM = 'июля';
    } else if (seminarDateMM == 8) {
      seminarDateMM = 'августа';
    } else if (seminarDateMM == 9) {
      seminarDateMM = 'сентября';
    } else if (seminarDateMM == 10) {
      seminarDateMM = 'октября';
    } else if (seminarDateMM == 11) {
      seminarDateMM = 'ноября';
    } else if (seminarDateMM == 12) {
      seminarDateMM = 'декабря';
    }

    $('.seminar-date').text(seminarDateDD + ' ' + seminarDateMM + ' ' + seminarDateYYYY);

    // seats number
    var totalSeats = 60;
    var leftSeatsStart = randomNumberFromRange(18, 20);
    var leftSeats;
    var daysLeft = parseInt((seminarDate.getTime() - todayDate.getTime()) / (24 * 60 * 60 * 1000), 10);

    if ($.cookie("leftSeats")) {
      leftSeats = $.cookie("leftSeats");
      if(daysLeft == 6 && leftSeats >= 16){
        leftSeats = randomNumberFromRange(12, 15);
        $.cookie("leftSeats", leftSeats, {expires: 8});
      } else if(daysLeft == 5 && leftSeats >= 12 && leftSeats < 16){
        leftSeats = randomNumberFromRange(8, 11);
        $.cookie("leftSeats", leftSeats, {expires: 8});
      } else if(daysLeft == 4 && leftSeats >= 8 && leftSeats < 12){
        leftSeats = randomNumberFromRange(6, 7);
        $.cookie("leftSeats", leftSeats, {expires: 8});
      } else if(daysLeft == 3 && leftSeats >= 6 && leftSeats < 8){
        leftSeats = randomNumberFromRange(4, 5);
        $.cookie("leftSeats", leftSeats, {expires: 8});
      } else if(daysLeft == 2 && leftSeats >= 4 && leftSeats < 6){
        leftSeats = randomNumberFromRange(2, 3);
        $.cookie("leftSeats", leftSeats, {expires: 8});
      } else if(daysLeft == 1 && leftSeats >= 2 && leftSeats < 4){
        leftSeats = 1;
        $.cookie("leftSeats", leftSeats, {expires: 8});
      }
      if (seminarDate.getTime() < todayDate.getTime()) {
        $.cookie("leftSeats", leftSeatsStart, {expires: 8});
        leftSeats = leftSeatsStart;
      }
    } else {
      $.cookie("leftSeats", leftSeatsStart, {expires: 8});
      leftSeats = leftSeatsStart;
    }
    $('.seats-number').text(leftSeats + ' из ' + totalSeats);

    // notifications
    var packages = ['Базовый', 'Расширенный', 'VIP'];
    var names = ['Александр', 'Леонид', "Григорий", "Антон", "Максим", "Евгений", "Богдан", "Олег", "Даниил"];
    var packageRand = randomNumberFromRange(0, 2);
    var nameRand = randomNumberFromRange(0, 8);
    var notificationTime = randomNumberFromRange(30000, 240000);
    var notificationTimeFull = new Date().getTime() + notificationTime;
    packageRand = packages[packageRand];
    nameRand = names[nameRand];
    $('.notification__title').text('Пакет ' + packageRand);
    $('.notification__text').text(nameRand + ' только что забронировал место на курсе');

    $("#notification-countdown").countdown(notificationTimeFull, function (event) {
    }).on('finish.countdown', function (event) {
      $('.notification').fadeIn(300);
      if(leftSeats > 1){
        leftSeats = leftSeats - 1;
        $.cookie("leftSeats", leftSeats, {expires: 8});
        $('.seats-number').text(leftSeats + ' из ' + totalSeats);
        notificationTimeFull = new Date().getTime() + randomNumberFromRange(30000, 240000);
        $("#notification-countdown").countdown(notificationTimeFull)
      }
      setTimeout(function () {
        $('.notification').fadeOut(300);
      }, 5000);
    });

    // reviews slider
    var $reviews = $('.reviews-slider-container');
    var $reviewsSlider = $('.reviews-slider');
    $reviewsSlider.on('init', function (event, slick, currentSlide, nextSlide) {
      var i = (currentSlide ? currentSlide : 0) + 1;
      $reviews.append('<div class="reviews-counter"><span>' + i + ' </span>/ ' + slick.slideCount + '</div>');
    });
    $reviewsSlider.on('afterChange', function (event, slick, currentSlide, nextSlide) {
      var i = (currentSlide ? currentSlide : 0) + 1;
      $('.reviews-slider-container').find('.reviews-counter').html('<span>' + i + ' </span>/ ' + slick.slideCount);
    });
    $reviewsSlider.slick({
      centerMode: true,
      slidesToShow: 1,
      dots: false,
      arrows: true
    });

    // video-section show video
    $('.main-video__btn').click(function(){
      $(this).fadeOut(300);
      $('.main-video').append('<iframe src="https://player.vimeo.com/video/240151795?autoplay=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>');
    });
  });

  function showPopup(popupId){
    $(popupId).fadeIn(400);
  }

  function randomNumberFromRange(min, max) {
    return Math.floor(Math.random() * (max - min + 1) + min);
  }

  function vimeoLoadingThumb(id) {
    var url = "http://vimeo.com/api/v2/video/" + id + ".json?callback=showThumb";

    var id_img = "#vimeo-" + id;
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = url;

    $(id_img).before(script);
  }

  function showThumb(data) {
    var id_img = "#vimeo-" + data[0].id;
    $(id_img).attr('src', data[0].thumbnail_medium);
  }

  function programInitAnimation(id){
    TweenMax.to($(id + ' .program-item__thumb'), 1, {opacity: 1, scaleX: 1, scaleY: 1, delay: 0.6});
    TweenMax.to($(id + ' .program-item__thumb-text'), 1, {opacity: 1, top: 0, delay: 0.6});
    TweenMax.to($(id + ' .program-item__content'), 1, {opacity: 1, top: 0, delay: 0.6});
    TweenMax.to($(id + ' .program-curve svg'), 2.5, {strokeDashoffset: 0, delay: 0.2});
  }

  function programOutAnimation(){
    TweenMax.to($('.program-item__thumb'), 0.6, {opacity: 0, scaleX: 0.5, scaleY: 0.5});
    TweenMax.to($('.program-item__thumb-text'), 0.6, {opacity: 0, top: 140});
    TweenMax.to($('.program-item__content'), 0.6, {opacity: 0, top: 140});
    TweenMax.to($('.program-curve svg'), 0.6, {strokeDashoffset: 1000, delay: 0.1});
  }

  function showVideoPopup(popupId, videoId) {
    $(popupId + ' .popup__video').append('<iframe src="https://player.vimeo.com/video/'+ videoId +'?autoplay=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>');;
    $(popupId).fadeIn(400);
  }