doctype html
html
  head
    title Gerchik LP
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=yes')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    meta(name='title', content='Трейдинг от А до Я за 60 дней 2.0')
    meta(name='description', content='Лучшее онлайн обучение торговли на бирже с нуля и до результата с правильным соотношением риск/прибыль от одного из самых лучших трейдеров современности')
    meta(property='og:title', content='Трейдинг от А до Я за 60 дней 2.0')
    meta(property='og:description', content='Лучшее онлайн обучение торговли на бирже с нуля и до результата с правильным соотношением риск/прибыль от одного из самых лучших трейдеров современности')
    link(rel='stylesheet' href='/index.css')
    script(src='/js/jquery-2.1.4.min.js' type='text/javascript')
    script(src='/js/jquery.cookie.js' type='text/javascript')

  body
    div.page
      block contents
