.section.page-section#about-section
  include ../../partials/background-lines.jade

  .main-wrapper
    .section-content.about-content
      .page-title
        p.page-title__number.page-title__number--blue 02
        h1.page-title__text Только на этом курсе

      .about-curves
        .about-curves__image.about-curves__image--1
        .about-curves__image.about-curves__image--2
        .about-curves__image.about-curves__image--3

      .about-main
        ul.about-list
          li.about-list__item
            .about-list__item-icon
              svg(width='23px', height='23px', viewbox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#Gerchik-Product-Page-1366x700(transform='translate(-172.000000, -2348.000000)', fill-rule='nonzero', fill='#FFFFFF')
                    g#block-4(transform='translate(0.000000, 2096.000000)')
                      g#icons(transform='translate(163.000000, 243.000000)')
                        g#icon-1
                          g#refresh-user-sign(transform='translate(9.000000, 9.000000)')
                            path#Shape(d='M10.9870474,11.5451672 C9.89546847,11.4297513 9.04614417,10.5332083 9.04614417,9.4441914 C9.04614417,8.27684325 10.0220805,7.33065356 11.2261281,7.33065356 C12.4301757,7.33065356 13.4060751,8.27684325 13.4060751,9.4441914 C13.4060751,10.533017 12.5567376,11.4297385 11.4651762,11.5451672 L12.1952512,11.5451672 C13.5330942,11.5451672 14.6174146,12.5964732 14.6174146,13.8935029 L14.6174146,14.8328729 L7.83506246,14.8328729 L7.83506246,13.8935029 C7.83506246,12.5964732 8.91941976,11.5449887 10.2574468,11.5451672 L10.9870474,11.5451672 Z M21.4523557,6.09514862 C19.4811135,2.37029685 15.6071376,0 11.3831598,0 C6.91265954,0 2.83177458,2.65299783 0.986139775,6.75908267 C0.794690851,7.18462781 0.982089514,7.68605112 1.40465028,7.87938115 C1.82651955,8.07136688 2.32430651,7.88376256 2.51605179,7.45752039 C4.08997335,3.95577237 7.57028363,1.69311897 11.3831598,1.69311897 C14.9494641,1.69311897 18.2242483,3.67337012 19.9210607,6.79493063 L18.4240447,7.47848148 L22.5069548,10.4280714 L23,5.38889406 L21.4523557,6.09514862 Z M21.220256,15.4947321 C20.80545,15.2851709 20.300995,15.4561458 20.0936907,15.8738741 C18.434121,19.2250109 15.096212,21.3071798 11.3828141,21.3071798 C7.91519793,21.3071798 4.7764432,19.4907837 3.02455712,16.5216268 L4.49534521,15.7818145 L0.305992282,12.9879641 L0,18.0424266 L1.51914425,17.2785663 C3.56027824,20.8250247 7.2743676,23 11.3828141,23 C15.7367459,23 19.6503847,20.559003 21.5960906,16.6299672 C21.8036912,16.2113926 21.6351114,15.7032975 21.220256,15.4947321 Z')
            p.about-list__item-text
              | Со старта обучения Вы входите<br class="br-md"> в круг<br class="br-lg">
              | профессиональных успешных<br class="br-md"> трейдеров
          li.about-list__item
            .about-list__item-icon
              svg(width='24px', height='24px', viewbox='0 0 24 24', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#Gerchik-Product-Page-1366x700(transform='translate(-636.000000, -2347.000000)', stroke='#FFFFFF', fill-rule='nonzero', fill='#FFFFFF')
                    g#block-4(transform='translate(0.000000, 2096.000000)')
                      g#icons(transform='translate(163.000000, 243.000000)')
                        g#icon-4(transform='translate(465.000000, 0.000000)')
                          g#clock(transform='translate(9.000000, 9.000000)')
                            path#Shape(d='M14.0288544,12.378787 L12.0678676,11.4671442 L12.0678676,8.13888966 C12.0678676,7.89650352 11.82872,7.7 11.5338758,7.7 C11.2390315,7.7 11,7.89659891 11,8.13888966 L11,11.7231711 C11,11.7287991 11.0018566,11.734141 11.0019726,11.739769 C11.0026688,11.7552222 11.0048735,11.7701984 11.0075423,11.7854608 C11.009979,11.7993878 11.0124157,11.8132193 11.0163609,11.8267647 C11.0204221,11.8402147 11.0258757,11.8531878 11.0313294,11.8662562 C11.0372471,11.8801831 11.0429328,11.8936331 11.0503591,11.9068924 C11.0574372,11.9195792 11.0659077,11.9314076 11.0744943,11.9434268 C11.0831969,11.9555413 11.0916674,11.9676558 11.1016464,11.9791026 C11.1118575,11.9907402 11.1234609,12.0015193 11.1350644,12.0123938 C11.1463198,12.0228867 11.1573431,12.0330934 11.1697588,12.0426324 C11.1821745,12.0522668 11.1955185,12.0607565 11.2090946,12.0693416 C11.2237149,12.0786899 11.2384514,12.0875611 11.2543481,12.0956693 C11.2603819,12.0986264 11.2650233,12.1026328 11.2711732,12.1053991 L13.5032171,13.1430521 C13.586298,13.1815897 13.676457,13.2 13.7655716,13.2 C13.9518074,13.2 14.1325895,13.119777 14.2307548,12.9770734 C14.3759143,12.7658798 14.2854072,12.4981199 14.0288544,12.378787 Z')
                            path#Shape(d='M11,0 C4.93454181,0 0,4.93454181 0,11 C0,17.0652831 4.93454181,22 11,22 C17.0652831,22 22,17.0652831 22,11 C22,4.93454181 17.0652831,0 11,0 Z M11.7002578,20.2201197 L11.7002578,18.6153038 L10.2997422,18.6153038 L10.2997422,20.2201197 C5.96339561,19.8936245 2.45282809,16.5661744 1.84552949,12.3129834 L3.50146418,12.3129834 L3.50146418,10.9124678 L1.75292039,10.9124678 C1.79808702,6.08804151 5.55462011,2.13718687 10.2997422,1.77988032 L10.2997422,3.38469618 L11.7002578,3.38469618 L11.7002578,1.77988032 C16.4452048,2.13718687 20.201913,6.08804151 20.2470796,10.9124678 L18.5862431,10.9124678 L18.5862431,12.3129834 L20.1544705,12.3129834 C19.5471719,16.5661744 16.0367795,19.8936245 11.7002578,20.2201197 Z', stroke-width='0.2')
            p.about-list__item-text
              | Тратите всего 3-4 часа Вашего<br class="br-md"> времени<br class="br-lg">
              | в неделю, благодаря<br class="br-md"> ёмкости программы
          li.about-list__item
            .about-list__item-icon
              svg(width='21px', height='21px', viewbox='0 0 21 21', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#Gerchik-Product-Page-1366x700(transform='translate(-173.000000, -2439.000000)', fill-rule='nonzero', fill='#FFFFFF')
                    g#block-4(transform='translate(0.000000, 2096.000000)')
                      g#icons(transform='translate(163.000000, 243.000000)')
                        g#icon-2(transform='translate(0.000000, 90.000000)')
                          g#game-strategy-sketch(transform='translate(10.000000, 10.000000)')
                            path#Shape(d='M4.12514451,11.8088643 C6.08969863,11.8088643 7.68785267,10.2423254 7.68785267,8.31659189 C7.68785267,6.39090118 6.08969863,4.82436231 4.12514451,4.82436231 C2.16059039,4.82436231 0.56243636,6.39090118 0.56243636,8.31659189 C0.56243636,10.2422826 2.16063406,11.8088643 4.12514451,11.8088643 Z M4.12514451,6.27945797 C5.27084334,6.27945797 6.20339093,7.19351483 6.20339093,8.31659189 C6.20339093,9.43966896 5.27084334,10.3537686 4.12514451,10.3537686 C2.97944568,10.3537686 2.04689809,9.43966896 2.04689809,8.31659189 C2.04689809,7.19351483 2.97944568,6.27945797 4.12514451,6.27945797 Z M15.1680798,4.92032407 C15.0207291,8.46463768 13.9418483,11.9394804 12.1543385,14.5639668 C9.61408277,18.2935542 5.73515237,20.2647437 0.937485844,20.2647437 C0.419607635,20.2647437 0,19.8533787 0,19.3456734 C0,18.8379682 0.419607635,18.4266031 0.937485844,18.4266031 C10.2152318,18.4266031 13.0303363,10.2994264 13.2901302,4.92032407 L11.3518506,4.92032407 L14.2501157,0 L17.1477742,4.92032407 L15.1680798,4.92032407 L15.1680798,4.92032407 Z M20.7685735,19.6788012 C21.0771422,19.981263 21.0771422,20.4709651 20.7685735,20.7731082 C20.6142195,20.9244756 20.4124078,21 20.2103638,21 C20.0081805,21 19.806508,20.9244756 19.6520612,20.7733813 L17.9999536,19.1537269 L16.3479388,20.7733813 C16.193492,20.9244301 15.9916802,21 15.7896362,21 C15.5875922,21 15.3857805,20.9244756 15.2314265,20.7733813 C14.9228578,20.4709196 14.9228578,19.9812174 15.2314265,19.6790744 L16.8834412,18.0594199 L15.2314265,16.439811 C14.9228578,16.1373493 14.9228578,15.6476472 15.2314265,15.3455041 C15.5399023,15.043361 16.0394166,15.0430423 16.3476138,15.3455041 L17.9997214,16.965113 L19.651829,15.3455041 C19.9603048,15.0430423 20.4598191,15.0430423 20.7680163,15.3455041 C21.0762134,15.6479658 21.0765849,16.137668 20.7680163,16.439811 L19.1162801,18.0591013 L20.7685735,19.6788012 Z')
            p.about-list__item-text
              | Отрабатываете навыки точного входа<br class="br-md"> в сделку<br class="br-lg">
              | с соблюдением риск- и мани-<br class="br-md">менеджмента
          li.about-list__item
            .about-list__item-icon
              svg(width='17px', height='22px', viewbox='0 0 17 22', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#Gerchik-Product-Page-1366x700(transform='translate(-640.000000, -2438.000000)', fill-rule='nonzero', fill='#FFFFFF')
                    g#block-4(transform='translate(0.000000, 2096.000000)')
                      g#icons(transform='translate(163.000000, 243.000000)')
                        g#icon-5(transform='translate(465.000000, 90.000000)')
                          g#idea(transform='translate(12.000000, 9.000000)')
                            path#Shape(d='M8.03515625,0 C3.61689453,0 0.0351484375,3.58178906 0.0351484375,8.00000781 C0.0351484375,10.9747344 1.6589375,13.5702187 4.06841016,14.9486133 L4.06841016,18.6998711 L5.36847266,18.6998711 L5.36847266,19.3333164 C5.36847266,20.8060703 6.56235938,22 8.03515625,22 C9.50791016,22 10.7018398,20.8060703 10.7018398,19.3333164 L10.7018398,18.6998711 L12.0684609,18.6998711 L12.0684609,14.9098125 C14.4411094,13.5218789 16.035207,10.9472773 16.035207,8.00000781 C16.0351641,3.58178906 12.453418,0 8.03515625,0 Z M8.70181641,19.3333164 C8.70181641,19.7009141 8.40275391,19.9999766 8.03515625,19.9999766 C7.66755859,19.9999766 7.36849609,19.7009141 7.36849609,19.3333164 L7.36849609,18.6998711 L8.70181641,18.6998711 L8.70181641,19.3333164 Z M10.0684375,16.6998477 L6.06843359,16.6998477 L6.06843359,15.756125 C6.69771094,15.9151953 7.35650781,15.9999727 8.03515625,15.9999727 C8.73782422,15.9999727 9.41913672,15.9090938 10.0684375,15.7388945 L10.0684375,16.6998477 Z M8.03515625,13.9999922 C4.72677734,13.9999922 2.03517187,11.3084727 2.03517187,8.00000781 C2.03517187,4.69154297 4.72677734,1.99998047 8.03515625,1.99998047 C11.3435352,1.99998047 14.0351406,4.6915 14.0351406,7.99996484 C14.0351406,11.3084297 11.3435352,13.9999922 8.03515625,13.9999922 Z')
                            path#Shape(d='M11.8268047,8.00000781 C11.8268047,7.70313672 11.7926016,7.41442969 11.7280625,7.13719531 L12.5432656,6.47500391 L11.6099414,4.85834766 L10.6278906,5.23359375 C10.2083008,4.84017187 9.69920703,4.54128125 9.13451172,4.37039453 L8.96852344,3.33334375 L7.101875,3.33334375 L6.93601562,4.37039453 C6.37123437,4.54128125 5.86214062,4.84021484 5.44255078,5.23359375 L4.4605,4.85830469 L3.52717578,6.47496094 L4.34237891,7.13715234 C4.27783984,7.41434375 4.24363672,7.70309375 4.24363672,7.99996484 C4.24363672,8.29683594 4.27783984,8.58554297 4.34237891,8.86277734 L3.52717578,9.52496875 L4.4605,11.141625 L5.44255078,10.7663359 C5.86214062,11.1597578 6.37123437,11.4588203 6.93601562,11.6295352 L7.101875,12.6665859 L8.96852344,12.6665859 L9.13446875,11.6295352 C9.69925,11.4587344 10.2082578,11.1597148 10.6278477,10.7663359 L11.6098984,11.141625 L12.5432227,9.52496875 L11.7280195,8.86277734 C11.7926016,8.58558594 11.8268047,8.29687891 11.8268047,8.00000781 Z M8.03515625,9.99998828 C6.93060156,9.99998828 6.03517578,9.10451953 6.03517578,8.00000781 C6.03517578,6.89549609 6.93064453,6.00002734 8.03515625,6.00002734 C9.13966797,6.00002734 10.0351367,6.89549609 10.0351367,8.00000781 C10.0351367,9.10451953 9.13966797,9.99998828 8.03515625,9.99998828 Z')
            p.about-list__item-text
              //| По завершению обучения получите<br class="br-md"> работающий<br class="br-lg">
              //| алгоритм, чтобы всегда<br class="br-md"> работать с риском 3:1
              | После обучения получите<br class="br-md"> алгоритм для торговли <br class="br-lg">
              | с правильным соотношением<br class="br-md"> риск и прибыль
          li.about-list__item
            .about-list__item-icon
              svg(width='22px', height='22px', viewbox='0 0 22 22', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#Gerchik-Product-Page-1366x700(transform='translate(-172.000000, -2528.000000)', fill-rule='nonzero', fill='#FFFFFF')
                    g#block-4(transform='translate(0.000000, 2096.000000)')
                      g#icons(transform='translate(163.000000, 243.000000)')
                        g#icon-3(transform='translate(0.000000, 180.000000)')
                          path#Shape(d='M31,11.8284609 L27.7001289,12.2997852 L28.171582,9 L25.6615625,11.5099336 C23.9530391,10.3468555 21.8893789,9.66666016 19.6666484,9.66666016 C13.7755898,9.66666016 9,14.44225 9,20.3333516 C9,26.2244531 13.7755898,31 19.6666484,31 C25.5576641,31 30.3332969,26.2244102 30.3332969,20.3333516 C30.3332969,18.1106211 29.6531016,16.046875 28.4900234,14.3383516 L31,11.8284609 Z M25.7949375,26.4615977 C24.158,28.0985352 21.9816758,28.9999766 19.6666914,28.9999766 C17.351707,28.9999766 15.1752969,28.0984922 13.5384453,26.4615977 C11.9015078,24.8247461 11.0000234,22.6483359 11.0000234,20.3333086 C11.0000234,18.0182813 11.9015078,15.8419141 13.5384453,14.2050625 C15.1752969,12.568125 17.351707,11.6666406 19.6666914,11.6666406 C21.6449727,11.6666406 23.5216328,12.3254375 25.0473672,13.5384453 L22.6640195,15.921793 C21.8097578,15.3402539 20.7780352,14.9999844 19.6666914,14.9999844 C16.7211406,14.9999844 14.3333672,17.3878008 14.3333672,20.3333086 C14.3333672,23.2788164 16.7211836,25.6666328 19.6666914,25.6666328 C22.6121992,25.6666328 25.0000156,23.2788164 25.0000156,20.3333086 C25.0000156,19.2219648 24.6597461,18.1902422 24.078207,17.3359805 L26.4615547,14.9526328 C27.6745625,16.4782812 28.3333594,18.3550273 28.3333594,20.3333086 C28.3333164,22.6483359 27.431875,24.8246602 25.7949375,26.4615977 Z M19.2262188,20.7737812 C19.4214688,20.9690312 19.6774336,21.0666562 19.9333555,21.0666562 C20.1892773,21.0666562 20.4452422,20.9690742 20.6404063,20.7737383 L22.6212656,18.7928789 C22.8625781,19.2540195 22.9999922,19.7778086 22.9999922,20.3333516 C22.9999922,22.1713398 21.5046797,23.6666953 19.6666484,23.6666953 C17.8286172,23.6666953 16.3333047,22.1713828 16.3333047,20.3333516 C16.3333047,18.4953203 17.8286172,17.0000078 19.6666484,17.0000078 C20.2221914,17.0000078 20.7459375,17.1373359 21.2070352,17.3787344 L19.2261758,19.3595937 C18.8356758,19.7501367 18.8356758,20.3832812 19.2262188,20.7737812 Z')
            p.about-list__item-text
              | Учитесь только на реальных<br class="br-md"> примерах:<br class="br-lg">
              | всего 20 % теории<br class="br-md"> и 80 % практики
          li.about-list__item
            .about-list__item-icon
              svg(width='20px', height='20px', viewbox='0 0 20 20', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#Gerchik-Product-Page-1366x700(transform='translate(-638.000000, -2529.000000)', fill-rule='nonzero', fill='#FFFFFF')
                    g#block-4(transform='translate(0.000000, 2096.000000)')
                      g#icons(transform='translate(163.000000, 243.000000)')
                        g#icon-6(transform='translate(465.000000, 180.000000)')
                          g#search(transform='translate(10.000000, 10.000000)')
                            path#Shape(d='M19.1380859,14.9650391 L16.2673828,12.0943359 C16.7689063,11.0083594 17.0491406,9.79925781 17.0491406,8.52457031 C17.0491797,3.81660156 13.2325781,0 8.52460937,0 C3.81664062,0 0,3.81660156 0,8.52457031 C0,13.2325391 3.81660156,17.0491797 8.52457031,17.0491797 C9.79925781,17.0491797 11.0083594,16.7689063 12.0942578,16.2674219 L14.9649609,19.138125 C15.5207812,19.6939062 16.2617578,20 17.0515625,20 C17.8413672,20 18.5823047,19.6939062 19.138125,19.1380859 C19.6939062,18.5823047 20,17.8413281 20,17.0515234 C20,16.2618359 19.6939062,15.5207812 19.1380859,14.9650391 Z M8.52460938,15.0819531 C4.90886719,15.0819531 1.96722656,12.1403125 1.96722656,8.52457031 C1.96722656,4.90875 4.90886719,1.9671875 8.52460938,1.9671875 C12.1403516,1.9671875 15.0819922,4.90875 15.0819922,8.52457031 C15.0819531,12.1403125 12.1403125,15.0819531 8.52460938,15.0819531 Z M17.7470703,17.7470703 C17.5628125,17.9313281 17.3157812,18.0327734 17.0515234,18.0327734 C16.7872656,18.0327734 16.5403125,17.9313281 16.3560547,17.7470703 L13.8165625,15.2075781 C14.3319141,14.7989063 14.7989063,14.3319141 15.2075781,13.8165625 L17.7470703,16.3560547 C17.9313281,16.5403125 18.0327734,16.7872656 18.0327734,17.0515234 C18.0327734,17.3157813 17.9313281,17.5628125 17.7470703,17.7470703 Z')
                            rect#Rectangle-path(x='4.91804688', y='6.55738281', width='1.96722656', height='5.24589844')
                            rect#Rectangle-path(x='7.54097656', y='4.59015625', width='1.96722656', height='7.213125')
                            rect#Rectangle-path(x='10.1639453', y='6.55738281', width='1.96722656', height='5.24589844')
            p.about-list__item-text
              | Сформируете комплексное понимание<br class="br-md"> работы<br class="br-lg">
              | на рынке, получив чек-листы,<br class="br-md"> интеллект-карты и т.д.

      a(href="#packages").btn.btn--arrow-right.btn--big.about-register
        | Забронировать участие
        svg.btn__arrow(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 10', width='16', height='10', style='enable-background:new 0 0 16 10;', xml:space='preserve')
          g(transform='translate(-784 -557)')
            g
              path#a.st0(fill='#ffffff', d='M784,561.2h12.1l-3.1-3l1.2-1.2l5.1,5l-5.1,5l-1.2-1.2l3.1-3H784V561.2z')
      .about-seats
        .about-seats__icon
          svg(width='18px', height='18px', viewbox='0 0 18 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g#Gerchik-Product-Page-1366x700(transform='translate(-587.000000, -2710.000000)', fill-rule='nonzero', fill='#BCC4CE')
                g#block-4(transform='translate(0.000000, 2096.000000)')
                  g#place(transform='translate(587.000000, 610.000000)')
                    g#user(transform='translate(0.000000, 4.000000)')
                      path#Shape(d='M8.99986333,0 C4.02947363,0 7.33333336e-05,4.0295203 7.33333336e-05,8.99991 C7.33333336e-05,13.9701797 4.02947363,18 8.99986333,18 C13.970253,18 17.9999533,13.9701797 17.9999533,8.99991 C17.9999533,4.02940029 13.970253,0 8.99986333,0 Z M9.02728361,13.2459125 L9.02728361,13.2457925 L8.97232306,13.2457925 L5.12796461,13.2457925 C5.12796461,10.4344043 7.5971093,10.4350644 8.14503478,9.699937 L8.20773541,9.36471365 C7.43792771,8.97458975 6.89450228,8.03402034 6.89450228,6.93396934 C6.89450228,5.48471485 7.8372317,4.3096631 8.99986333,4.3096631 C10.162495,4.3096631 11.1052244,5.48471485 11.1052244,6.93396934 C11.1052244,8.02466025 10.571459,8.95934959 9.81191145,9.35565356 L9.88331217,9.73659737 C10.4844582,10.4360844 12.871462,10.4816848 12.871462,13.2459125 L9.02728361,13.2459125 L9.02728361,13.2459125 Z')
        .about-seats__text Осталось мест:  <span class="seats-number">20 из 60</span>