.section.page-section#author-section
  include ../../partials/background-lines.jade

  .main-wrapper
    .section-content.author-content
      .page-title
        p.page-title__number 01
        h1.page-title__text Автор курса<br class="br-sm"> и Ваш наставник

      .author-main
        .author-list
          .author-item
            h1.author-item__title
              .author-item__title-icon
                svg(width='18px', height='21px', viewbox='0 0 18 21', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                  g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    g#Gerchik-Product-Page-1366x700(transform='translate(-177.000000, -1646.000000)', fill-rule='nonzero', fill='#45BDFF')
                      g#block-3(transform='translate(0.000000, 1396.000000)')
                        g#text(transform='translate(163.000000, 239.000000)')
                          g#line-1
                            g#1
                              g#shield(transform='translate(14.000000, 11.000000)')
                                path#Shape(d='M17.3979569,3.28076724 C13.8149224,3.28076724 11.0699569,2.25707759 8.7487931,0 C6.42787069,2.25707759 3.68302586,3.28076724 0.100293103,3.28076724 C0.100293103,9.15865517 -1.1159569,17.5786897 8.74873276,20.99825 C18.6141466,17.57875 17.3979569,9.15871552 17.3979569,3.28076724 Z M8.03231897,13.6242328 L5.15091379,10.7424052 L6.44102586,9.45235345 L8.03231897,11.0440086 L11.0568621,8.01940517 L12.3469138,9.3094569 L8.03231897,13.6242328 Z')
              .author-item__title-text Звание самого безопасного трейдера
            h2.author-item__subtitle
              | в секторе daily traiding по версии Mojo Wall Street<br>
              | Warriors телекомпании CNBC
            .author-item-sublist
              .author-item-sublist__item
                .author-item-sublist__item-icon
                  svg(width='25px', height='24px', viewbox='0 0 25 24', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      g#Gerchik-Product-Page-1366x700(transform='translate(-165.000000, -1798.000000)', fill-rule='nonzero', fill='#ADB7C4')
                        g#block-3(transform='translate(0.000000, 1396.000000)')
                          g#text(transform='translate(163.000000, 239.000000)')
                            g#line-2(transform='translate(2.000000, 160.000000)')
                              g#1
                                g#briefcase(transform='translate(0.000000, 3.000000)')
                                  path#Shape(d='M21.6978791,13.799729 L14.9970055,13.799729 L14.9970055,17.3171576 L9.89138985,17.3171576 L9.89138985,13.799729 L3.19100975,13.799729 C1.96445767,13.799729 0.847974439,13.2844924 0,12.4449885 L0,20.4825714 C0,22.4172931 1.43583099,24 3.19100975,24 L21.6978791,24 C23.4530579,24 24.8888889,22.4172931 24.8888889,20.4825714 L24.8888889,12.4444444 C24.0409144,13.2844924 22.9244312,13.799729 21.6978791,13.799729 Z')
                                  path#Shape(d='M16.9116113,4.62204937 L16.9116113,3.55563412 C16.9116113,1.59989786 15.4757803,0 13.7206016,0 L11.1677938,0 C9.41261499,0 7.976784,1.59989786 7.976784,3.55563412 L7.976784,4.62204937 L0,4.62204937 L0,8.88881032 C0,10.8445466 1.43583099,12.4444444 3.19100975,12.4444444 L21.6978791,12.4444444 C23.4530579,12.4444444 24.8888889,10.8445466 24.8888889,8.88881032 L24.8888889,4.62204937 L16.9116113,4.62204937 Z M14.6776577,4.62204937 L10.2107376,4.62204937 L10.2107376,3.55563412 C10.2107376,2.97760296 10.6490387,2.48921888 11.1677938,2.48921888 L13.7206016,2.48921888 C14.2393566,2.48921888 14.6776577,2.97760296 14.6776577,3.55563412 L14.6776577,4.62204937 Z')
                .author-item-sublist__item-content
                  h1.author-item-sublist__item-title Универсальные принципы
                  p.author-item-sublist__item-text
                    | торговли, подходящие любому рынку,<br>
                    | используют  10 000 + студентов<br>
                    | из разных стран мира
              .author-item-sublist__item
                .author-item-sublist__item-icon
                  svg(width='20px', height='28px', viewbox='0 0 20 28', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      g#Gerchik-Product-Page-1366x700(transform='translate(-167.000000, -1933.000000)', fill-rule='nonzero', fill='#ADB7C4')
                        g#block-3(transform='translate(0.000000, 1396.000000)')
                          g#text(transform='translate(163.000000, 239.000000)')
                            g#line-2(transform='translate(2.000000, 160.000000)')
                              g#3(transform='translate(2.000000, 136.000000)')
                                g#passed(transform='translate(0.000000, 2.000000)')
                                  polygon#Shape(points='12.0130879 1.55555556 12.0130879 0 8.57750511 0 8.57750511 1.55555556 5.6 1.55555556 5.6 4.66666667 14.9333333 4.66666667 14.9333333 1.55555556')
                                  path#Shape(d='M16.016,3.73333333 L16.016,6.95457227 L3.528,6.95457227 L3.528,3.73333333 L0,3.73333333 L0,28 L19.6,28 L19.6,3.73333333 L16.016,3.73333333 Z M4.2,19.6867257 L9.8,19.6867257 L9.8,21.2973451 L4.2,21.2973451 L4.2,19.6867257 Z M15.4,18.0761062 L4.2,18.0761062 L4.2,16.4654867 L15.4,16.4654867 L15.4,18.0761062 Z M15.4,14.8548673 L4.2,14.8548673 L4.2,13.2442478 L15.4,13.2442478 L15.4,14.8548673 Z')
                .author-item-sublist__item-content
                  h1.author-item-sublist__item-title Налоговые декларации,
                  p.author-item-sublist__item-text
                    | подтверждающие, что Александр Герчик -<br>
                    | единственный трейдер в СНГ, <br>
                    | зарабатывающий миллионы с трейдинга

          .author-item
            h1.author-item__title
              .author-item__title-icon
                svg(width='18px', height='22px', viewbox='0 0 18 22', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                  g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    g#Gerchik-Product-Page-1366x700(transform='translate(-625.000000, -1645.000000)', fill-rule='nonzero', fill='#45BDFF')
                      g#block-3(transform='translate(0.000000, 1396.000000)')
                        g#text(transform='translate(163.000000, 239.000000)')
                          g#line-1
                            g#2(transform='translate(448.000000, 0.000000)')
                              g#money-bag-with-dollar-symbol(transform='translate(14.000000, 10.000000)')
                                path#Shape(d='M10.1368125,4.78683844 C11.7876363,3.38094874 12.8907047,0.213684966 12.2118698,0.0751563252 C11.3098886,-0.108979092 9.35120442,0.698431676 8.40449177,0.840687546 C7.06173254,1.00504795 5.59928106,-0.635450049 4.77838825,0.278963224 C4.11094051,1.02244168 5.25690197,3.726235 7.04978374,4.90414259 C1.70080617,7.56931768 -5.81754252,20.9487203 7.29861496,21.9195079 C25.4470557,23.2628112 16.3594823,7.38399163 10.1368125,4.78683844 Z M11.6954161,15.3384656 C11.639604,15.8600705 11.3669262,16.3317719 10.9593394,16.6520029 C10.5289783,16.9901453 9.98918867,17.1474136 9.45287135,17.1914674 L9.45287135,17.76779 C9.45287135,17.9220041 9.38643806,18.071145 9.27256702,18.1732296 C9.11605816,18.3136219 8.88606928,18.348254 8.69611399,18.2595253 C8.50855867,18.172039 8.38534305,17.9770325 8.38534305,17.76779 L8.38534305,17.1378885 C8.29337813,17.1201842 8.20207704,17.099115 8.11184828,17.074008 C7.61061142,16.9343922 7.14568052,16.6622528 6.80605885,16.2596086 C6.6368863,16.0589078 6.49896446,15.8311845 6.40357831,15.5853427 C6.37865945,15.5210998 6.35644693,15.4556663 6.33699183,15.389508 C6.31937501,15.3296135 6.30119649,15.2687354 6.29491572,15.2063044 C6.28434562,15.1015796 6.30482199,14.9947324 6.35297463,14.9014482 C6.45193521,14.7095477 6.66047752,14.5936412 6.87341128,14.6128986 C7.08297485,14.6317418 7.26664936,14.7791744 7.33262308,14.9816871 C7.35294626,15.0440664 7.36673333,15.1079987 7.38955861,15.169705 C7.41217963,15.2309972 7.43949847,15.2905811 7.47161725,15.3473178 C7.53503781,15.4590311 7.61449222,15.5620476 7.70599757,15.6514493 C7.89462521,15.8356882 8.13487781,15.9554254 8.38534305,16.0266569 L8.38534305,13.8854679 C7.89559542,13.7569303 7.39006924,13.5909134 6.9856483,13.2721318 C6.78910585,13.1171413 6.62233327,12.9245678 6.51310898,12.6966375 C6.39785923,12.456076 6.35011509,12.1880779 6.34817469,11.9218917 C6.34618322,11.6516159 6.39683796,11.3837214 6.50805372,11.1374655 C6.61222275,10.9068951 6.76219552,10.6998786 6.94607428,10.5282708 C7.33926131,10.1613977 7.86153623,9.95676253 8.38539411,9.88159676 L8.38539411,9.83448874 L8.38539411,9.2833249 C8.38539411,9.12916261 8.4518274,8.97996995 8.56569845,8.87788532 C8.72225837,8.73754483 8.95214512,8.7028609 9.14215148,8.79158964 C9.32965573,8.87912773 9.45292242,9.07408246 9.45292242,9.2833249 L9.45292242,9.83448874 L9.45292242,9.87833544 C9.52272588,9.88723937 9.59232509,9.89790339 9.66156686,9.91063808 C10.175978,10.0050094 10.6791042,10.2203604 11.0552872,10.5963445 C11.2334979,10.7744232 11.3793857,10.9866163 11.4819717,11.2180151 C11.5106182,11.2825686 11.5356903,11.3486234 11.5573921,11.4159723 C11.5776132,11.4787657 11.5979364,11.5434228 11.6075873,11.6089599 C11.6230084,11.7135811 11.6072809,11.8216707 11.5631112,11.917388 C11.4726271,12.1134816 11.2697018,12.2383437 11.0562063,12.2290774 C10.8464385,12.2198111 10.6563811,12.0813343 10.5812671,11.8825488 C10.5589014,11.8234308 10.5477185,11.7608444 10.5248932,11.7018817 C10.5018637,11.6421943 10.4720428,11.5852506 10.4376772,11.5314646 C10.3708865,11.4268951 10.2843343,11.3372346 10.1855269,11.263363 C9.97157185,11.1031957 9.71206841,11.0197473 9.45276923,10.9731051 L9.45276923,13.0221487 C9.76093594,13.0969521 10.069358,13.178537 10.3646057,13.2965659 C10.8108474,13.4749552 11.2337022,13.7484923 11.4772739,14.1798154 C11.4394871,14.1126218 11.4027216,14.0471364 11.4785505,14.1820414 C11.5530007,14.314565 11.5174607,14.2514092 11.4800824,14.1849921 C11.6738674,14.5312102 11.7375433,14.9451913 11.6954161,15.3384656 Z')
              .author-item__title-text Единственный тренер,
            h2.author-item__subtitle
              | который инвестирует свои собственные<br>
              | деньги в торговлю своих учеников
            .author-item-sublist
              .author-item-sublist__item.author-item-sublist__item--mobile
                .author-item-sublist__item-icon
                  svg(width='25px', height='24px', viewbox='0 0 25 24', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      g#Gerchik-Product-Page-1366x700(transform='translate(-165.000000, -1798.000000)', fill-rule='nonzero', fill='#ADB7C4')
                        g#block-3(transform='translate(0.000000, 1396.000000)')
                          g#text(transform='translate(163.000000, 239.000000)')
                            g#line-2(transform='translate(2.000000, 160.000000)')
                              g#1
                                g#briefcase(transform='translate(0.000000, 3.000000)')
                                  path#Shape(d='M21.6978791,13.799729 L14.9970055,13.799729 L14.9970055,17.3171576 L9.89138985,17.3171576 L9.89138985,13.799729 L3.19100975,13.799729 C1.96445767,13.799729 0.847974439,13.2844924 0,12.4449885 L0,20.4825714 C0,22.4172931 1.43583099,24 3.19100975,24 L21.6978791,24 C23.4530579,24 24.8888889,22.4172931 24.8888889,20.4825714 L24.8888889,12.4444444 C24.0409144,13.2844924 22.9244312,13.799729 21.6978791,13.799729 Z')
                                  path#Shape(d='M16.9116113,4.62204937 L16.9116113,3.55563412 C16.9116113,1.59989786 15.4757803,0 13.7206016,0 L11.1677938,0 C9.41261499,0 7.976784,1.59989786 7.976784,3.55563412 L7.976784,4.62204937 L0,4.62204937 L0,8.88881032 C0,10.8445466 1.43583099,12.4444444 3.19100975,12.4444444 L21.6978791,12.4444444 C23.4530579,12.4444444 24.8888889,10.8445466 24.8888889,8.88881032 L24.8888889,4.62204937 L16.9116113,4.62204937 Z M14.6776577,4.62204937 L10.2107376,4.62204937 L10.2107376,3.55563412 C10.2107376,2.97760296 10.6490387,2.48921888 11.1677938,2.48921888 L13.7206016,2.48921888 C14.2393566,2.48921888 14.6776577,2.97760296 14.6776577,3.55563412 L14.6776577,4.62204937 Z')
                .author-item-sublist__item-content
                  h1.author-item-sublist__item-title Универсальные принципы
                  p.author-item-sublist__item-text
                    | торговли, подходящие любому рынку,<br>
                    | используют  10 000 + студентов<br>
                    | из разных стран мира
              .author-item-sublist__item.author-item-sublist__item--mobile
                .author-item-sublist__item-icon
                  svg(width='20px', height='28px', viewbox='0 0 20 28', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      g#Gerchik-Product-Page-1366x700(transform='translate(-167.000000, -1933.000000)', fill-rule='nonzero', fill='#ADB7C4')
                        g#block-3(transform='translate(0.000000, 1396.000000)')
                          g#text(transform='translate(163.000000, 239.000000)')
                            g#line-2(transform='translate(2.000000, 160.000000)')
                              g#3(transform='translate(2.000000, 136.000000)')
                                g#passed(transform='translate(0.000000, 2.000000)')
                                  polygon#Shape(points='12.0130879 1.55555556 12.0130879 0 8.57750511 0 8.57750511 1.55555556 5.6 1.55555556 5.6 4.66666667 14.9333333 4.66666667 14.9333333 1.55555556')
                                  path#Shape(d='M16.016,3.73333333 L16.016,6.95457227 L3.528,6.95457227 L3.528,3.73333333 L0,3.73333333 L0,28 L19.6,28 L19.6,3.73333333 L16.016,3.73333333 Z M4.2,19.6867257 L9.8,19.6867257 L9.8,21.2973451 L4.2,21.2973451 L4.2,19.6867257 Z M15.4,18.0761062 L4.2,18.0761062 L4.2,16.4654867 L15.4,16.4654867 L15.4,18.0761062 Z M15.4,14.8548673 L4.2,14.8548673 L4.2,13.2442478 L15.4,13.2442478 L15.4,14.8548673 Z')
                .author-item-sublist__item-content
                  h1.author-item-sublist__item-title Налоговые декларации,
                  p.author-item-sublist__item-text
                    | подтверждающие, что Александр Герчик -<br>
                    | единственный трейдер в СНГ, <br>
                    | зарабатывающий миллионы с трейдинга
              .author-item-sublist__item
                .author-item-sublist__item-icon
                  svg(width='27px', height='25px', viewbox='0 0 27 25', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      g#Gerchik-Product-Page-1366x700(transform='translate(-567.000000, -1801.000000)', fill-rule='nonzero', fill='#ADB7C4')
                        g#block-3(transform='translate(0.000000, 1396.000000)')
                          g#text(transform='translate(163.000000, 239.000000)')
                            g#line-2(transform='translate(2.000000, 160.000000)')
                              g#2(transform='translate(402.000000, 0.000000)')
                                g#promotion(transform='translate(0.000000, 6.000000)')
                                  path#Shape(d='M11.9230074,9.91942783 C11.8193083,9.77790905 11.6542285,9.69426352 11.4787787,9.69426352 C11.303329,9.69426352 11.1382492,9.77790905 11.0345501,9.91942783 L8.10649914,13.9149695 C7.9838902,14.0823368 7.96566661,14.3044511 8.05952955,14.4895083 C8.15331624,14.6745654 8.34317709,14.7912269 8.5507278,14.7912269 L9.75455239,14.7912269 L9.75455239,24.0718392 C9.75455239,24.3759978 10.0010665,24.6225882 10.3052251,24.6225882 L12.6521798,24.6225882 C12.9563384,24.6225882 13.2029288,24.376074 13.2029288,24.0718392 L13.2029288,14.7912269 L14.4066771,14.7912269 C14.6141516,14.7912269 14.8040125,14.6745654 14.8978754,14.4895083 C14.9917383,14.3044511 14.9735147,14.0824131 14.8509058,13.9149695 L11.9230074,9.91942783 Z')
                                  path#Shape(d='M3.49588318,15.185806 C3.41031047,15.0690245 3.27408627,15 3.1293048,15 C2.98452333,15 2.84829912,15.0690245 2.76272642,15.185806 L0.346555822,18.4829351 C0.245378679,18.6211098 0.230340534,18.8043361 0.307796419,18.9570456 C0.385189383,19.1097552 0.541862945,19.2060245 0.713134205,19.2060245 L1.70653268,19.2060245 L1.70653268,24.168109 C1.70653268,24.4191013 1.90995662,24.6225882 2.16094893,24.6225882 L4.09766067,24.6225882 C4.34865297,24.6225882 4.55213984,24.4191642 4.55213984,24.168109 L4.55213984,19.2060245 L5.54553831,19.2060245 C5.71680957,19.2060245 5.87342021,19.1097552 5.9508761,18.9570456 C6.02833198,18.8043361 6.01329384,18.6210469 5.9121167,18.4829351 L3.49588318,15.185806 Z')
                                  path#Shape(d='M21.3207318,5.75898065 C22.9041868,5.75898065 24.1922823,4.47079498 24.1922823,2.88733998 C24.1922823,1.30388499 22.9040967,0.0157894737 21.3207318,0.0157894737 C19.737367,0.0157894737 18.4490912,1.30397515 18.4490912,2.88733998 C18.4490912,4.47070482 19.737367,5.75898065 21.3207318,5.75898065 Z')
                                  path#Shape(d='M24.4747492,7.15057821 L24.4699707,7.14895536 L23.6503392,6.8975031 C23.5210518,6.85774317 23.3829288,6.92617352 23.3364972,7.05365775 L21.6131161,11.7822044 C21.5136712,12.0550242 21.1278827,12.0550242 21.0284377,11.7822044 L19.3050566,7.05365775 C19.2675507,6.95069666 19.1703597,6.88614312 19.0661364,6.88614312 C19.041433,6.88614312 18.1725748,7.14868488 18.1725748,7.14868488 C17.1256535,7.49750839 16.4261131,8.46815558 16.4261131,9.56556571 L16.4261131,14.5676534 C16.4261131,14.6173308 16.4406287,14.6659263 16.4679467,14.7073992 L18.2661594,17.4438922 L18.2661594,24.3679803 C18.2661594,24.5085376 18.3801199,24.622498 18.5206771,24.622498 L24.1208768,24.622498 C24.261434,24.622498 24.3753944,24.5085376 24.3753944,24.3679803 L24.3753944,17.4438922 L26.1736071,14.7073992 C26.200835,14.6659263 26.2154407,14.6173308 26.2154407,14.5676534 L26.2154407,9.55240256 C26.2154407,8.45977083 25.5131956,7.4907465 24.4747492,7.15057821 L24.4747492,7.15057821 Z')
                                  path#Shape(d='M22.0696791,6.68878601 C21.9904297,6.60250425 21.8746661,6.55904782 21.7575501,6.55904782 L20.8839136,6.55904782 C20.7667976,6.55904782 20.651034,6.60250425 20.5717846,6.68878601 C20.4491689,6.82240101 20.4314077,7.01534035 20.5184107,7.16617564 L20.9854321,7.87022393 L20.7667976,9.71450767 L21.1973048,10.8597019 C21.2393186,10.9748343 21.402145,10.9748343 21.4441589,10.8597019 L21.8746661,9.71450767 L21.6560316,7.87022393 L22.123053,7.16617564 C22.2101461,7.01534035 22.1922948,6.82240101 22.0696791,6.68878601 L22.0696791,6.68878601 Z')
                .author-item-sublist__item-content
                  h1.author-item-sublist__item-title Путь от начинающего трейдера
                  p.author-item-sublist__item-text
                    | до управляющего партнёра<br>
                    | Hold Brothers, одной из крупнейших<br>
                    | брокерских компаний США
              .author-item-sublist__item
                .author-item-sublist__item-icon
                  svg(width='23px', height='30px', viewbox='0 0 23 30', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      g#Gerchik-Product-Page-1366x700(transform='translate(-570.000000, -1935.000000)', fill-rule='nonzero', fill='#ADB7C4')
                        g#block-3(transform='translate(0.000000, 1396.000000)')
                          g#text(transform='translate(163.000000, 239.000000)')
                            g#line-2(transform='translate(2.000000, 160.000000)')
                              g#4(transform='translate(405.000000, 138.000000)')
                                g#book-of-black-cover-in-diagonal-position(transform='translate(0.000000, 2.000000)')
                                  path#Shape(d='M2.93124874,3.99315393 C4.56646635,4.90827571 6.18138714,5.81545525 7.79983781,6.71910492 C10.3078186,8.11870293 12.8105046,9.52624318 15.3290751,10.902897 C15.9141529,11.2223512 16.1621271,11.6203454 16.1594797,12.30073 C16.1365354,17.7949906 16.1435952,23.2892512 16.1435952,28.7817468 C16.1435952,29.2115099 16.163892,29.6262709 15.6820632,29.8663029 C15.167583,30.1213368 14.7404673,29.981024 14.2939373,29.7012809 C10.5769721,27.3812663 6.85118215,25.0753712 3.13421693,22.7562391 C0.395911353,21.0477764 0.917451345,21.7758145 0.875975237,18.7427638 C0.8115549,14.075378 0.793023022,9.40799215 0.703893514,4.74060634 C0.681831755,3.59339485 1.11688965,2.74357588 1.93935204,2.02700993 C3.21363926,0.915979727 4.67677515,0.180881904 6.3640585,0.0114475921 C6.85206462,-0.0388532194 7.41949307,0.0767503999 7.85808085,0.298250464 C12.4372196,2.61826508 16.9951791,4.97887334 21.5646107,7.31388995 C22.1567483,7.61745976 22.3950154,8.02251366 22.3923679,8.70731068 C22.3676588,14.2951131 22.3517743,19.883798 22.4020751,25.4716004 C22.4117823,26.5685111 21.5372541,27.1456467 20.4906443,26.748535 C19.9841063,26.5543916 19.8190843,26.1784592 19.8217317,25.6392698 C19.8384987,22.101446 19.8305564,18.5645048 19.829674,15.0293284 C19.829674,13.283802 19.8164369,11.5391581 19.8384987,9.79451418 C19.844676,9.33033476 19.6814189,9.11324705 19.2587156,8.88998204 C15.9053282,7.12504129 12.5740025,5.31685949 9.23473464,3.52367969 C8.5508201,3.15657201 7.85719838,2.80358386 7.17769619,2.42765148 C6.48583942,2.04554181 5.77986312,2.01377287 5.07918164,2.35352397 C4.27878101,2.74092846 3.44837638,3.10538873 2.93124874,3.99315393 Z')
                .author-item-sublist__item-content
                  h1.author-item-sublist__item-title Автор и соавтор книг:
                  p.author-item-sublist__item-text
                    | «Биржевый Грааль или Приключения<br>
                    | трейдера Буратино», «Биржа для<br>
                    | блондинок» и «В джунглях трейдинга»

        .author-right
          .author-quote
            p.author-quote__text
              | «Есть способ торговать на бирже,<br class="br-md-sm"> абсолютно легально<br class="br-lg">
              | и честно<br class="br-md-sm"> зарабатывая достойные деньги.»
            h3.author-quote__name А. Герчик
          .author-gerchik