.section.page-section#faq-section
  include ../../partials/background-lines.jade

  .main-wrapper
    .section-content.faq-content
      .page-title
        p.page-title__number 06
        h1.page-title__text FAQ

      ul.faq-list
        li.faq-list__item
          header.faq-list__item-header
            h1.faq-list__item-title <span>01.</span>  Если я совсем новичок в трейдинге, будет ли мне понятна информация?
          .faq-list__item-content
            | Александр Михайлович сторонник того, что человека легче научить с нуля, чем переучивать. Переучивать очень тяжело, убирать чужие привычки очень тяжело.
            br
            br
            | В программе предусмотрена дополнительная сессия как раз для новичков, где ответы на все самые распространённые вопросы - что такое лонг, шорт, бид, аск, атр и так далее, кто такие продавцы и покупатели, как выбрать брокера, на каком рынке начинать, размер минимального депозита и многое-многое другое.
            br
            br
            | По опыту наших студентов, даже те, чей уровень до обучения в программе был равен нулю - достигали желаемых результатов. Александр Михайлович дает много простых решений в обучении для новичков, поэтому, у Вас все получится.
        li.faq-list__item
          header.faq-list__item-header
            h1.faq-list__item-title <span>02.</span>  Смогу ли я лично пообщаться с Александром Михайловичем и задать ему свои вопросы?
          .faq-list__item-content
            | Обязательно. В пакете <a href="#packages">Расширенный</a> и <a href="#packages">VIP</a> предусмотрены онлайн встречи с Александром Михайловичем. Во время таких встреч Александр Герчик ответит на все Ваши вопросы, даст обратную связь по сделкам и рекомендации по алгоритму.
            br
            br
            | Также на все  60 дней обучения за студентами, которые приобрели пакет <a href="#packages">VIP</a>, закрепляется куратор, который специализируется на одном из рынков.
            br
            br
            | Он будет проверять Ваше домашнее задание и давать обратную связь по ним.
            br
            br
            | Онлайн программа - это не фильм, который можно посмотреть и забыть.
            br
            br
            | Вам придется много трудится, выполнять задания, анализировать ошибки, снова и снова допиливать свой алгоритм, чтобы в дальнейшем совершать только обдуманные сделки.
        li.faq-list__item
          header.faq-list__item-header
            h1.faq-list__item-title <span>03.</span>  В чем задача домашних заданий и как их выполнение мне поможет?
          .faq-list__item-content
            | Онлайн программа “Трейдинг от А до Я за 60 дней” - это обучение с гарантированным результатом, а значит, практически после каждого видеоурока Вам открывается домашнее задание, которое Вы заполняете и отправляете на проверку своему куратору <a href="#packages">(пакет VIP)</a> и в кратчайшие сроки получаете разбор ошибок, инструкцию, как больше их не допускать, и рекомендации конкретно по Вашей модели торговли.
            br
            br
            | Домашние задания состоят из тестовых вопросов, скринов графиков, ответов в произвольной форме.
            br
            br
            | В целом, программа состоит из 130 видеоуроков и 70 домашних заданий.
            br
            br
            | Что самое важное, каждое задание создано командой кураторов Александра Герчика и является необходимым этапом  для комплексного понимания работы биржи, законов, по которым взаимодействует рынок.
        li.faq-list__item
          header.faq-list__item-header
            h1.faq-list__item-title <span>04.</span>  Может ли обычный человек без технических навыков справиться с онлайн программой и внедрить инструменты, которым будет обучать Александр Герчик?
          .faq-list__item-content
            | Безусловно. Программа построена таким образом, что с этими знаниями справится пятиклассник. В процессе обучения вы получите пошаговые инструкции и простые инструменты, которые сможете сразу же применить в своей торговле. Тем более Александр Герчик приготовил эксклюзивные бонусные материалы, которые не заявлены в описании.
            br
            br
            | Это не значит, что все будет просто. Но при желании и ответственном подходе к обучению, у Вас все получится.
        li.faq-list__item
          header.faq-list__item-header
            h1.faq-list__item-title <span>05.</span>  На примере какого рынка и таймфрейма будем учиться?
          .faq-list__item-content
            | Стратегия торговли, которой обучает Александра Герчика, работает для каждого из рынков и не зависит от таймфрейма.
            br
            br
            | Её главным отличием является высокая прибыльность при сравнительно малых рисках. Стратегия проверена временем и колебаниями рынка, поэтому любой трейдер, торгующий по данной системе, всегда будет в плюсе, независимо от рынка.
            br
            br
            | Потому, на каком бы вы рынке не торговали и на каком таймфрейме - Вы получите целый свод правил и инструментов для безопасного трейдинга.
            br
            br
            | Если же Вы еще не определились или хотите поменять - не вопрос. Александр Михайлович расскажет плюсы и минусы работы на каждом из рынков и Вы выберете тот, который подходит именно Вам.
        li.faq-list__item
          header.faq-list__item-header
            h1.faq-list__item-title <span>06.</span>  Какая поддержка и от кого будет оказываться в течение 60 дней?
          .faq-list__item-content
            | Вы получаете полную поддержку от команды GERCHIK.RU, можете звонить на входящую линию или писать нам Ваши вопросы, и они будут рассматриваться как приоритетные (в рабочее время поддержки).
            br
            br
            | В <a href="#packages">пакете VIP</a> на Ваши вопросы по биржевой торговле отвечает отдельный куратор (куратор назначается в зависимости от того, на каком рынке вы торгуете или только думаете начать торговать), он же проверяет Ваши ДЗ и дает Вам обратную связь.
        li.faq-list__item
          header.faq-list__item-header
            h1.faq-list__item-title <span>07.</span>  Я торгую маленькие объемы, но хочу их увеличить. Как участие в программе мне поможет в этом?
          .faq-list__item-content
            | Торговать на маленьких объемах в самом начале своего пути - это нормально, чтобы научиться и отточить свои навыки.
            br
            br
            | Как только у Вас появляется стабильный “плюс” - нужно увеличивать объем.
            br
            br
            | Но делать это нужно грамотно и, обязательно, соблюдая риск и мани менеджмент.
            br
            br
            | Как раз это Вы и научитесь делать вместе с Александром Герчиком и командой профессиональных трейдеров.
        li.faq-list__item
          header.faq-list__item-header
            h1.faq-list__item-title <span>08.</span>  Кто такие кураторы и как они будут мне помогать?
          .faq-list__item-content
            | В команде с Александром Герчиком работают трое его учеников - Таня Шевцова, Виктор Макеев и Сергей Тё.
            br
            br
            | Каждый из них специализируется на конкретном рынке.
            br
            br
            | Виктор Макеев - опыт торговли - более 5 лет, специализируется на рынке NYSE и Forex. Его торговля основана на идее уровней и новостного дисбаланса, главным элементом которой выступает жесткий контроль за риск-менеджментом. Кроме того, что Виктор является куратором в дистанционных программах Александра Герчика, он также входит в команду трейдеров проп-офиса SDG-TRADE.
            br
            br
            | Татьяна Шевцова - более трех лет опыта активной торговли, срочный рынок Forts. Торгует в периоды роста и падения рынка, в основе стратегии заложено использование высоколиквидных инструментов срочного рынка, торговля осуществляется строго от уровней с фиксированными риском.
            br
            br
            | Сергей Тё - опыт работы более 3-х лет. Работает на рынке Forex. Стиль его торговли – свинг-трейдинг (среднесрок) – ложные пробои ключевых точек при строгом риск-менеджменте.
            br
            br
            | Каждый из кураторов - профессионал своего дела. Это гарантирует, что Вы всегда получите от них самую актуальную информацию и самые эффективные инструменты, на каком бы рынке Вы не работали.
        li.faq-list__item
          header.faq-list__item-header
            h1.faq-list__item-title <span>09.</span>  Чем онлайн программа отличается от видеокурса?
          .faq-list__item-content
            | Онлайн программа подразумевает, что Вы сможете обучаться у Александра Герчика, в комфортном для себя темпе, независимо от часового пояса, в котором проживаете и отдавая не более 4-5 часов в неделю.
            br
            br
            | Это возможно благодаря грамотно продуманной структуре видеоуроков, которые предварительно загружены в ваш личный онлайн кабинет, доступ к которому вы получите сразу после оплаты участия.
            br
            br
            | Уроки, от 10 до 30 минут профессиональной записи каждый, доступны Вам 24 часа в сутки 7 дней в неделю.
            br
            br
            | Каждые 2 недели Вы подключаетесь к специальному вебинару только для участников онлайн программы (пакет <a href="#packages">Расширенный</a> и <a href="#packages">VIP</a>).
            br
            br
            | Если Вы по каким-то причинам не смогли быть онлайн, наша команда сразу же после вебинара приступает к его обработке и уже утром следующего дня он доступен у Вас все в том же личном кабинете.
        li.faq-list__item
          header.faq-list__item-header
            h1.faq-list__item-title <span>10.</span>  Смогу ли я научиться скальпингу во время обучения в программе?
          .faq-list__item-content
            | Александр Герчик учит стратегии торговли по уровням, которая опробована тысячами его учеников.
            br
            br
            | Стратегия отрабатывает в 10 из 10 случаев независимо от рынка, инструмента, таймфрейма и стиля торговли.
            br
            br
            | Скальпинг же в свою очередь является только одним из многочисленных стилей торговли.
            br
            br
            | Потому Вы сможете овладеть этим стилем наравне с другими, узнать все тонкости работы и выбрать самый подходящий.
