.section.page-section#format-section
  include ../../partials/background-lines.jade

  .main-wrapper
    .section-content.format-content
      .page-title.page-title--white
        p.page-title__number 02
        h1.page-title__text Формат вашего обучения

      .format-main
        ul.format-numbers
          li.format-numbers__item
            h1.format-numbers__item-title 8
            p.format-numbers__item-text
              | фундаментальных<br>
              | модулей
          li.format-numbers__item
            h1.format-numbers__item-title 70
            p.format-numbers__item-text
              | практических<br>
              | домашних заданий
          li.format-numbers__item
            h1.format-numbers__item-title 123
            p.format-numbers__item-text
              | видео-урока
          li.format-numbers__item
            h1.format-numbers__item-title 35
            p.format-numbers__item-text
              | часов видео
          li.format-numbers__item
            h1.format-numbers__item-title 3-4
            p.format-numbers__item-text
              | часа в неделю<br>
              | Вашего времени
          li.format-numbers__item
            h1.format-numbers__item-title 60
            p.format-numbers__item-text
              | профессиональных<br>
              | инструментов

        ul.format-list
          li.format-list__item
            .format-list__item-icon
              svg(width='18px', height='18px', viewbox='0 0 18 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#Gerchik-Product-Page-1366x700(transform='translate(-612.000000, -3330.000000)', fill-rule='nonzero', fill='#1DACFB')
                    g#block-5(transform='translate(0.000000, 2796.000000)')
                      g#list(transform='translate(612.000000, 229.000000)')
                        g#check-marks(transform='translate(0.000000, 1.000000)')
                          g#check-mark-5(transform='translate(0.000000, 304.000000)')
                            path#Shape(d='M15.3636364,15.3636364 C18.8787879,11.8484848 18.8787879,6.15151515 15.3636364,2.63636364 C11.8484848,-0.878787879 6.15151515,-0.878787879 2.63636364,2.63636364 C-0.878787879,6.15151515 -0.878787879,11.8484848 2.63636364,15.3636364 C6.15151515,18.8787879 11.8521579,18.8787879 15.3636364,15.3636364 Z M5.77318641,7.62442608 L7.79706152,9.64830119 L12.2304867,5.21854913 L13.7988981,6.78696051 L9.36914601,11.2167126 L7.79706152,12.785124 L6.22865014,11.2167126 L4.20477502,9.19283747 L5.77318641,7.62442608 Z')
            p.format-list__item-text
              | <span>Личный кабинет</span> с доступом<br class="br-lg">
              | к обучающим сессиям и материалам 24/7
          li.format-list__item
            .format-list__item-icon
              svg(width='18px', height='18px', viewbox='0 0 18 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#Gerchik-Product-Page-1366x700(transform='translate(-612.000000, -3330.000000)', fill-rule='nonzero', fill='#1DACFB')
                    g#block-5(transform='translate(0.000000, 2796.000000)')
                      g#list(transform='translate(612.000000, 229.000000)')
                        g#check-marks(transform='translate(0.000000, 1.000000)')
                          g#check-mark-5(transform='translate(0.000000, 304.000000)')
                            path#Shape(d='M15.3636364,15.3636364 C18.8787879,11.8484848 18.8787879,6.15151515 15.3636364,2.63636364 C11.8484848,-0.878787879 6.15151515,-0.878787879 2.63636364,2.63636364 C-0.878787879,6.15151515 -0.878787879,11.8484848 2.63636364,15.3636364 C6.15151515,18.8787879 11.8521579,18.8787879 15.3636364,15.3636364 Z M5.77318641,7.62442608 L7.79706152,9.64830119 L12.2304867,5.21854913 L13.7988981,6.78696051 L9.36914601,11.2167126 L7.79706152,12.785124 L6.22865014,11.2167126 L4.20477502,9.19283747 L5.77318641,7.62442608 Z')
            p.format-list__item-text
              | <span>Закрытая группа поддержки</span><br class="br-lg">
              | на Фейсбук с сокурсниками и кураторами
          li.format-list__item
            .format-list__item-icon
              svg(width='18px', height='18px', viewbox='0 0 18 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#Gerchik-Product-Page-1366x700(transform='translate(-612.000000, -3330.000000)', fill-rule='nonzero', fill='#1DACFB')
                    g#block-5(transform='translate(0.000000, 2796.000000)')
                      g#list(transform='translate(612.000000, 229.000000)')
                        g#check-marks(transform='translate(0.000000, 1.000000)')
                          g#check-mark-5(transform='translate(0.000000, 304.000000)')
                            path#Shape(d='M15.3636364,15.3636364 C18.8787879,11.8484848 18.8787879,6.15151515 15.3636364,2.63636364 C11.8484848,-0.878787879 6.15151515,-0.878787879 2.63636364,2.63636364 C-0.878787879,6.15151515 -0.878787879,11.8484848 2.63636364,15.3636364 C6.15151515,18.8787879 11.8521579,18.8787879 15.3636364,15.3636364 Z M5.77318641,7.62442608 L7.79706152,9.64830119 L12.2304867,5.21854913 L13.7988981,6.78696051 L9.36914601,11.2167126 L7.79706152,12.785124 L6.22865014,11.2167126 L4.20477502,9.19283747 L5.77318641,7.62442608 Z')
            p.format-list__item-text
              | <span>Обратная связь от куратора</span><br class="br-lg">
              | по домашним заданиям и Вашим сделкам
          li.format-list__item
            .format-list__item-icon
              svg(width='18px', height='18px', viewbox='0 0 18 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#Gerchik-Product-Page-1366x700(transform='translate(-612.000000, -3330.000000)', fill-rule='nonzero', fill='#1DACFB')
                    g#block-5(transform='translate(0.000000, 2796.000000)')
                      g#list(transform='translate(612.000000, 229.000000)')
                        g#check-marks(transform='translate(0.000000, 1.000000)')
                          g#check-mark-5(transform='translate(0.000000, 304.000000)')
                            path#Shape(d='M15.3636364,15.3636364 C18.8787879,11.8484848 18.8787879,6.15151515 15.3636364,2.63636364 C11.8484848,-0.878787879 6.15151515,-0.878787879 2.63636364,2.63636364 C-0.878787879,6.15151515 -0.878787879,11.8484848 2.63636364,15.3636364 C6.15151515,18.8787879 11.8521579,18.8787879 15.3636364,15.3636364 Z M5.77318641,7.62442608 L7.79706152,9.64830119 L12.2304867,5.21854913 L13.7988981,6.78696051 L9.36914601,11.2167126 L7.79706152,12.785124 L6.22865014,11.2167126 L4.20477502,9.19283747 L5.77318641,7.62442608 Z')
            p.format-list__item-text
              | <span>Онлайн-включения</span><br class="br-lg">
              | с ответами на Ваши вопросы по торговле
          li.format-list__item
            .format-list__item-icon
              svg(width='18px', height='18px', viewbox='0 0 18 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#Gerchik-Product-Page-1366x700(transform='translate(-612.000000, -3330.000000)', fill-rule='nonzero', fill='#1DACFB')
                    g#block-5(transform='translate(0.000000, 2796.000000)')
                      g#list(transform='translate(612.000000, 229.000000)')
                        g#check-marks(transform='translate(0.000000, 1.000000)')
                          g#check-mark-5(transform='translate(0.000000, 304.000000)')
                            path#Shape(d='M15.3636364,15.3636364 C18.8787879,11.8484848 18.8787879,6.15151515 15.3636364,2.63636364 C11.8484848,-0.878787879 6.15151515,-0.878787879 2.63636364,2.63636364 C-0.878787879,6.15151515 -0.878787879,11.8484848 2.63636364,15.3636364 C6.15151515,18.8787879 11.8521579,18.8787879 15.3636364,15.3636364 Z M5.77318641,7.62442608 L7.79706152,9.64830119 L12.2304867,5.21854913 L13.7988981,6.78696051 L9.36914601,11.2167126 L7.79706152,12.785124 L6.22865014,11.2167126 L4.20477502,9.19283747 L5.77318641,7.62442608 Z')
            p.format-list__item-text
              | Ежемесячные <span>аналитические обзоры</span><br class="br-lg">
              | от Александра Герчика

      .format-more
        .format-more__icon
          svg(width='18px', height='18px', viewbox='0 0 18 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g#Gerchik-Product-Page-1366x700(transform='translate(-93.000000, -3420.000000)', fill='#A1C7F4')
                g#block-5(transform='translate(0.000000, 2796.000000)')
                  g#faq-link(transform='translate(93.000000, 620.000000)')
                    path#faq-icon(d='M9,22 C4.02943725,22 0,17.9705627 0,13 C0,8.02943725 4.02943725,4 9,4 C13.9705627,4 18,8.02943725 18,13 C18,17.9705627 13.9705627,22 9,22 Z M8.19460227,14.8808594 L9.56569602,14.8808594 C9.5720881,14.6379604 9.605646,14.437412 9.66637074,14.2792081 C9.72709547,14.1210042 9.83575916,13.9667976 9.99236506,13.8165838 L10.543679,13.3036222 C10.7769898,13.0767034 10.9463773,12.8545821 11.0518466,12.6372514 C11.1573159,12.4199208 11.2100497,12.1786235 11.2100497,11.9133523 C11.2100497,11.3061049 11.0142953,10.8378923 10.6227805,10.5087003 C10.2312658,10.1795083 9.67915839,10.0149148 8.96644176,10.0149148 C8.25052909,10.0149148 7.6944267,10.1930913 7.2981179,10.5494496 C6.9018091,10.9058079 6.70046168,11.4035835 6.6940696,12.0427912 L8.31445312,12.0427912 C8.3208452,11.8030883 8.38316702,11.6129268 8.50142045,11.4723011 C8.61967389,11.3316754 8.77467944,11.2613636 8.96644176,11.2613636 C9.38192679,11.2613636 9.58966619,11.5026609 9.58966619,11.9852628 C9.58966619,12.1834172 9.52814337,12.3647897 9.40509588,12.5293857 C9.28204839,12.6939816 9.10227391,12.8753541 8.86576705,13.0735085 C8.62926018,13.2716629 8.45827468,13.5057692 8.3528054,13.7758345 C8.24733612,14.0458998 8.19460227,14.4142377 8.19460227,14.8808594 Z M7.99804688,16.3382457 C7.99804688,16.5747526 8.08353963,16.768909 8.2545277,16.9207209 C8.42551577,17.0725327 8.63884815,17.1484375 8.89453125,17.1484375 C9.15021435,17.1484375 9.36354673,17.0725327 9.5345348,16.9207209 C9.70552287,16.768909 9.79101562,16.5747526 9.79101562,16.3382457 C9.79101562,16.1017389 9.70552287,15.9075824 9.5345348,15.7557706 C9.36354673,15.6039588 9.15021435,15.528054 8.89453125,15.528054 C8.63884815,15.528054 8.42551577,15.6039588 8.2545277,15.7557706 C8.08353963,15.9075824 7.99804688,16.1017389 7.99804688,16.3382457 Z')
        p.format-more__text Подробнее о формате обучения в<br class="br-sm"> разделе <a href="#faq">FAQ</a>