.section.page-section#intro-section
  include ../../partials/background-lines.jade

  .main-wrapper
    .section-content.intro-content
      .intro-left
      .intro-right
        ul.intro-right__about
          li.intro-right__about-item
            h1 Онлайн-курс
            h2.seminar-date 7 октября в 20:00
          li.intro-right__about-item
            h1 Проводит
            h2 Александр Герчик
        h1.intro-right__title
          | Трейдинг<br class="br-md"> от <span class="intro-right__title-blue">A</span> до <span class="intro-right__title-blue">Я</span>  <span class="intro-right__title-gray">2.0</span>
          svg.intro-right__title-arrow(viewbox='0 0 69 17', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g#Gerchik-Product-Page-1366x700(transform='translate(-953.000000, -237.000000)', fill-rule='nonzero', fill='#CED6E1')
                g#block-1(transform='translate(0.000000, -4.000000)')
                  g#title(transform='translate(569.000000, 160.000000)')
                    path#Shape(d='M446.247203,76.8210582 C446.331579,76.724027 446.390642,76.6138708 446.437986,76.4976209 C446.5008,76.302621 446.517675,76.2098085 446.5233,76.1127773 C446.5308,75.9880899 446.535487,75.9712149 446.53455,75.9529336 C446.527987,75.8409024 446.505487,75.7326212 446.470799,75.6309025 C446.415486,75.4888713 446.356423,75.3894964 446.286579,75.2985589 C446.280016,75.2901214 444.661094,73.3782473 441.429814,69.5629365 C441.059966,69.1269992 440.452929,69.1185617 440.073238,69.5455928 C439.694485,69.9721551 439.687453,70.6715298 440.058238,71.1084046 L442.663575,74.1782469 C438.85682,73.6738722 435.114753,74.4749655 434.938033,74.5143405 C416.712598,75.5204877 392.089818,97.0633438 393.731526,117.580458 C393.775415,118.128962 394.213406,118.514208 394.677941,118.514208 C394.727629,118.514208 395.676499,117.844082 395.6267,117.237802 C394.119731,98.8908342 418.063849,77.5250627 435.266161,76.6926208 C435.314443,76.6813708 439.18073,75.8516837 442.821077,76.4235584 L438.80057,78.8109011 C438.329472,79.0912135 438.145251,79.7577757 438.387597,80.3001192 C438.629474,80.8434002 439.20698,81.0538688 439.679484,80.7768377 L446.017045,77.0137144 C446.102827,76.9616832 446.179703,76.8965269 446.247203,76.8210582 Z', transform='translate(420.094102, 93.872393) rotate(40.000000) translate(-420.094102, -93.872393) ')
        .intro-right__days за 60 дней
        //h2.intro-right__subtitle Под руководством<br> успешного трейдера WALL STREET
        h2.intro-right__subtitle Выжимка  20-ти летнего опыта<br> одного из лучших экспертов в мире трейдинга.
        p.intro-right__text
          | Научитесь прибыльно торговать с гарантией результата<br>
          | или увеличьте свои результаты, если Вы торгующий трейдер,<br>
          | за руку с одним из лучших трейдеров современности<br>
          | WALL STREET.
        a(href="#video").btn.btn--arrow-right.btn--big.intro-right__more
          | Подробнее о курсе
          svg.btn__arrow(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 10', width='16', height='10', style='enable-background:new 0 0 16 10;', xml:space='preserve')
            g(transform='translate(-784 -557)')
              g
                path#a.st0(fill='#ffffff', d='M784,561.2h12.1l-3.1-3l1.2-1.2l5.1,5l-5.1,5l-1.2-1.2l3.1-3H784V561.2z')
