.section.page-section#outro-section
  include ../../partials/background-lines.jade

  .main-wrapper
    .section-content.outro-content
      .outro-bg
      .outro-main
        h1.outro-main__title Имея мечту,<br class="br-sm"> решительност иь<br class="br-sm"> предприимчивость,<br class="br-sm"> каждый может<br class="br-sm"> достичь любых<br class="br-sm"> целей.
        p.outro-main__text
          | Если они у вас есть, то при должном уровне трудолюбия вы победите на биржевой арене и станете финансово независимым человеком.
          | Молодому трейдеру необходимо ежедневно совершенствоваться и трудиться в поте лица. Перед восхождением на вершину финансового благополучия нужно научиться самоконтролю, запастись терпением и настроиться на победу.
        button(onclick="showPopup('#popup-standart')").btn.btn--arrow-right.btn--big.outro-main__btn
          | Принять участие
          svg.btn__arrow(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 10', width='16', height='10', style='enable-background:new 0 0 16 10;', xml:space='preserve')
            g(transform='translate(-784 -557)')
              g
                path#a.st0(fill='#ffffff', d='M784,561.2h12.1l-3.1-3l1.2-1.2l5.1,5l-5.1,5l-1.2-1.2l3.1-3H784V561.2z')
        .about-seats
          .about-seats__icon
            svg(width='18px', height='18px', viewbox='0 0 18 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
              g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                g#Gerchik-Product-Page-1366x700(transform='translate(-587.000000, -2710.000000)', fill-rule='nonzero', fill='#BCC4CE')
                  g#block-4(transform='translate(0.000000, 2096.000000)')
                    g#place(transform='translate(587.000000, 610.000000)')
                      g#user(transform='translate(0.000000, 4.000000)')
                        path#Shape(d='M8.99986333,0 C4.02947363,0 7.33333336e-05,4.0295203 7.33333336e-05,8.99991 C7.33333336e-05,13.9701797 4.02947363,18 8.99986333,18 C13.970253,18 17.9999533,13.9701797 17.9999533,8.99991 C17.9999533,4.02940029 13.970253,0 8.99986333,0 Z M9.02728361,13.2459125 L9.02728361,13.2457925 L8.97232306,13.2457925 L5.12796461,13.2457925 C5.12796461,10.4344043 7.5971093,10.4350644 8.14503478,9.699937 L8.20773541,9.36471365 C7.43792771,8.97458975 6.89450228,8.03402034 6.89450228,6.93396934 C6.89450228,5.48471485 7.8372317,4.3096631 8.99986333,4.3096631 C10.162495,4.3096631 11.1052244,5.48471485 11.1052244,6.93396934 C11.1052244,8.02466025 10.571459,8.95934959 9.81191145,9.35565356 L9.88331217,9.73659737 C10.4844582,10.4360844 12.871462,10.4816848 12.871462,13.2459125 L9.02728361,13.2459125 L9.02728361,13.2459125 Z')
          p.about-seats__text Осталось мест:  <span class="seats-number">20 из 60</span>

  include ../../partials/footer.jade