.section.page-section#packages-section
  include ../../partials/background-lines.jade

  .packages-container
    .main-wrapper
      .section-content.packages-content
        .page-title
          p.page-title__number 04
          h1.page-title__text Пакеты обучения<br class="br-sm"> на курсе
        h2.page-subtitle
          | Выберите вариант участия в зависимости<br class="br-sm"> от своего опыта и необходимого количества<br>
          | индивидуальной работы с Александром Герчиком

        .special-offer
          .special-offer__icon
            svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 23 28', style='enable-background:new 0 0 23 28;', width="23" height="28" xml:space='preserve')
              g(transform='translate(-117 -7530)')
                g
                  path#a(fill='#0068E2', d='M126,7555h6c0,1.7-1.3,3-3,3C127.3,7558,126,7556.7,126,7555L126,7555z M140,7552.5v1.5h-23v-1.5\
                  l2.9-2.9v-7.3c0-4.5,2.3-8.2,6.5-9.2v-1c0-1.2,1-2.2,2.2-2.2s2.2,1,2.2,2.2v1c4.1,1,6.5,4.7,6.5,9.2v7.3L140,7552.5z')
            p.special-offer__icon-counter 1
          p.special-offer__text.special-offer__text--1 <span class="br-lg--sm"><b>Специальное предложение!</b> Только для участников конференции:</span><span class="br-md">Специальное предложение для подписчиков:</span>
          .special-offer__discount скидка 50%
          p.special-offer__text.special-offer__text--2 <span class="br-lg">Скидка заканчивается через:</span><span class="br-md">Заканчивается через:</span>
          .special-offer__timer#offer-countdown-2
            ul.special-offer__timer-time
              li 24
              li 00
              li 00
            ul.special-offer__timer-title
              li часа
              li мин
              li сек

        ul.packages-list
          li.packages-list-item.packages-list-item--1
            .packages-list-item__header
              .packages-list-item__header-icon
                svg(width='107px', height='82px', viewbox='0 0 107 82', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                  g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    g#price-icon-1(fill-rule='nonzero')
                      polygon#Shape(fill='#00A4FF', points='107 17 85 17 89.7629357 0')
                      polygon#Shape(fill='#45BDFF', points='90 16.9706917 90 36 72 18 90 0')
                      polygon#Shape(fill='#45BDFF', points='62 64.0011723 44 82 44 46 53.377442 46')
                      path#Shape(d='M57,2 L37.9503916,31 L28.5011812,31 C28.4988188,31 0,2 0,2 L57,2 Z', fill='#45BDFF')
                      path#Shape(d='M56.5516662,2 L28,30.552943 L61.4483338,64 L90,35.4494236 C90,35.447057 56.5516662,2 56.5516662,2 Z', fill='#0198EB')
              .packages-list-item__header-content
                h1.packages-list-item__header-title Базовый
                p.packages-list-item__header-text
                  | 100% самостоятельной<br>
                  | работы
              button(onclick="showPopup('#popup-base')").btn.btn--arrow-right.btn--big.packages-list-item__header-btn
                | Забронировать
                svg.btn__arrow(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 10', width='16', height='10', style='enable-background:new 0 0 16 10;', xml:space='preserve')
                  g(transform='translate(-784 -557)')
                    g
                      path#a.st0(fill='#ffffff', d='M784,561.2h12.1l-3.1-3l1.2-1.2l5.1,5l-5.1,5l-1.2-1.2l3.1-3H784V561.2z')

            ul.packages-list-item__list
              li.packages-list-item__list-item <b>Полный доступ</b><br> к программе и всем сессиям 24/7<br> (35 часов видео, 123 урока)
              //li.packages-list-item__list-item <b>Домашнее задание</b><br class="br-md-sm"> в виде тестов
              li.packages-list-item__list-item <b>Доступ в закрытую<br class="br-sm"> Facebook-группу</b><br class="br-lg-md"> для общения с единомышленниками<br> по завершению обучения
              li.packages-list-item__list-item <b>Скидка</b> на все образовательные<br> программы Александра Герчика<br> в течение года
              li.packages-list-item__list-item.packages-list-item__list-item--inactive <b>Интерактивные</b> домашние задания<br>  и тесты после уроков
              li.packages-list-item__list-item.packages-list-item__list-item--inactive <b>Рабочая тетрадь</b> с графиками<br> и примерами сценариев по каждому<br> рынку
              li.packages-list-item__list-item.packages-list-item__list-item--inactive <b>Индивидуальная проверка</b> домашний<br> заданий после каждого урока
              li.packages-list-item__list-item.packages-list-item__list-item--inactive <b>Проверка Вашего алгоритма</b><br> Александром Герчиком по окончанию<br> обучения
              li.packages-list-item__list-item.packages-list-item__list-item--inactive <b>Дополнительных 30 дней</b><br> обратной связи от наставника
              li.packages-list-item__list-item.packages-list-item__list-item--inactive <b>Эксклюзивные</b><br> аудио материалы от наставника
              li.packages-list-item__list-item.packages-list-item__list-item--inactive <b>Доступ</b> к стратегическим<br> онлайн-сессиям с кураторами
              li.packages-list-item__list-item.packages-list-item__list-item--inactive <b>Персональный координатор</b><br> на все 60 дней обучения
              li.packages-list-item__list-item.packages-list-item__list-item--inactive <b>Участие в живом семинаре А. Герчика</b><br> «Курс Активного Трейдера»<br>  по специальной цене <span class="text-crossed">$3000</span> <b>$1500</b><br><br> <br class="br-lg"><br class="br-lg"><br class="br-lg"><br class="br-lg"><br class="br-lg"><br class="br-lg">

            button(onclick="showPopup('#popup-base')").btn.btn--arrow-right.btn--big.packages-list-item__btn
              | Забронировать
              svg.btn__arrow(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 10', width='16', height='10', style='enable-background:new 0 0 16 10;', xml:space='preserve')
                g(transform='translate(-784 -557)')
                  g
                    path#a.st0(fill='#ffffff', d='M784,561.2h12.1l-3.1-3l1.2-1.2l5.1,5l-5.1,5l-1.2-1.2l3.1-3H784V561.2z')

          li.packages-list-item.packages-list-item--2
            .packages-list-item__header
              .packages-list-item__header-icon
                svg(width='104px', height='69px', viewbox='0 0 104 69', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                  g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    g#price-icon-2(fill-rule='nonzero')
                      polygon#Shape(fill='#45BDFF', points='30.5637917 38.5789474 101.759647 1 41.7009789 44.9172927 78.9242215 69 104 1 0 22.4736842')
                      polygon#Shape(fill='#0198EB', points='41.804878 45.3947368 34.6030488 69 29 38.1315789 104 0')
                      polygon#Shape(fill='#1DACFB', points='41.6450798 44.5117544 34.2611336 68.0851457 56.570662 53.6155424')
              .packages-list-item__header-content
                h1.packages-list-item__header-title Расширенный
                p.packages-list-item__header-text
                  | 60% самостоятельной работы<br>
                  | 40% работы с Александром<br class="br-lg">
                  | Герчиком
              button(onclick="showPopup('#popup-extended')").btn.btn--arrow-right.btn--big.packages-list-item__header-btn
                | Забронировать
                svg.btn__arrow(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 10', width='16', height='10', style='enable-background:new 0 0 16 10;', xml:space='preserve')
                  g(transform='translate(-784 -557)')
                    g
                      path#a.st0(fill='#ffffff', d='M784,561.2h12.1l-3.1-3l1.2-1.2l5.1,5l-5.1,5l-1.2-1.2l3.1-3H784V561.2z')

            ul.packages-list-item__list
              li.packages-list-item__list-item <b>Полный доступ</b><br> к программе и всем сессиям 24/7<br> (35 часов видео, 123 урока)
              li.packages-list-item__list-item <b>Доступ в закрытую<br class="br-sm"> Facebook-группу</b><br class="br-lg-md"> на 60 дней для общения с единомышленниками<br> по завершению обучения
              li.packages-list-item__list-item <b>Онлайн-встречи</b><br> с Александром Герчиком и кураторами
              li.packages-list-item__list-item <b>Скидка</b> на все образовательные<br> программы Александра Герчика<br> в течение года
              li.packages-list-item__list-item <b>Интерактивные</b> домашние задания<br>  и тесты после уроков
              li.packages-list-item__list-item <b>Рабочая тетрадь</b> с графиками<br> и примерами сценариев по каждому<br class="br-lg-md"> рынку
              li.packages-list-item__list-item <b>Проверка Вашего алгоритма</b><br> Александром Герчиком по окончанию<br> обучения
              li.packages-list-item__list-item <b>Эксклюзивные</b><br> аудио материалы от наставника
              li.packages-list-item__list-item.packages-list-item__list-item--inactive <b>Дополнительных 30 дней</b><br> обратной связи от<br class="br-lg"> Александра Герчика
              li.packages-list-item__list-item.packages-list-item__list-item--inactive <b>Эксклюзивные</b><br> аудио материалы от<br class="br-lg"> Александра Герчика
              li.packages-list-item__list-item.packages-list-item__list-item--inactive <b>Доступ</b> к стратегическим<br> онлайн-сессиям с кураторами
              li.packages-list-item__list-item.packages-list-item__list-item--inactive <b>Персональный координатор</b><br> на все 90 дней обучения
              li.packages-list-item__list-item.packages-list-item__list-item--inactive <b>Участие в живом семинаре А. Герчика</b><br> «Курс Активного Трейдера»<br>  по специальной цене <span class="text-crossed">$3000</span>  <b>$1500</b>

            button(onclick="showPopup('#popup-extended')").btn.btn--arrow-right.btn--big.packages-list-item__btn
              | Забронировать
              svg.btn__arrow(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 10', width='16', height='10', style='enable-background:new 0 0 16 10;', xml:space='preserve')
                g(transform='translate(-784 -557)')
                  g
                    path#a.st0(fill='#ffffff', d='M784,561.2h12.1l-3.1-3l1.2-1.2l5.1,5l-5.1,5l-1.2-1.2l3.1-3H784V561.2z')

          li.packages-list-item.packages-list-item--3
            .packages-list-item__header
              .packages-list-item__header-icon
                svg(width='81px', height='83px', viewbox='0 0 81 83', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                  g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    g#rocket(fill-rule='nonzero')
                      path#Combined-Shape(d='M19.138843,17.8616678 L37,17 L15.8892658,38 L3,33.9158562 L19.138843,17.8616678 Z M47.0840797,78 L43,65.1101797 L64,44 L63.1381809,61.8617076 L47.0840797,78 Z M14.2028923,46 L36,67.7969779 L26.4923645,74 L8,55.507579 L14.2028923,46 Z', fill='#0198EB')
                      path#Combined-Shape(d='M5.85355339,57.6966991 L10.8033009,62.6464466 L5.14644661,68.3033009 L0.196699141,63.3535534 L5.85355339,57.6966991 Z M19.1464466,82.3033009 L14.1966991,77.3535534 L19.8535534,71.6966991 L24.8033009,76.6464466 L19.1464466,82.3033009 Z M4.28248558,73.267767 L12.767767,64.7824856 L17.7175144,69.732233 L9.23223305,78.2175144 L4.28248558,73.267767 Z', fill='#AAE1FF')
                      path#Combined-Shape(d='M24.8947519,57 L24.4464169,56.5488246 L24,56.1052481 L11,43.0172189 L44.6580509,9.14609845 C50.5193885,3.24745802 58.3132121,0 66.6026481,0 C70.3727227,0 74.0681871,0.67642018 77.583246,2.01390653 L78.2014285,2.24868446 L78.4517054,2 L78.6045113,2.40177025 L79,2.55197187 L78.7552961,2.7982261 L78.9909882,3.41792763 C83.3209434,14.809971 80.5205874,27.7337854 71.8559523,36.3431227 L37.9837255,70 L24.8975984,56.9971354 Z M55.0295111,25.9544015 C58.3430427,28.8938796 63.4281995,28.7835487 66.608575,25.6234087 C69.792612,22.4596307 69.90024,17.3951204 66.9282593,14.1031015 C63.638118,11.1033186 58.5504006,11.2003856 55.3765913,14.3943024 C52.2222705,17.5687697 52.1076262,22.6418211 55.0295111,25.9544015 Z', fill='#45BDFF')
                      path#Combined-Shape(d='M55.4159482,25.9860917 C58.6379953,28.7950922 63.5298724,28.665596 66.5979597,25.5976031 C69.6650712,22.5305859 69.7954649,17.6377316 66.9861141,14.4155699 L67,14.4016836 C66.9318582,14.3335397 66.8628146,14.266846 66.7929076,14.2016023 C66.7293001,14.1335717 66.6643174,14.0663591 66.5979597,14 L66.5844303,14.013529 C63.3632193,11.2051371 58.4691076,11.334522 55.4020403,14.4016836 C52.333994,17.4698242 52.2055095,22.3628151 55.0135603,25.5840431 L55,25.5976031 C55.0664439,25.6640449 55.1337432,25.7291087 55.2018624,25.7927942 C55.2671373,25.8627395 55.3338633,25.9318209 55.4020403,26 L55.4159482,25.9860917 Z', fill='#8ED7FF')
              .packages-list-item__header-content
                h1.packages-list-item__header-title VIP
                p.packages-list-item__header-text
                  | 60 % обратная связь от Герчика<br>
                  | 30 % помощь кураторов<br>
                  | 10 % самостоятельное изучение
              button(onclick="showPopup('#popup-vip')").btn.btn--arrow-right.btn--big.packages-list-item__header-btn
                | Забронировать
                svg.btn__arrow(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 10', width='16', height='10', style='enable-background:new 0 0 16 10;', xml:space='preserve')
                  g(transform='translate(-784 -557)')
                    g
                      path#a.st0(fill='#ffffff', d='M784,561.2h12.1l-3.1-3l1.2-1.2l5.1,5l-5.1,5l-1.2-1.2l3.1-3H784V561.2z')

            ul.packages-list-item__list
              li.packages-list-item__list-item <b>Полный доступ</b><br> к программе и всем сессиям 24/7<br> (35 часов видео, 123 урока)
              li.packages-list-item__list-item <b>Доступ в закрытую<br class="br-sm"> Facebook-группу</b><br class="br-lg-md"> на 90 дней для общения с единомышленниками<br> по завершению обучения
              li.packages-list-item__list-item <b>Онлайн-встречи</b><br> с Александром Герчиком и кураторами
              li.packages-list-item__list-item <b>Скидка</b> на все образовательные<br> программы Александра Герчика<br> в течение года
              li.packages-list-item__list-item <b>Интерактивные</b> домашние задания<br>  и тесты после уроков
              li.packages-list-item__list-item <b>Рабочая тетрадь</b> с графиками<br> и примерами сценариев по каждому<br class="br-lg-md"> рынку
              li.packages-list-item__list-item <b>Индивидуальная проверка</b> домашний<br> заданий после каждого урока
              li.packages-list-item__list-item <b>Проверка Вашего алгоритма</b><br> Александром Герчиком по окончанию<br class="br-lg-md"> обучения
              li.packages-list-item__list-item <b>Дополнительных 30 дней</b><br> обратной связи от<br class="br-lg"> Александра Герчика
              li.packages-list-item__list-item <b>Эксклюзивные</b><br> аудио материалы от<br class="br-lg"> Александра Герчика
              li.packages-list-item__list-item <b>Доступ</b> к стратегическим<br> онлайн-сессиям с кураторами
              li.packages-list-item__list-item <b>Персональный координатор</b><br> на все 60 дней обучения
              li.packages-list-item__list-item <b>Участие в живом семинаре А. Герчика</b><br class="br-lg-md"> «Курс Активного Трейдера»<br>  по специальной цене <span class="text-crossed">$3000</span>  <b>$1500</b>

            button(onclick="showPopup('#popup-vip')").btn.btn--arrow-right.btn--big.packages-list-item__btn
              | Забронировать
              svg.btn__arrow(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 10', width='16', height='10', style='enable-background:new 0 0 16 10;', xml:space='preserve')
                g(transform='translate(-784 -557)')
                  g
                    path#a.st0(fill='#ffffff', d='M784,561.2h12.1l-3.1-3l1.2-1.2l5.1,5l-5.1,5l-1.2-1.2l3.1-3H784V561.2z')

        .packages-warranty
          .packages-warranty__icon
            svg(width='56px', height='67px', viewbox='0 0 56 67', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
              defs
                path#path-1(d='M55.8468111,10.4680821 C44.3104536,10.4680821 35.4724411,7.20175244 27.9989503,0 C20.5262367,7.20175244 11.6886128,10.4680821 0.153226728,10.4680821 C0.153226728,29.2229065 -3.76275423,56.0890649 27.998756,67 C59.7625978,56.0892574 55.8468111,29.2230991 55.8468111,10.4680821 Z')
              g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                g#Gerchik-Product-Page-1366x700(transform='translate(-343.000000, -9556.000000)')
                  g#block-7(transform='translate(0.000000, 7314.000000)')
                    g#warranty(transform='translate(343.000000, 2240.000000)')
                      g#security-on(transform='translate(0.000000, 2.000000)')
                        g#Oval-7
                          mask#mask-2(fill='white')
                            use(xlink:href='#path-1')
                          use#Mask(fill='#1DACFB', fill-rule='nonzero', xlink:href='#path-1')
                          circle(fill='#45BDFF', mask='url(#mask-2)', cx='14.5', cy='10.5', r='41.5')
                        polygon#Path(fill='#FBFBFB', points='25.2096052 44 16 34.7449612 20.1234822 30.601938 25.2096052 35.7135659 34.8767107 26 39 30.1430233')
          h1.packages-warranty__title
            span 100%
            | Гарантия возврата средств
          p.packages-warranty__text
            | Если в течении 7 дней после<br class="br-sm"> начала обучения,<br class="br-md"> по какой-либо причине<br class="br-lg--sm">
            | Вы решите,<br class="br-md"> что курс Вам не подходит -<br class="br-md-sm"> мы обязуемся вернуть Вам<br>
            | деньги в полном обьеме.<br><br>
            a(href="#" onclick="showPopup('#popup-oferta')") Политика конфиденциальности
            a(href="#" onclick="showPopup('#popup-policy')") Пользовательское соглашение