.section.page-section#program-1-section
  include ../../partials/background-lines.jade

  .program-curve
    .main-wrapper
      svg(width='257px', height='3668px', viewbox='0 0 257 3668', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='square')
          g#Gerchik-Product-Page-1366x700(transform='translate(-84.000000, -3596.000000)', stroke='#CFE0F3', stroke-width='2')
            g#block-6(transform='translate(0.000000, 3496.000000)')
              g#bg
                g#map-dark-pattern
                  g#curve(transform='translate(85.000000, 102.000000)')
                    path#Line(d='M1041.36896,1039.89434 C957.975695,1038.85389 933.50844,1024.47678 880.488554,1003.14459 C709.155774,934.210005 657.361842,792.647145 472.74254,793.799778 C230.991763,795.309099 156.590728,1041.79671 -68.5853212,1041.3684 C-293.76137,1040.9401 -358.077191,875.93616 -510.276308,877.572212 C-662.475425,879.208263 -671.175087,990.048793 -793.792781,990.048793', transform='translate(123.788090, 917.580871) rotate(-90.000000) translate(-123.788090, -917.580871) ')
                    path#Line-Copy-4(d='M1084.94857,2910.87961 C749.590221,2906.47694 607.458427,2650.37729 377.709462,2651.88661 C147.960498,2653.39593 77.2531305,2899.88354 -136.743966,2899.45523 C-350.741062,2899.02693 -411.863899,2734.02299 -556.507031,2735.65904 C-701.150163,2737.29509 -709.417927,2848.13562 -825.948219,2848.13562', transform='translate(129.500175, 2781.379787) scale(1, -1) rotate(-90.000000) translate(-129.500175, -2781.379787) ')

  .main-wrapper
    .section-content.program-content
      .page-title
        p.page-title__number 03
        h1.page-title__text программа

      .program-main
        .program-item.program-item--1
          .program-item__left
            .program-item__thumb
              .program-item__thumb-bg
            p.program-item__thumb-text
              | Понимание конструкции<br>
              | биржи и рынка

          .program-item__content
            .program-item__title-tablet-block
              p.program-item__number 01
              h1.program-item__title Понимание конструкции<br> биржи и рынка
            .program-item__subtitle-container
              .program-item__title-block
                p.program-item__number 01
                h1.program-item__title Эффективный старт
              h2.program-item__subtitle
                | Понимание рынка, которое обычно<br class="br-md"> достаётся тяжёлым трудом<br class="br-lg">
                | и за долгий<br class="br-md"> срок

            ul.program-item-list
              li.program-item-list__item
                .program-item-list__item-icon
                  svg(width='14px', height='14px', viewbox='0 0 14 14', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      g#Gerchik-Product-Page-1366x700(transform='translate(-433.000000, -3964.000000)', fill-rule='nonzero', fill='#F3F5F8')
                        g#block-6(transform='translate(0.000000, 3496.000000)')
                          g#1(transform='translate(93.000000, 245.000000)')
                            g#text(transform='translate(327.000000, 61.000000)')
                              g#result(transform='translate(6.000000, 155.000000)')
                                g#icon-1
                                  path#Shape(d='M18.9494949,18.9494949 C21.6835017,16.2154882 21.6835017,11.7845118 18.9494949,9.05050505 C16.2154882,6.31649832 11.7845118,6.31649832 9.05050505,9.05050505 C6.31649832,11.7845118 6.31649832,16.2154882 9.05050505,18.9494949 C11.7845118,21.6835017 16.2183451,21.6835017 18.9494949,18.9494949 Z M11.4902561,12.9301092 L13.0643812,14.5042343 L16.5126008,11.0588715 L17.7324763,12.2787471 L14.2871136,15.7241098 L13.0643812,16.9439853 L11.8445057,15.7241098 L10.2703806,14.1499847 L11.4902561,12.9301092 Z')
                .program-item-list__item-content
                  h3.program-item-list__item-title В результате сессии Вы:
                  p.program-item-list__item-text
                    //| узнаете о безубыточной торговле, и что<br class="br-md"> нужно делать,<br class="br-lg">
                    //| чтоб попасть в число<br class="br-md"> 3% успешных трейдеров,<br class="br-lg">
                    //| остающихся на рынке
                    | узнаете о формуле безубыточной торговли,<br class="br-md"> и что нужно делать,<br class="br-lg">
                    | чтобы попасть в число<br class="br-md"> 3% успешных трейдеров, <br class="br-lg">
                    | зарабатывающих на рынке хорошие деньги

              li.program-item-list__item
                .program-item-list__item-icon
                  svg(width='14px', height='19px', viewbox='0 0 14 19', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      g#Gerchik-Product-Page-1366x700(transform='translate(-933.000000, -3962.000000)', fill-rule='nonzero', fill='#F3F5F8')
                        g#block-6(transform='translate(0.000000, 3496.000000)')
                          g#1(transform='translate(93.000000, 245.000000)')
                            g#text(transform='translate(327.000000, 61.000000)')
                              g#hw(transform='translate(506.000000, 154.000000)')
                                g#icon-1(transform='translate(0.000000, 2.000000)')
                                  g#passed(transform='translate(7.700000, 4.900000)')
                                    polygon#Shape(points='7.5682454 0.972222222 7.5682454 0 5.40382822 0 5.40382822 0.972222222 3.528 0.972222222 3.528 2.91666667 9.408 2.91666667 9.408 0.972222222')
                                    path#Shape(d='M10.09008,2.33333333 L10.09008,4.34660767 L2.22264,4.34660767 L2.22264,2.33333333 L0,2.33333333 L0,17.5 L12.348,17.5 L12.348,2.33333333 L10.09008,2.33333333 Z M2.646,12.3042035 L6.174,12.3042035 L6.174,13.3108407 L2.646,13.3108407 L2.646,12.3042035 Z M9.702,11.2975664 L2.646,11.2975664 L2.646,10.2909292 L9.702,10.2909292 L9.702,11.2975664 Z M9.702,9.28429204 L2.646,9.28429204 L2.646,8.27765487 L9.702,8.27765487 L9.702,9.28429204 Z')
                .program-item-list__item-content
                  h3.program-item-list__item-title Домашнее задание:
                  p.program-item-list__item-text
                    | Открыть график и зарисовать<br>
                    | нужные картинки
