.section.page-section#reviews-section
  include ../../partials/background-lines.jade

  .main-wrapper
    .section-content.reviews-content
      .page-title
        p.page-title__number 05
        h1.page-title__text отзывы о курсе

      .reviews-main
        .reviews-slider-container
          //.reviews-counter
          //  span 1
          //  |  / 6
          .reviews-slider
            .reviews-slide-container
              .reviews-slide
                .reviews-slide__author
                  .reviews-slide__author-avatar
                    img(src="/img/home/reviews/review-avatar-1.jpg")
                  .reviews-slide__author-info
                    h3.reviews-slide__author-name Джек Швагер,
                    p.reviews-slide__author-niche уникальный писатель,<br> талантливый трейдер<br> и опытный управляющий
                .reviews-slide__content
                  h1.reviews-slide__title Работать по  стратегии Александра Герчика<br> очень скучно, но очень выгодно
                  p.reviews-slide__text Герчик своим примером и результатами четко показывает, что хорошо работают именно простые методы. И, если соблюдать дисциплину и работать по алгоритму, а не играться, то можно обойтись без  кучи индикаторов, даже без премудростей технического анализа и при этом отлично зарабатывать.
            .reviews-slide-container
              .reviews-slide
                .reviews-slide__author
                  .reviews-slide__author-avatar
                    img(src="/img/home/reviews/review-avatar-2.jpg")
                  .reviews-slide__author-info
                    h3.reviews-slide__author-name Михаил
                .reviews-slide__content
                  h1.reviews-slide__title Самое главное - доходчивость.
                  p.reviews-slide__text Воды нет и все настолько доходчиво, с одной стороны. Дисциплина, логика и созданная самим собой стратегия - это и есть грааль. А курс Герчика является станком для этого грааля, вашего грааля.
            .reviews-slide-container
              .reviews-slide
                .reviews-slide__author
                  .reviews-slide__author-avatar
                    img(src="/img/home/reviews/review-avatar-3.jpg")
                  .reviews-slide__author-info
                    h3.reviews-slide__author-name Дмитрий
                .reviews-slide__content
                  h1.reviews-slide__title Мне как новичку все понравилось.
                  p.reviews-slide__text Если бы раньше начал ставить стопы, то было бы +40% у меня. Уровни, точки входа, стоплосы – все очень четко, понятно рассказано. Александр Михайлович обучает одному главному принципу работы трейдера - систематизированной торговли, и я абсолютно такого же мнения, что если торговать по отработанной и хорошо выстроенной торговой системе, можно преуспеть в торговле на финансовых рынках. Ставлю «отлично»!
            .reviews-slide-container
              .reviews-slide
                .reviews-slide__author
                  .reviews-slide__author-avatar
                    img(src="/img/home/reviews/review-avatar-4.jpg")
                  .reviews-slide__author-info
                    h3.reviews-slide__author-name Екатерина
                .reviews-slide__content
                  h1.reviews-slide__title Все понравилось.
                  p.reviews-slide__text Для меня с самого начала самым важным были стопы – их систематизация и понимание. Я сначала торговала Россию, теперь торгую Америку, всё работает, всё применимо для разных рынков, таймфреймов.
            .reviews-slide-container
              .reviews-slide
                .reviews-slide__author
                  .reviews-slide__author-avatar
                    img(src="/img/home/reviews/review-avatar-5.jpg")
                  .reviews-slide__author-info
                    h3.reviews-slide__author-name Константин
                .reviews-slide__content
                  h1.reviews-slide__title Статистика после курса сразу же рванула вверх.
                  p.reviews-slide__text Ну, просто появилась система, чёткая система, и если быть достаточно дисциплинированным, включать голову, делать полноценную домашку, то система отличная – она не даёт попасть в тиль, она даёт возможность психологически себя выровнять.
            .reviews-slide-container
              .reviews-slide
                .reviews-slide__author
                  .reviews-slide__author-avatar
                    img(src="/img/home/reviews/review-avatar-6.jpg")
                  .reviews-slide__author-info
                    h3.reviews-slide__author-name Евгений
                .reviews-slide__content
                  h1.reviews-slide__title Курс превзошел все мои ожидания,<br> дал мне гораздо больше, чем я ждал.
                  p.reviews-slide__text Конечно, были вещи, которые сразу были непонятны, но с каждым днём, получая всё больше информации, переделывая по 5,6,7 раз домашки, я начал разбираться в том, что сразу недопонял. И, постепенно приходило понимание, что основное – это выработка собственного алгоритма, на базе опыта Александра Михайловича каждый может выстроить свою систему и начать зарабатывать.

        ul.reviews-videos
          li.reviews-video#reviews-video-1(onclick="showVideoPopup('#popup-video-review-1', '236890865')")
            .reviews-video__image
              img(src='/img/home/reviews/video-review-1.jpg')
              //iframe(src='https://player.vimeo.com/video/236891002', width='100%', height='100%', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
            .reviews-video__btn
              svg(width='8px', height='11px', viewbox='0 0 8 11', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#Gerchik-Product-Page-1366x700(transform='translate(-1086.000000, -10490.000000)', fill='#0099EE')
                    g#block-8(transform='translate(0.000000, 9795.000000)')
                      g#Group-6(transform='translate(192.000000, 520.000000)')
                        g#video-3(transform='translate(736.000000, 20.000000)')
                          g#play-button(transform='translate(136.000000, 136.000000)')
                            polygon#play-icon(points='22 19 22 29.6122697 30 24.3061349')
              p.reviews-video__btn-text Смотреть
          li.reviews-video#reviews-video-2(onclick="showVideoPopup('#popup-video-review-2', '236890937')")
            .reviews-video__image
              img(src='/img/home/reviews/video-review-2.jpg')
              //iframe(src='https://player.vimeo.com/video/236890937', width='100%', height='100%', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
            .reviews-video__btn
              svg(width='8px', height='11px', viewbox='0 0 8 11', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#Gerchik-Product-Page-1366x700(transform='translate(-1086.000000, -10490.000000)', fill='#0099EE')
                    g#block-8(transform='translate(0.000000, 9795.000000)')
                      g#Group-6(transform='translate(192.000000, 520.000000)')
                        g#video-3(transform='translate(736.000000, 20.000000)')
                          g#play-button(transform='translate(136.000000, 136.000000)')
                            polygon#play-icon(points='22 19 22 29.6122697 30 24.3061349')
              p.reviews-video__btn-text Смотреть
          li.reviews-video#reviews-video-3(onclick="showVideoPopup('#popup-video-review-3', '236891002')")
            .reviews-video__image
              img(src='/img/home/reviews/video-review-3.jpg')
              //iframe(src='https://player.vimeo.com/video/236890865', width='100%', height='100%', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
            .reviews-video__btn
              svg(width='8px', height='11px', viewbox='0 0 8 11', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g#Gerchik-Product-Page-1366x700(transform='translate(-1086.000000, -10490.000000)', fill='#0099EE')
                    g#block-8(transform='translate(0.000000, 9795.000000)')
                      g#Group-6(transform='translate(192.000000, 520.000000)')
                        g#video-3(transform='translate(736.000000, 20.000000)')
                          g#play-button(transform='translate(136.000000, 136.000000)')
                            polygon#play-icon(points='22 19 22 29.6122697 30 24.3061349')
              p.reviews-video__btn-text Смотреть
