.section.page-section#video-section
  include ../../partials/background-lines.jade

  .main-wrapper
    .section-content.video-content
      .main-video
        .main-video__btn
          svg.main-video__btn-icon(width='8px', height='11px', viewbox='0 0 8 11', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g#LP(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g#Gerchik-Product-Page-1366x700(transform='translate(-686.000000, -1056.000000)', fill='#FFFFFF')
                g#block-2(transform='translate(0.000000, 696.000000)')
                  g(transform='translate(257.000000, 104.000000)')
                    g#button(transform='translate(388.000000, 227.000000)')
                      polygon#play-icon(points='41 29 41 39.6122697 49 34.3061349')
          p.main-video__btn-text Смотреть

      a(href="#author").main-video-skip Пропустить видео