// All scss variables should be in this file
// sizes
$lg: 1480px;
$md: 1200px;
$sm: 720px;
// colors
$color-black: #000000;
$color-black-04: rgba(0,0,0,0.4);
$color-mine-shaft: #222222;
$color-tundora: #404040;
$color-cod-gray: #1A1A1A;
$color-pickled-bluewood: #213042;
$color-emperor: #515151;
$color-slate-gray: #707E91;
$color-dusty-gray: #9B9B9B;
$color-dust-gray: #979797;
$color-dust-gray-015: rgba(151, 151, 151, 0.15);
$color-shuttle-gray: #5D6A7E;
$color-bali-hali: #909CAD;
$color-regent-gray: #7E8A9D;
$color-waterloo: #797E98;
$color-manatee: #8B91A9;
$color-gull-gray: #9DA8B8;
$color-ghost: #CED3D9;
$color-ghost-05: rgba(206, 211, 217, 0.5);
$color-cadet-blue: #ADB7C4;
$color-heather: #C3CCD9;
$color-catskill-white: #EBF0F6;
$color-catskill-white-06: rgba(235, 240, 246, 0.6);
$color-catskill-white-2: #E5ECF3;
$color-geyser: #CED6E1;
$color-mystic: #E6EBF1;
$color-gallery: #ECECEC;
$color-link-water: #EEF3FA;
$color-aqua-gaze: #F1F4F7;
$color-aqua-gaze-06: rgba(241, 244, 247, 0.6);
$color-aqua-gaze-2: #EBEFF4;
$color-aqua-gaze-2-00: rgba(235, 239, 244, 0);
$color-athens-gray: #F3F5F8;
$color-athens-gray-06: rgba(241, 244, 247, 0.6);
$color-athens-gray-2: #E2E5E9;
$color-athens-gray-3: #EEF0F4;
$color-alabaster: #FBFBFB;
$color-alabaster-09: rgba(251, 251, 251, 0.9);
$color-white: #ffffff;
$color-white-09: rgba(255,255,255, 0.9);
$color-cloud-burst: #1C2C41;
$color-cloud-burst-08: rgba(28, 44, 65, 0.8);
$color-science-blue: #0068E2;
$color-science-blue-06: rgba(0, 104, 226, 0.6);
$color-science-blue-08: rgba(0, 104, 226, 0.8);
$color-science-blue-07: rgba(0, 104, 226, 0.7);
$color-science-blue-2: #084EDB;
$color-science-blue-3: #005AC4;
$color-science-blue-4: #0060D0;
$color-science-blue-4-085: rgba(0, 96, 208, 0.85);
$color-science-blue-5: #0562D0;
$color-science-blue-5-044: rgba(5, 98, 208, 0.44);
$color-azure-radiance: #0B77F6;
$color-dodger-blue: #1E9AFA;
$color-dodger-blue-2: #1DACFB;
$color-dodger-blue-3: #2489FF;
$color-cornflower-blue: #6BA6EB;
$color-perano: #A1C7F4;
$color-jordy-blue: #91BAF2;
$color-danube: #7FA9DB;
$color-anakiwa: #AAE1FF;
$color-onahau: #CFEEFF;
$color-persian-green: #00AA9A;
$color-persian-green-03: rgba(0, 170, 154, 0.3);
$color-persian-green-2: #00B3A2;
$color-robins-egg-blue: #00CFBB;
$color-robins-egg-blue-09: rgba(0, 207, 187, 0.9);
$color-malachite: #00D25F;
$color-spray: #7DEDE2;