.notification
  .notification__close
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 16', width="16" height="16" style='enable-background:new 0 0 16 16;', xml:space='preserve')
      g(transform='translate(-1038 -82)')
        g
          path#a(d='M1038.8,84.6l1.8-1.7l12.9,12.9l-1.7,1.7L1038.8,84.6z')
        g
          g
            path#b(d='M1053.5,84.6l-1.7-1.7l-12.9,12.9l1.7,1.7L1053.5,84.6z')
  h1.notification__title Пакет Базовый
  p.notification__text Александр только что забронировал место на курсе
  #notification-countdown(style="display: none")