.popup-wrapper#popup-oferta
  .popup-scrollarea
    .popup.popup-agreements
      .popup__close
        svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 16', style='enable-background:new 0 0 16 16;', xml:space='preserve')
          g(transform='translate(-1038 -82)')
            g
              path#a(d='M1038.8,84.6l1.8-1.7l12.9,12.9l-1.7,1.7L1038.8,84.6z')
            g
              g
                path#b(d='M1053.5,84.6l-1.7-1.7l-12.9,12.9l1.7,1.7L1053.5,84.6z')
      .popup-agreements__content
        h1 ОБЩИЕ УСЛОВИЯ И ПОЛОЖЕНИЯ ПОЛЬЗОВАНИЯ УСЛУГАМИ И МАТЕРИАЛАМИ GERCHIK.RU
        h2 1. ВСТУПЛЕНИЕ

        p Настоящие Общие Условия и Положения регулируют правовой режим пользования материалами и услугами, предлагаемыми на сайте Gerchik.ru, а также устанавливают порядок оказания услуг.
        p Пожалуйста, внимательно прочтите настоящие Общие Условия и Положения.

        h2 2. ПРЕДМЕТ СОГЛАШЕНИЯ

        h2 2.1 Стороны и предмет соглашения

        p Настоящие Общие Условия и Положения представляют собой пользовательское соглашение, заключенное вами (пользователем сайта https://gerchik.ru) и нами TRADING EDUCATION LP, 24 Station Square, Suite 16, Inverness, IV1 1LD, Scotland, UK, Co. Id. SL26831 (далее по тексту "нас", "мы" или «Администрация сайта»).
        p Предметом соглашения является пользование материалами сайта, а также платными услугами (сервисами), которые мы предлагаем от имени Александра Герчика, на нашем сайте http://gerchik.ru, а также других сайтах проекта (далее по тексту "Сервисы" или "Услуги").

        h2 2.2 Условия пользования платными услугами и материалами сайта

        p Пользователем может быть любое лицо, которое принимает условия пользовательского соглашения и использует материалы сайта, а также пользуется услугами сайта по причинам, не связанным с коммерческими целями или предпринимательской деятельностью.Для приобретения услуг пользователь должен иметь полную дееспособность и быть лицом, достигшим 18 летнего возраста.

        h2 2.3 Использование интеллектуальной собственности

        p Все материалы, размещенные на сайте gerchik.ru, а также материалы, предоставляемые пользователю в ходе оказания платных услуг (контент) являются объектом авторского права, исключительные права, на использование которого принадлежат компании TRADING EDUCATION LP.
        p Свободное и безвозмездное использование материалов, входящих в состав сайта gerchik.ru ограничено использованием контента в личных некоммерческих целях и не допускается в других случаях.
        p Копирование, использование (воспроизведение) и распространение материалов, размещенных на сайте или предоставляемых пользователю в ходе оказания платных услуг, равно как и использование контента с целью ведения конкурентной деятельности, без письменного разрешения правообладателя, строго запрещено и преследуется по закону.
        p Любое нарушение авторских и смежных прав преследуется в соответствии с законодательством Шотландии и международным законодательством и влечет наступление гражданской, административной и уголовной ответственности.

        h2 2.4 Дополнительные условия и положения

        p Мы оставляем за собой право вводить дополнительные условия пользования материалами и услугами сайта, обязательные для исполнения. Тем не менее, мы обязуемся уведомить вас об этом заранее.

        h2 3. СТОИМОСТЬ И ОПИСАНИЕ УСЛУГ GERCHIK.RU

        h2 3.1 Платные услуги и бесплатные материалы

        p Объем услуг, предлагаемых Gerchik.ru доступных вам, зависит от условий приобретенного продукта и пакета услуг.
        p Если вы пользуетесь материалами, доступными в открытых разделах сайта Gerchik.ru и распространяемыми бесплатно, вы получаете только базовую информацию по интересующей тематике.
        p В случае приобретения пакета платных услуг, вы получаете расширенную информацию, а также доступ к платному контенту, и платным сервисам сайта. Вы можете приобрести отдельный продукт (пакет услуг) за единоразовую плату или же оформить ежемесячную подписку на сервисы Gerchik.ru.
        p Условия пользования платной подпиской регулируются положениями отдельного договора (оферты), который вы заключаете с нами в процессе оформления подписки.
        p Пожалуйста, обратите внимание, что некоторые предоплаченные пакеты услуг подразумевают получение доступа сразу к нескольким сервисам или программам обучения. Однако, если это не так, для получения информационных материалов по дополнительным программам обучения вам необходимо приобрести такие услуги отдельно.
        p Некоторые программы обучения подразумевают самостоятельную работу и выполнение определенных заданий (домашних заданий), которые являются частью процесса оказания услуг.

        h2 3.2 Цены и стоимость услуг

        p Стоимость приобретаемых вами услуг (пакета услуг в рамках программы обучения или ежемесячной подписки), могут быть опубликованы нами на странице продукта, на сайте www.gerchik.ru или должны быть указаны в сообщении, направленном вам по адресу электронной почты, указанному при регистрации.

        h2 4. ПОЛЬЗОВАНИЕ САЙТОМ И ЗАКАЗ УСЛУГ

        h2 4.1. Пользуясь бесплатными материалами или приобретая платные услуги на сайте, вы принимаете настоящие Общие Условия и Положения, а также нашу Политику конфиденциальности. Если вы не согласны с содержанием указанных документов, покиньте сайт и прекратите пользование услугами.

        h2 5. ЗАКЛЮЧЕНИЕ СДЕЛКИ

        p Порядок формирования и заключения соответствующей сделки зависит от выбранного вами продукта (пакета услуг) и метода оплаты, а также от того, оформляете ли вы ежемесячную подписку на услуги www.gerchik.ru.

        h2 5.1 Заключение пользовательского соглашения

        p При пользовании бесплатными материалами, размещенными в отрытых разделах сайта, пользователь сайта заключает Пользовательское соглашение на условиях Общих Условий и Положений.
        p В случае приобретения предоплаченного пакета услуг, Пользовательское соглашение (договор об оказании услуг) формируется в момент нажатия на кнопку «Принять участие» или «Купить» (или другое аналогичное поле). Пользовательское соглашение состоит из настоящих Общих условий и Положений, условий пакета услуг (опубликованных на странице продукта), а также текста письма, содержащего существенные условия сделки (цена, срок и другие условия), направленного пользователю по адресу электронной почты, указанному при оформлении заказа. Пользовательское соглашение считается заключенным в момент оплаты пользователем заказанного пакета услуг одним из доступных способов оплаты на сайте или с момента оплаты пользователем выставленного нами счета.
        p В процессе оформления ежемесячной платной подписки на услуги, Пользовательское соглашение (договор об оказании услуг) формируется в момент нажатия на кнопку «Принять участие» или «Купить» (или другое аналогичное поле) и считается заключенным в момент успешного ввода ваших платежных реквизитов во фрейм платежной системы, на условиях настоящих Общих условий и Положений, Договора-оферты и условий подписки, опубликованных на странице продукта.

        h2 5.2 Приобретение нескольких продуктов или дополнительных услуг

        p Приобретая услуги на нашем сайте, вы в любой момент можете прервать процесс оформления покупки и исправить любые ошибки ввода до момента завершения процесса покупки – оплаты пакета услуг или ввода корректных платежных реквизитов во фрейм платежной системы для подписок.

        h2 6. СРОК ДЕЙСТВИЯ СОГЛАШЕНИЯ

        h2 6.1 Пользовательское соглашение

        p Пользовательское соглашение, заключенное между вами и нами в связи с использованием материалов сайта, считается заключенным на неопределенный срок.
        p Срок действия пользовательского соглашения (договора об оказании услуг), заключенного в связи с приобретением предоплаченного пакета услуг или оформлением ежемесячной подписки, определяется условиями пакета услуг или условиями подписки, опубликованными на странице продукта на сайте www.gerchik.ru.

        h2 6.2 Разовые услуги

        p Любые разовые услуги/ предоплаченные пакеты услуг, приобретаемые на сайте, могут быть предложены на определенный период (иметь фиксированный срок оказания услуг). В таком случае, по истечению указанного срока, оказание услуг прекратится автоматически, в момент окончания указанного периода оказания услуг; действия со стороны пользователя, направленные на прекращение услуг не требуется.

        h2 6.3 Подписка

        p Подписки на наши услуги предлагаются с различными минимальными сроками действия (минимальный срок подписки) и автоматически продлеваются на такой же минимальный срок подписки до того момента, пока вы или мы не отменим их продление. Во избежание недопониманий, пожалуйста, обратите внимание, что срок действия подписки определяется календарными днями независимо от того пользовались вы указанными услугами Gerchik.ru или нет.

        h2 7. УСЛОВИЯ ОПЛАТЫ

        h2 7.1 Списание средств

        p В случае приобретения пакета услуг, в момент заключения Договора об оказании услуг, происходит разовое списание суммы стоимости заказанных услуг.
        p В случае оформления возобновляемой подписки на услуги, средства списываются за минимальный срок подписки. В случае автоматического продления подписки на услуги на новый период, средства списываются в качестве аванса, до момента начала оказания услуг в новом расчетном периоде.

        h2 7.2 Неисполнение платежных обязательств

        p Мы оставляем за собой право предъявлять претензии по поводу нарушения установленных сроков оплаты услуг. В случае невозможности списания денежных средств с вашей платежной карты, мы имеем право не начинать оказание услуги до момента их оплаты.

        h2 8. СПОСОБ ОПЛАТЫ

        p Вы можете ознакомиться с доступными способами оплаты наших услуг на сайте www.gerchik.ru.
        p В случае уплаты нами дополнительных комиссий или возникновения других расходов вследствие отклонения платежа по вашей вине (к примеру: недостаточно средств на карте; допустимый кредитный лимит по карте уже исчерпан), мы оставляем за собой право дополнительно списать с вашей карты/ счета сумму фактически понесенных нами расходов.
        p Мы сохраняем за собой право, в любой момент, на свое усмотрение изменить способ оплаты приобретаемого продукта и/ или отказаться от предлагаемого ранее способа оплаты, предложив альтернативные способы оплаты услуг.

        h2 9. ПРАВО ОТКАЗА

        h2 9.1 Политика отказа от услуг

        p После того как вы заключили Пользовательское соглашение (договор об оказании услуг), приобрели пакет услуг разово или оформили периодическую подписку на услуги www.gerchik.ru, в каждом отдельном случае, вы получаете право отказаться от получения услуг и получить возврат денежных средств.
        p Вы имеете право отказаться от получения услуг в течение 7 (семи) календарных дней с момента оплаты заказанного пакета услуг или оформления подписки, без указания причин.
        p Для оформления отказа от услуг и получения возврата денежных средств вы должны направить, нам письменное уведомление в свободной форме и запросить возврат средств, направив письмо по адресу support@gerchik.ru, указанному на сайте. Вы также можете оформить отказ от получения услуг и запросить возврат денежных средств по телефону, для этого, свяжитесь с нами по одному из контактных телефонов, указанных на сайте. В таком случае, мы подтвердим получение запроса, направив уведомление по адресу электронной почты, указанному при оформлении заказа.
        p Для соблюдения установленного срока отказа вам достаточно уведомить нас об отказе не позднее семи (7) дней с даты оплаты пакета услуг/ даты оформления подписки.

        h2 9.2. Последствия отказа от услуг

        p Если вы уведомили нас об отказе от услуг в указанный срок, мы обязуемся вернуть вам все платежи, полученные от вас в качестве оплаты продукта или подписки, в течение 7 календарных дней с дня получения запроса на возврат.
        p Для возврата средств мы воспользуемся тем же способом платежа, который вы использовали при оплате услуг. Мы самостоятельно оплатим все дополнительные комиссии платежных систем, связанные с возвратом платежа.
        p В случае, если вы уже начали пользоваться услугами в течение срока отказа, мы удержим из внесенной суммы, сумму стоимости услуг, фактически оказанных на момент получения уведомления об отказе, пропорционально объему уже оказанных услуг, по отношению к общему оплаченных услуг.

        h2 9.3 Истечение периода отказа

        p В случае, если услуги были оказаны в полном объеме, до истечения периода отказа и до момента получения уведомления об отказе от договора, возврат денежных средств не осуществляется.
        p В случае отказа от получения услуг с нарушением указанного срока, возврат денежных средств не осуществляется, а такой отказ считается нарушением условий договора.

        h2 10. ОТВЕТСТВЕННОСТЬ ЗА УСЛУГИ НЕНАДЛЕЖАЩЕГО КАЧЕСТВА

        h2 10.1 Предписания закона

        p Положения действующего законодательства о защите прав потребителей, касательно претензий по поводу оказания услуг ненадлежащего качества, распространяются на возникающие отношения, независимо от положений пользовательского соглашения. Ваши права потребителя, установленные законом, в любом случае, не будут затронуты.

        h2 10.2 Оговорка о гарантиях

        p Мы не даем никаких гарантий, что пользование услугами Gerhcik.ru принесет ожидаемый вами результат. Мы не можем обещать вам успех. Но, конкретные результаты обучения зависят от многих факторов, на которые мы не можем повлиять, такие как ваши индивидуальные способности к обучению, а также добросовестное выполнение домашних заданий и наших рекомендаций. Поэтому, результаты различных пользователей могут сильно отличаться при пользовании одними и теми же услугами.

        h2 11. ОТВЕТСТВЕННОСТЬ

        h2 11.1 Общие положения

        p В случае нарушения сторонами обязательств, предоставления недостоверной информации при заключении или в ходе исполнения сделки, стороны несут ответственность в порядке, установленном заключенным Пользовательским соглашением.

        h2 11.2 Мы несем ответственности за:

        p - нарушение условий Пользовательского соглашение;
        p - нарушение условий и сроков оказания услуг;
        p - оказание услуг ненадлежащего качества.

        h2 11.3 Мы не несем ответственности за:

        p - невозможность предоставления услуг по причинам от нас независящим, включая форс-мажор, нарушение работы линий связи, неисправность оборудования и программного обеспечения, не принадлежащего нам;
        p - за полные или частичные прерывания оказания услуг, связанные с заменой оборудования, программного обеспечения или проведения других работ, вызванных необходимостью поддержания работоспособности и развития технических средств (при условии предварительного извещения пользователя);
        p - нарушение безопасности оборудования и программного обеспечения пользователя, используемого им для получения услуг; - утрату конфиденциальной информации или ее части, если в этом нет нашей вины;
        p - какие-либо убытки третьих лиц, возникшие не по нашей вине.

        h2 11.4. Вы несете ответственность за:

        p - использование третьими лицами ученых данных, используемых для получения доступа к информационным материалам и сервисам;
        p - Использование материалов, размещенных на сайте или предоставляемых пользователю в ходе оказания платных услуг, с целью их последующей перепродажи, распространения или передачи третьим лицам или с целью ведения конкурентной деятельности;
        p - нарушение условий платежа.

        h2 11.5. Ограничение ответственности:

        p Наша совокупная ответственность по любому иску или претензии ограничивается суммой приобретенной услуги ненадлежащего качества или оказанной с нарушением сроков.
        p В случае нарушения нами сроков оказания услуг наша ответственность ограничивается исключительно:
        p - продлением сроков оказания услуг или
        p - оказанием услуг в новые сроки до полного исполнения наших обязательств.

        h2 11.6 Ответственность наших работников и агентов

        p В тех случаях, когда наша ответственность ограничена или исключается, такое же ограничение ответственности или ее исключение касается наших работников или агентов.

        h2 12. ПРАВО НА ИСПОЛЬЗОВАНИЕ КОНТЕНТА GERCHIK.RU

        p В зависимости от приобретенного вами пакета услуг, вы получаете доступ к определенному контенту (информационным и обучающим материалам), авторские и смежные права на который защищены или в любом случае принадлежат нам.
        p На условиях приобретенного вами пакета услуг или подписки, мы предоставляем вам неэксклюзивное непередаваемое право (ограниченную лицензию) на использование контента в некоммерческих целях на условиях настоящего соглашения.

        h2 13. ОТВЕТСТВЕННОСТЬ ЗА РАЗМЕЩАЕМЫЕ ВАМИ МАТЕРИАЛЫ И КОНТЕНТ

        h2 13.1 Ограничение ответственности за размещение контента

        p Вы несете ответственность за контент и материалы, которые вы размещаете на нашем сайте или в чатах в процессе пользования услугами Gerchik.ru. Мы не несем ответственности за размещаемые вами материалы и не осуществляем их отслеживание.

        h2 13.2 Соответствия требованиям законодательства

        p Размещая ваш собственный контент вы обязаны соблюдать требования законодательства Шотландии. В любом случае, запрещается публикация контента порнографического, сексуального характера, пропагандирующего насилие, садизм, дискриминацию, содержащего угрозы или клевету.
        p Кроме того, ваш контент также не должен нарушать прав третьих лиц. Настоящее касается имущественных и личных неимущественных прав третьих лиц, в том числе прав интеллектуальной собственности (например, авторское право и права на товарный знак и торговое наименование). В частности, вы также обязаны не нарушать прав третьих лиц при размещении комментариев/ отзывов, фото профиля или любых картинок, которые вы публикуете.
        p Мы имеем право в любой момент удалить или переместить любой контент, размещенный вами, если сочтем, что он нарушает права третьих лиц либо требования законодательства. Если же вы нарушаете указанные принципы размещения контента мы имеем право направить вам письменное предупреждение и временно заблокировать вашу учетную запись и приостановить оказание услуг, либо расторгнуть контракт в одностороннем порядке.

        h2 13.3 Возмещение ущерба

        p Если вы нарушаете требования раздела 14.2., вы обязаны возместить нам все убытки, понесенные в связи с удовлетворением претензий третьих лиц (чьи права вы нарушили). Мы оставляем за собой право предъявлять вам претензии за потери и другие требования, в порядке регресса.

        h2 14. ПРЕКРАЩЕНИЕ СОГЛАШЕНИЯ

        h2 14.1 Пользовательское соглашение

        p Вы имеете право прекратить пользование сайтом и приобретенными услугами в любое время, без указания причины, тем самым вы прекращаете действие заключенного пользовательского соглашения (односторонний отказ от договора). Для этого, сообщите нам об этом, обратившись в службу поддержки пользователей, по одному из телефонов, указанных на сайте.
        p Пожалуйста, обратите внимание, после того как отказались от услуг (расторгли пользовательское соглашение), вы потеряете доступ ко всему приобретенному контенту и доступным услугам. В случае, если на момент удаления аккаунта вы все еще имеете действующую подписку или доступ к приобретенному пакету услуг, любая сумма, которую вы уплатили в счет оплаты услуг и сервисов Gerchik.ru не будет возвращена, в том числе и сумма стоимости фактически неиспользованных услуг.
        p Мы оставляем за собой право расторгнуть пользовательское соглашение без указания причин, при условии направления вам письменного уведомления не позднее чем за одну (1) неделю до планируемой даты расторжения, но в любом случае, пользовательское соглашение не может быть расторгнуто раньше окончания минимального оплаченного срока подписки или момента окончания срока оказания услуг по условиям предоплаченного пакета услуг.

        h2 14.2 Подписка

        p Каждая подписка на услуги Gerchik.ru должна быть отменена отдельно. Вы можете отменить указанную подписку без указания причин в любое время по окончанию соответствующего минимального срока подписки или в день окончания периода на который подписка была продлена.
        p Вы можете отменить любую подписку на наши услуги на нашем сайте www.gerchik.ru выбрав соответствующую настройку в вашем кабинете пользователя и отвязав платежную карту. Вы также можете отказаться от подписки направив нам email сообщение по адресу support@gerchik.ru или почтой.
        p Мы оставляем за собой право отменить вашу подписку, начиная с дня окончания минимального периода подписки или периода, на который подписка была продлена, при условии направления вам письменного уведомления не позднее чем за одну (1) неделю до планируемой даты отмены.

        h2 14.3 Односторонний отказ от договора по веским основаниям

        p Каждая сторона имеет право отказаться от договора в одностороннем порядке по веским основаниям. В частности, мы имеем право аннулировать ваш аккаунт и расторгнуть пользовательское соглашение или отменить вашу подписку незамедлительно, в случае, если вы повторно грубо нарушаете условия и положения пользовательского соглашения и/или настоящие Общие Правила и Положения пользования услугами, а также в случае возникновения задолженности по оплате услуг.

        h2 15. ПЕРСОНАЛЬНЫЕ ДАННЫЕ

        p Мы обрабатываем ваши персональные данные в соответствии с нашей политикой конфиденциальности; вы всегда можете найти актуальную версию политики конфиденциальности на нашем сайте gerchik.ru/privacy. В частности, эти условия регламентируют сбор, использование и защиту ваших персональных данных.
        p Обратите внимание, что, пользуясь сайтом, вы соглашаетесь нашей политикой конфиденциальности и даете согласие на сбор и обработку ваших персональных данных на указанных условиях. Если вы не согласны с ними, прекратите использование сайта.

        h2 16. ИЗМЕНЕНИЯ В ОБЩИЕ УСЛОВИЯ И ПОЛОЖЕНИЯ ОКАЗАНИЯ УСЛУГ

        p Мы оставляем за сбой право изменять или дополнять настоящие Общие Условия и Положения, которые вступают в силу в будущем. Мы сообщим вам об изменениях по email не позднее чем за две (2) недели до момента запланированного вступления в силу новой версии Общих Условий и Положений.
        p Если вы не возражаете против действительности новых Условий и Положений и продолжаете пользоваться услугами Gerchik.ru, в таком случае новая редакция Условий и Положений считается принятой вами.
        p В случае если вы возражаете против новой редакции, мы определенно сохраняем за собой право на односторонний отказ от договора в установленном порядке. Мы также дополнительно сообщим вас о вашем праве заявить возражения, а также о возможном сроке возражений, и сообщим вам о юридических последствиях возражения или пропуска установленного срока для направления возражений.

        h2 17. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ

        h2 17.1 Применимое право

        p Отношения сторон регулируются нормами законодательства Шотландии, а также Конвенцией о международных договорах купли-продажи. В части законодательства о защите прав потребителей, по сделкам с потребителями в пределах Европейского Союза, также применяется законодательство страны проживания пользователя.

        h2 17.2 Язык соглашения

        p Язык соглашения – русский.

        h2 17.3 Действительность положений

        p Если какое-либо из условий Пользовательского соглашения становится недействительным или противоречит действующему законодательству, такое положение заменяется аналогичным, максимально отвечающим изначальным намерениям Сторон, содержавшимся в Общих Условиях и Положениях. Недействительность отдельных положений соглашения не влечет недействительности Пользовательского соглашения в целом.

        h2 18. ИНФОРМАЦИЯ О ПОСТАВЩИКЕ УСЛУГ

        p
          | TRADING EDUCATION LP<br>
          | 24 STATION SQUARE, SUITE 16, INVERNESS, IV1 1LD<br>
          | SCOTLAND, UK<br>
          | CO. ID. SL26831<br>
          | Email: <a href="mailto:suppor@gmail.com">suppor@gmail.com</a>
