.popup-wrapper#popup-policy
  .popup-scrollarea
    .popup.popup-agreements
      .popup__close
        svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 16', style='enable-background:new 0 0 16 16;', xml:space='preserve')
          g(transform='translate(-1038 -82)')
            g
              path#a(d='M1038.8,84.6l1.8-1.7l12.9,12.9l-1.7,1.7L1038.8,84.6z')
            g
              g
                path#b(d='M1053.5,84.6l-1.7-1.7l-12.9,12.9l1.7,1.7L1053.5,84.6z')
      .popup-agreements__content
        h1 Политика конфиденциальности и сбора данных gerchik.ru

        h2 Условия сбора и хранения данных

        p Осуществляя регистрацию на сайте или приобретая услуги сайта gerchik.ru, а также отвечая на необходимые вопросы в анкете при регистрации и оформлении покупки, пользователь подтверждает, что дает согласие TRADING EDUCATION LP (далее «Оператор данных» или «Оператор») и уполномоченным им лицам, на обработку персональных данных, а также что является совершеннолетним лицом.

        p Пользователь дает свое согласие Оператору и уполномоченным им лицам на обработку полученной информации, включая сбор, хранение, использование, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение, обезличивание, блокирование, уничтожение персональных данных, оставленных при использовании средств автоматизации, систематизацию и формирование базы данных пользователей сайта/ сервиса, составления статистической отчетности, а также на получение информации о проводимых исследованиях и иных предложений от Оператора и уполномоченных им лиц.

        p Настоящим Пользователь предоставляет свое согласие и разрешает Оператору и уполномоченным им лицам обрабатывать свои персональные данные, в том числе: (Имя; Фамилию; Отчество; Пол; Контактный телефон; Электронную почту; информацию о сфере деятельности).

        p Пользователь подтверждает, что его согласие дает право Оператору и уполномоченным им лицам осуществлять автоматизированную и неавтоматизированную обработку, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, исправление), использование, распространение, обезличивание, блокирование, уничтожение персональных данных, указанных в анкете, в целях мероприятий, направленных на формирование базы данных участников, составления статистической отчетности, проведения маркетинговых исследований, а также осуществления взаимодействия с пользователем, в том числе с помощью сетей электросвязи, включая направление SMS-сообщений и электронных писем, до отзыва такого согласия. Пользователь подтверждает свое согласие с тем, что Оператор и уполномоченные им лица вправе взаимодействовать с Пользователем путем осуществления прямых контактов с помощью различных средств связи, включая, но, не ограничиваясь: почтовая рассылка, электронная почта, сеть Интернет и др.

        p Пользователь вправе в любое время отозвать свое согласие, путем направления уведомления Оператору, воспользовавшись контактными данными Оператора, размещенными на сайте gerchik.ru.

        p Пользователь согласен с тем, что предоставленные им персональные данные будут удалены по его письменному требованию в течение шестидесяти (60) дней с даты получения требования об их уничтожении.

        p Пользователь предоставляет Оператору согласие на обработку своих персональных данных на срок 10 лет с даты передачи его данных оператору. В случае, если по истечении вышеуказанного срока согласие на обработку персональных данных не отозвано, действие согласия пролонгируется еще на 10 лет. Количество пролонгаций не ограничено.

        p Оператор оставляет за собой право использовать присланную информацию указанными выше способами без специального согласования с Пользователями и без выплаты последующего денежного вознаграждения Пользователю.

        p Оператор сохраняет за собой право периодического обновления или внесения изменений в вышеизложенные положения в одностороннем порядке.

        h2 Категории собираемых Данных

        p Категории Персональных данных, сбор которых осуществляет сайт gerchik.ru (самостоятельно или при посредничестве третьих лиц), включают: Файлы «cookie» и Данные об использовании сетевых ресурсов.

        p Прочие собираемые Персональные данные могут описываться в других разделах настоящих правил обеспечения конфиденциальности персональных данных или в специальном пояснительном тексте в контексте сбора Данных.

        p Персональные данные могут предоставляться Пользователем самостоятельно или их сбор может автоматически осуществлять сайт при его использовании.

        p Если не указано иное, сайт gerchik.ru использует файлы «cookie» (или другие средства отслеживания) для идентификации Пользователей и запоминания установленных ими глобальных параметров настройки исключительно в целях предоставления услуги, требующейся Пользователю.

        p Пользователи несут ответственность за Персональные данные третьих лиц, которые они получают, публикуют или предоставляют другим лицам, используя сайт, и подтверждают, что у них имеется согласие третьего лица на предоставление Данных Владельцу.

        h2 Метод и место обработки Данных

        h2 Метод обработки

        p Обработка Данных осуществляется с использованием компьютеров и (или) средств с поддержкой информационных технологий (ИТ) в соответствии с организационными процедурами и методами, строго связанными с указанными целями. В некоторых случаях Данные могут быть доступны, помимо Оператора данных, определенным категориям ответственных лиц, связанных с обеспечением функционирования сайта (администрация, отдел продаж, отдел маркетинга, юридический отдел, системные администраторы), или сторонним организациям (таким как сторонние поставщики технических услуг, почтовые организации, поставщики услуг хостинга, компании-поставщики информационных технологий, службы связи), которым Владелец поручает, при необходимости, выполнять функции Обработчика данных. Обновляемый перечень указанных лиц можно в любое время запросить у Оператора данных.

        h2 Место

        p Данные обрабатываются в операционных офисах Оператора данных и в любых иных местах, где находятся стороны, занимающиеся их обработкой. За дополнительной информацией следует обращаться к Оператору данных.

        h2 Использование собранных Данных

        p Сбор Данных, касающихся Пользователя, осуществляется для того, чтобы дать возможность Владельцу предоставлять услуги, а также в следующих целях: Аналитика, Регистрация и аутентификация.

        p Персональные данные, используемые для каждой цели, описываются в соответствующих разделах настоящего документа.

        p Подробная информация об обработке Персональных данных

        h2 Аналитика

        p Услуги, описываемые в этом разделе, дают возможность Владельцу контролировать и анализировать веб-трафик и могут использоваться для фиксирования действий Пользователя.

        p Google Analytics (Google Inc.)

        p Google Analytics – сервис веб-анализа, предлагаемый компанией Google Inc. («Google»). Google использует собранные Данные для фиксирования и анализа действий пользователей в целях подготовки отчетов об операциях, которые выполняет сайт, и их последующей передачи другим сервисам Google.

        p Google может использовать собранные Данные для того, чтобы генерировать рекламные объявления своей собственной рекламной сети с учетом интересов и предпочтений конкретного пользователя.

        p Собираемые Персональные данные: Данные об использовании сетевых ресурсов и Файлы «cookie».

        p Место обработки: США – Правила обеспечения конфиденциальности персональных данных

        p Cookie-файлы, веб-маяки и другие технологии

        p Gerchik.ru собирает информацию о посещениях вами наших веб-сайтов с целью получения статистики посещений и эффективности их использования, формирования персонального подхода и адаптации к интересам каждого пользователя. Мы делаем это с помощью различных технологий, одна из которых — cookie-файлы. Это данные, которые веб-сайт может отправить вашему браузеру, и они будут сохранены на вашем компьютере для последующей идентификации его веб-сайтом.

        p Чаще всего cookie-файлы используются для оценки эффективности веб-сайтов (например, для измерения количества посетителей и длительности их пребывания на сайте), выявления наиболее интересных и посещаемых тем и страниц, а также для обеспечения удобства навигации и пользования сайтом, без сбора какой-либо персональной информации. Также cookie-файлы могут быть использованы для формирования персонального подхода на основе уже имеющегося опыта взаимодействия пользователя с сайтом и его предпочтениями. С течением времени эта информация позволяет улучшить пользовательский опыт.

        p Cookie-файлы обычно делят на сессионные и постоянные. Сессионные cookie-файлы помогают эффективно перемещаться по веб-сайту таким образом, что единожды запрошенная в рамках сессии информация уже не будет запрашиваться вновь. Сессионные cookie-файлы сохраняются во временной памяти и стираются с закрытием браузера. Постоянные cookie-файлы сохраняют пользовательские настройки для текущих и последующих визитов. Они сохраняются на жёстком диске компьютера или на накопителе мобильного устройства и активизируются при запуске браузера. Мы используем постоянные cookie-файлы для сохранения информации, например, о языке и стране пользователя.

        h2 Дополнительная информация о сборе и обработке Данных

        h2 Обращение в суд

        p Персональные данные Пользователя могут быть использованы в юридических целях Оператором данных в суде или на этапах, ведущих к возможному обращению в суд в связи с тем, что сайт или услуги gerchik.ru использовались ненадлежащим образом.

        p Пользователь осведомлен о том, что Оператор данных может быть вынужден сообщить персональные данные по требованию органов государственной власти.

        p Дополнительная информация о Персональных данных Пользователя

        p Помимо информации, содержащейся в настоящих правилах обеспечения конфиденциальности персональных данных, сайт может предоставлять Пользователю по запросу дополнительную и контекстуальную информацию, касающуюся конкретных услуг и сервисов или сбора и обработки Персональных данных.

        h2 Системные журналы и техническое обслуживание

        p В целях обеспечения работы сайта и его технического обслуживания, сайт и любые сторонние сервисы могут вести файлы, в которых регистрируется взаимодействие сайта с Пользователями (системные журналы), или использовать с этой целью другие Персональные данные (в частности, IP-адрес).

        h2 Информация, отсутствующая в настоящих правилах

        p Дополнительные сведения, касающиеся сбора или обработки Персональных данных, можно в любое время запросить у Оператора данных. Смотрите контактные сведения, указанные в начале настоящего документа.

        h2 Права Пользователей

        p Пользователи вправе в любое время узнать, были ли сохранены их Персональные данные, и могут обращаться к Оператору данных, чтобы узнать их содержание и происхождение, проверить их достоверность, или попросить их дополнить, аннулировать, обновить или исправить либо преобразовать в формат, обеспечивающий анонимность, или блокировать любые данные, хранящиеся в нарушение закона, а также выступить против их обработки по всем без исключения законным основаниям. Соответствующие запросы следует направлять Оператору данных по адресу, указанному в контактных сведениях на сайте gerchik.ru.

        p Веб-сайты gerchik.ru в настоящее время не распознают автоматизированные команды браузера, касающиеся механизмов отслеживания, например, такие как инструкции «не отслеживать», так что вы можете самостоятельно настроить обработку браузером cookie-файлов и других технологий в соответствии с вашими предпочтениями в области конфиденциальности. В большинстве случаев вы можете включить в браузере уведомления об использовании cookie-файлов, чтобы у вас была возможность решить, принимать эти условия или нет. Также вы можете вообще отключить cookie-файлы в настройках браузера.

        p Некоторые браузеры позволяют включить функцию «не отслеживать», которая посылает сигналы на посещаемые вами веб-сайты, показывая, что вы не хотите, чтобы ваши действия на сайте отслеживались. Эта функция отличается от блокировки или отключения cookie-файлов, так как браузер с включённой функцией «не отслеживать» всё ещё может принимать cookie-файлы. В настоящее время не существует отраслевого стандарта, регламентирующего реакцию компаний на сигналы «не отслеживать», но в будущем такой стандарт может быть разработан. В настоящее время мы не реагируем на сигнал «не отслеживать». Если мы начнём делать это в будущем, то опишем это в настоящем Положении о конфиденциальности. Более подробная информация о функции «не отслеживать» доступна на сайте www.allaboutdnt.org.

        h2 Защита персональных данных

        p Gerchik.ru предпринимает все коммерчески обоснованные меры для предотвращения несанкционированного доступа к персональным данным и использования персональных данных, полученных в процессе регистрации или иным упомянутым выше способом при использовании данного веб-сайта. Мы стремимся защищать ваши персональные данные, однако мы не можем обеспечить безопасность информации, которую вы передаёте нам, и поэтому призываем вас принимать все доступные меры предосторожности для защиты ваших персональных данных в сети Интернет. Для этого чаще меняйте пароли, используйте комбинации букв и цифр, а также пользуйтесь безопасным браузером.

        h2 Обеспечение информационной безопасности детей

        p Веб-сайты Gerchik.ru не ориентированы на привлечение внимания детей младше 13 лет. Gerchik.ru преднамеренно не занимается сбором персональных данных детей младше 13 лет и не направляет им никаких запросов на предоставление персональной информации.

        h2 Внесение изменений в настоящие правила обеспечения конфиденциальности персональных данных

        p Оператор данных оговаривает право в любое время вносить изменения в настоящие правила обеспечения конфиденциальности персональных данных, разместив на этой странице уведомление для Пользователей. Настоятельно рекомендуется часто проверять эту страницу и дату внесения последних изменений, указанную в нижней части страницы.

        p В случае несогласия с любыми изменениями, внесенными в Правила, Пользователь должен прекратить пользоваться сайтом и услугами gerchik.ru и может потребовать, чтобы Оператор данных удалил его Персональные данные. Если не указано иное, действующие на тот момент правила обеспечения конфиденциальности персональных данных распространяются на все Персональные данные Пользователей, которыми располагает Оператор данных.

        h2 Информация о настоящих правилах обеспечения конфиденциальности персональных данных

        p Оператор данных несет ответственность за настоящие правила обеспечения конфиденциальности персональных данных.

        h2 Правовая информация

        p Настоящая Политика конфиденциальности отвечает требованиям законодательства о защите персональных данных большинства стран СНГ и содержит сведения о реализуемых Оператором требованиях к обработке и защите персональных данных.

        p Примечание для европейских Пользователей: настоящая Политика конфиденциальности подготовлена во исполнение обязанностей, предусмотренных ст. 10 Директивы ЕС № 95/46/EC, и в соответствии с положениями Директивы 2002/58/EC, с учетом изменений, внесенных Директивой 2009/136/EC, касающихся файлов «cookie».

        p Примечание для Пользователей РФ: настоящая Политика конфиденциальности отвечает требованиям Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных».

        h2 Оператор и Владелец данных

        p
          | TRADING EDUCATION LP<br>
          | 24 STATION SQUARE, SUITE 16, INVERNESS, IV1 1LD<br>
          | SCOTLAND, UK<br>
          | CO. ID. SL26831<br>
          | Email: <a href="mailto:info@gerchik.ru">info@gerchik.ru</a>