.popup-wrapper#popup-video-review-3
  .popup-scrollarea
    .popup.popup-video
      .popup__close
        svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 16', style='enable-background:new 0 0 16 16;', xml:space='preserve')
          g(transform='translate(-1038 -82)')
            g
              path#a(d='M1038.8,84.6l1.8-1.7l12.9,12.9l-1.7,1.7L1038.8,84.6z')
            g
              g
                path#b(d='M1053.5,84.6l-1.7-1.7l-12.9,12.9l1.7,1.7L1053.5,84.6z')
      .popup__video
        //iframe(src='https://player.vimeo.com/video/236891002', width='100%', height='100%', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
