.popup-wrapper#popup-standart
  .popup-scrollarea
    .popup.popup-package.popup-package--standart
      .popup__close
        svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 16', style='enable-background:new 0 0 16 16;', xml:space='preserve')
          g(transform='translate(-1038 -82)')
            g
              path#a(d='M1038.8,84.6l1.8-1.7l12.9,12.9l-1.7,1.7L1038.8,84.6z')
            g
              g
                path#b(d='M1053.5,84.6l-1.7-1.7l-12.9,12.9l1.7,1.7L1053.5,84.6z')

      .popup-package__info
        .popup-package__icon
          svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 87 83', style='enable-background:new 0 0 87 83;', width="106" height="101" xml:space='preserve')
            g(transform='translate(-369 -127)')
              g
                path#a(style='fill:#0086CF', d='M421.7,203.8l-35.3,6.1l-1.4-6.1H421.7z M439.2,133.4h-24.8l27.5-5.4l14.1,68.8l-16.7,3.3V133.4z')
              g
                path#b(style='fill:#1DACFB', d='M369,203.9V133h70.9v70.9H369z')
              g
                g
                  path#c(style='fill:#F3F5F8', d='M411.5,159l-9.2,9.1l-3.6-3.5l-2.8,2.8l6.4,6.3l12-11.9L411.5,159z')
        .popup-package__content
          h1 Заявка на курс
          p Заполните форму для регистрации<br class="br-sm"> на курс.<br class="br-lg-md"> Мы свяжемся с вами и обсудим<br class="br-sm"> все детали обучения.

      .popup-package__form
        form(action="https://crm.zoho.com/crm/WebToContactForm" name="WebToContacts2436447000012538324" method="POST" accept-charset="UTF-8")
          // данные для авторизации формы в зохе
          input(type='hidden', name='xnQsjsdp', value='e3517888a4960c32910886ec7d309914cdc993ff69dd8fd48681248af41ba5a1')
          input#zc_gad(type='hidden', name='zc_gad', value='')
          input(type='hidden', name='xmIwtLD', value='fd13a7181243d3e4acf775177e0d306657106fc0ead2c2748af8ce89b3e9093a')
          input(type='hidden', name='actionType', value='Q29udGFjdHM=')
          // наименование формы, с которой была отправлена заявка
          input(type='hidden', name='Landing', value='60days')
          // наименование продаваемого продукта
          input(type='hidden', name='LProduct', value='2436447000012538324')
          // редирект урл, переадресация после отправки формы
          input(type='hidden', name='returnURL', value='https://60daysnew.gerchik.ru/success')
          .popup-package__input
            .popup-package__input-icon
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 15 17', width="15" height="17" style='enable-background:new 0 0 15 17;', xml:space='preserve')
                g(transform='translate(-492 -290)')
                  g
                    path#a(d='M503.5,294.5c0,2.5-2,4.5-4.4,4.5c-2.5,0-4.4-2-4.4-4.5c0-2.4,2-4.4,4.4-4.5\
                          C501.5,290,503.5,292,503.5,294.5z M507,306.5c0,0.3-0.2,0.5-0.5,0.5c0,0,0,0,0,0h-14c-0.3,0-0.5-0.2-0.5-0.5c0,0,0,0,0,0\
                          c0-1.7,0.7-3.4,1.9-4.7c1.2-1.3,2.9-2,4.6-2h2c1.7,0,3.4,0.7,4.6,2C506.3,303.1,507,304.7,507,306.5z')
            input(placeholder="Имя" type="text" maxlength="80" name="Last Name")
          .popup-package__input
            .popup-package__input-icon
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 18 12', width='18', height='12', style='enable-background:new 0 0 18 12;', xml:space='preserve')
                g(transform='translate(-491 -347)')
                  g
                    path#a(d='M501.8,353.8l6.6-5.2v10.1l0.1,0.1h-0.1v0.1l-0.1-0.1h-16.1l-0.1,0.1v-0.1H492l0.1-0.1v-10.1l6.6,5.2\
                          l-0.1,0.1l1.6,1.3L501.8,353.8L501.8,353.8z M500.3,353.4L492,347h16.6L500.3,353.4z')
            input(placeholder="Электронная почта" type="email" maxlength="100" name="Email")
          .popup-package__input
            .popup-package__input-icon
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 18 18', width='18', height='18', style='enable-background:new 0 0 18 18;', xml:space='preserve')
                g(transform='translate(-491 -397)')
                  g
                    path#a(d='M506.6,411.1c0.6,0.6,0.6,1.3,0,1.9c-0.4,0.4-0.8,0.8-1.2,1.2c-0.5,0.6-1.2,0.8-2,0.8\
                          c-1.1-0.1-2.2-0.4-3.2-0.9c-2.2-1.1-4.2-2.6-5.8-4.5c-1.2-1.4-2.2-3-2.8-4.7c-0.3-0.8-0.5-1.7-0.5-2.6c0-0.5,0.3-1.1,0.7-1.4\
                          c0.5-0.4,0.9-0.9,1.3-1.3c0.6-0.6,1.3-0.6,1.9,0l1.1,1.1l1,1c0.6,0.6,0.6,1.3,0,1.9l-1.3,1.3c-0.1,0.1-0.1,0.2-0.1,0.3\
                          c0.3,0.7,0.7,1.3,1.2,1.9c0.9,1.2,2,2.2,3.3,3c0.3,0.2,0.6,0.3,0.9,0.5c0.1,0.1,0.2,0,0.4-0.1l1.3-1.3c0.6-0.6,1.3-0.6,1.9,0\
                          L506.6,411.1L506.6,411.1z M502.5,403.6c-0.7-0.7-1.6-1.1-2.5-1.3l0.2-1.3c1.2,0.2,2.4,0.8,3.2,1.6c0.8,0.9,1.4,1.9,1.6,3.1\
                          l-1.3,0.2C503.6,405.1,503.2,404.2,502.5,403.6z M509,405.8l-1.4,0.2c-0.3-1.9-1.2-3.6-2.5-5c-1.4-1.4-3.2-2.3-5.1-2.6l0.2-1.4\
                          c2.2,0.3,4.3,1.4,5.9,3C507.6,401.6,508.6,403.6,509,405.8L509,405.8z')
            input(placeholder="Номер телефона" type="text" maxlength="50" name="Phone")
          .popup-package__input
            .popup-package__input-icon
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 15 15', width='15', height='15', style='enable-background:new 0 0 15 15;', xml:space='preserve')
                g(transform='translate(-493 -453)')
                  g
                    path#a(d='M493,468.3V458h3.8v10.3H493z M499,468v-15h3.8v15H499z M504,468.2V456h3.8v12.2H504z')
            select(name="CONTACTCF6")
              option(disabled value="-None-") Выберите уровень Ваших знаний
              option(value="Только начинаю, еще нет опыта") Только начинаю, еще нет опыта
              option(value="Есть небольшой опыт трейдинга") Есть небольшой опыт трейдинга
              option(value="Профессионально занимаюсь трейдингом") Профессионально занимаюсь трейдингом

          button(type="submit").btn.btn--arrow-right.btn--big.popup-package__submit
            | Зарегистрироваться
            svg.btn__arrow(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 10', width='16', height='10', style='enable-background:new 0 0 16 10;', xml:space='preserve')
              g(transform='translate(-784 -557)')
                g
                  path#a.st0(fill='#ffffff', d='M784,561.2h12.1l-3.1-3l1.2-1.2l5.1,5l-5.1,5l-1.2-1.2l3.1-3H784V561.2z')

