.popup-wrapper#popup-vip
  .popup-scrollarea
    .popup.popup-package.popup-package--vip
      .popup__close
        svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 16', style='enable-background:new 0 0 16 16;', xml:space='preserve')
          g(transform='translate(-1038 -82)')
            g
              path#a(d='M1038.8,84.6l1.8-1.7l12.9,12.9l-1.7,1.7L1038.8,84.6z')
            g
              g
                path#b(d='M1053.5,84.6l-1.7-1.7l-12.9,12.9l1.7,1.7L1053.5,84.6z')

      .popup-package__info
        .popup-package__icon
          svg(width='81px', height='83px', viewbox='0 0 81 83', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g#rocket(fill-rule='nonzero')
                path#Combined-Shape(d='M19.138843,17.8616678 L37,17 L15.8892658,38 L3,33.9158562 L19.138843,17.8616678 Z M47.0840797,78 L43,65.1101797 L64,44 L63.1381809,61.8617076 L47.0840797,78 Z M14.2028923,46 L36,67.7969779 L26.4923645,74 L8,55.507579 L14.2028923,46 Z', fill='#0198EB')
                path#Combined-Shape(d='M5.85355339,57.6966991 L10.8033009,62.6464466 L5.14644661,68.3033009 L0.196699141,63.3535534 L5.85355339,57.6966991 Z M19.1464466,82.3033009 L14.1966991,77.3535534 L19.8535534,71.6966991 L24.8033009,76.6464466 L19.1464466,82.3033009 Z M4.28248558,73.267767 L12.767767,64.7824856 L17.7175144,69.732233 L9.23223305,78.2175144 L4.28248558,73.267767 Z', fill='#AAE1FF')
                path#Combined-Shape(d='M24.8947519,57 L24.4464169,56.5488246 L24,56.1052481 L11,43.0172189 L44.6580509,9.14609845 C50.5193885,3.24745802 58.3132121,0 66.6026481,0 C70.3727227,0 74.0681871,0.67642018 77.583246,2.01390653 L78.2014285,2.24868446 L78.4517054,2 L78.6045113,2.40177025 L79,2.55197187 L78.7552961,2.7982261 L78.9909882,3.41792763 C83.3209434,14.809971 80.5205874,27.7337854 71.8559523,36.3431227 L37.9837255,70 L24.8975984,56.9971354 Z M55.0295111,25.9544015 C58.3430427,28.8938796 63.4281995,28.7835487 66.608575,25.6234087 C69.792612,22.4596307 69.90024,17.3951204 66.9282593,14.1031015 C63.638118,11.1033186 58.5504006,11.2003856 55.3765913,14.3943024 C52.2222705,17.5687697 52.1076262,22.6418211 55.0295111,25.9544015 Z', fill='#45BDFF')
                path#Combined-Shape(d='M55.4159482,25.9860917 C58.6379953,28.7950922 63.5298724,28.665596 66.5979597,25.5976031 C69.6650712,22.5305859 69.7954649,17.6377316 66.9861141,14.4155699 L67,14.4016836 C66.9318582,14.3335397 66.8628146,14.266846 66.7929076,14.2016023 C66.7293001,14.1335717 66.6643174,14.0663591 66.5979597,14 L66.5844303,14.013529 C63.3632193,11.2051371 58.4691076,11.334522 55.4020403,14.4016836 C52.333994,17.4698242 52.2055095,22.3628151 55.0135603,25.5840431 L55,25.5976031 C55.0664439,25.6640449 55.1337432,25.7291087 55.2018624,25.7927942 C55.2671373,25.8627395 55.3338633,25.9318209 55.4020403,26 L55.4159482,25.9860917 Z', fill='#8ED7FF')
        .popup-package__content
          h1 Пакет участия "VIP"
          p Заполните форму для регистрации<br class="br-sm"> на курс.<br class="br-lg-md"> Мы свяжемся с вами и обсудим<br class="br-sm"> все детали обучения.

      .popup-package__form
        form(action="https://crm.zoho.com/crm/WebToContactForm" name="WebToContacts2436447000012538336" method="POST" accept-charset="UTF-8")
          // данные для авторизации формы в зохе
          input(type='hidden', name='xnQsjsdp', value='e3517888a4960c32910886ec7d309914cdc993ff69dd8fd48681248af41ba5a1')
          input#zc_gad(type='hidden', name='zc_gad', value='')
          input(type='hidden', name='xmIwtLD', value='fd13a7181243d3e4acf775177e0d306657106fc0ead2c2748af8ce89b3e9093a')
          input(type='hidden', name='actionType', value='Q29udGFjdHM=')
          // наименование формы, с которой была отправлена заявка
          input(type='hidden', name='Landing', value='60days')
          // наименование продаваемого продукта
          input(type='hidden', name='LProduct', value='2436447000012538336')
          // редирект урл, переадресация после отправки формы
          input(type='hidden', name='returnURL', value='https://60daysnew.gerchik.ru/success')
          .popup-package__input
            .popup-package__input-icon
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 15 17', width="15" height="17" style='enable-background:new 0 0 15 17;', xml:space='preserve')
                g(transform='translate(-492 -290)')
                  g
                    path#a(d='M503.5,294.5c0,2.5-2,4.5-4.4,4.5c-2.5,0-4.4-2-4.4-4.5c0-2.4,2-4.4,4.4-4.5\
                          C501.5,290,503.5,292,503.5,294.5z M507,306.5c0,0.3-0.2,0.5-0.5,0.5c0,0,0,0,0,0h-14c-0.3,0-0.5-0.2-0.5-0.5c0,0,0,0,0,0\
                          c0-1.7,0.7-3.4,1.9-4.7c1.2-1.3,2.9-2,4.6-2h2c1.7,0,3.4,0.7,4.6,2C506.3,303.1,507,304.7,507,306.5z')
            input(placeholder="Имя" type="text" maxlength="80" name="Last Name")
          .popup-package__input
            .popup-package__input-icon
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 18 12', width='18', height='12', style='enable-background:new 0 0 18 12;', xml:space='preserve')
                g(transform='translate(-491 -347)')
                  g
                    path#a(d='M501.8,353.8l6.6-5.2v10.1l0.1,0.1h-0.1v0.1l-0.1-0.1h-16.1l-0.1,0.1v-0.1H492l0.1-0.1v-10.1l6.6,5.2\
                          l-0.1,0.1l1.6,1.3L501.8,353.8L501.8,353.8z M500.3,353.4L492,347h16.6L500.3,353.4z')
            input(placeholder="Электронная почта" type="email" maxlength="100" name="Email")
          .popup-package__input
            .popup-package__input-icon
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 18 18', width='18', height='18', style='enable-background:new 0 0 18 18;', xml:space='preserve')
                g(transform='translate(-491 -397)')
                  g
                    path#a(d='M506.6,411.1c0.6,0.6,0.6,1.3,0,1.9c-0.4,0.4-0.8,0.8-1.2,1.2c-0.5,0.6-1.2,0.8-2,0.8\
                          c-1.1-0.1-2.2-0.4-3.2-0.9c-2.2-1.1-4.2-2.6-5.8-4.5c-1.2-1.4-2.2-3-2.8-4.7c-0.3-0.8-0.5-1.7-0.5-2.6c0-0.5,0.3-1.1,0.7-1.4\
                          c0.5-0.4,0.9-0.9,1.3-1.3c0.6-0.6,1.3-0.6,1.9,0l1.1,1.1l1,1c0.6,0.6,0.6,1.3,0,1.9l-1.3,1.3c-0.1,0.1-0.1,0.2-0.1,0.3\
                          c0.3,0.7,0.7,1.3,1.2,1.9c0.9,1.2,2,2.2,3.3,3c0.3,0.2,0.6,0.3,0.9,0.5c0.1,0.1,0.2,0,0.4-0.1l1.3-1.3c0.6-0.6,1.3-0.6,1.9,0\
                          L506.6,411.1L506.6,411.1z M502.5,403.6c-0.7-0.7-1.6-1.1-2.5-1.3l0.2-1.3c1.2,0.2,2.4,0.8,3.2,1.6c0.8,0.9,1.4,1.9,1.6,3.1\
                          l-1.3,0.2C503.6,405.1,503.2,404.2,502.5,403.6z M509,405.8l-1.4,0.2c-0.3-1.9-1.2-3.6-2.5-5c-1.4-1.4-3.2-2.3-5.1-2.6l0.2-1.4\
                          c2.2,0.3,4.3,1.4,5.9,3C507.6,401.6,508.6,403.6,509,405.8L509,405.8z')
            input(placeholder="Номер телефона" type="text" maxlength="50" name="Phone")
          .popup-package__input
            .popup-package__input-icon
              svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 15 15', width='15', height='15', style='enable-background:new 0 0 15 15;', xml:space='preserve')
                g(transform='translate(-493 -453)')
                  g
                    path#a(d='M493,468.3V458h3.8v10.3H493z M499,468v-15h3.8v15H499z M504,468.2V456h3.8v12.2H504z')
            select(name="CONTACTCF6")
              option(disabled value="-None-") Выберите уровень Ваших знаний
              option(value="Только начинаю, еще нет опыта") Только начинаю, еще нет опыта
              option(value="Есть небольшой опыт трейдинга") Есть небольшой опыт трейдинга
              option(value="Профессионально занимаюсь трейдингом") Профессионально занимаюсь трейдингом

          button(type="submit").btn.btn--arrow-right.btn--big.popup-package__submit
            | Зарегистрироваться
            svg.btn__arrow(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 16 10', width='16', height='10', style='enable-background:new 0 0 16 10;', xml:space='preserve')
              g(transform='translate(-784 -557)')
                g
                  path#a.st0(fill='#ffffff', d='M784,561.2h12.1l-3.1-3l1.2-1.2l5.1,5l-5.1,5l-1.2-1.2l3.1-3H784V561.2z')

