#about-section {
 @include mobile {
  background: url(../../img/home/about/about-curves-mobile.svg) no-repeat center;
 }

 .fp-tableCell {

  .main-wrapper {
   @include tablet {
    min-height: 760px;
   }
  }
 }
}

.about-content {
 padding: 114px 0 68px;
 @include tablet {
  min-height: 760px;
 }
 @include mobile {
  padding: 71px 0 60px;
 }
}

.about-main {
 width: 100%;
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 padding-bottom: 9px;
}

.about-list {
 display: flex;
 flex-wrap: wrap;
 padding-left: 70px;
 @include tablet-mobile {
  padding-left: 0;
 }
 @include mobile {
  margin-top: 47px;
 }

 .about-list__item {
  width: 465px;
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  @include tablet {
   width: 355px;
   margin-bottom: 42px;
  }
  @include mobile {
   align-items: flex-start;
   width: 100%;
   margin-bottom: 48px;
  }

  .about-list__item-icon {
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   background-color: $color-dodger-blue-2;
   margin-right: 18px;
   @include mobile {
    margin-top: 3px;
   }
  }
  .about-list__item-text {
   color: $color-mine-shaft;
   font-size: 14px;
   line-height: 22.4px;
   @include tablet {
    line-height: 21px;
   }
   @include mobile {
    width: 225px;
    font-size: 14px;
    line-height: 24px;
   }
  }
 }
}

.about-register {
 align-self: center;
 @include mobile {
  width: 100%;
  justify-content: center;
  font-size: 14px;
 }
}

.about-seats {
 align-self: center;
 display: flex;
 align-items: center;
 margin-top: 26px;
 @include tablet-mobile {
  margin-top: 20px;
 }

 .about-seats__icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  @include tablet {
   width: 20px;
   height: 20px;
   margin-right: 15px;
  }

  svg {
   width: 100%;
   height: 100%;
  }
 }
 .about-seats__text {
  color: $color-bali-hali;
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;

  span {
   color: $color-dodger-blue;
   font-weight: 700;
   margin-left: 5px;
  }
 }
}

.about-curves {
 width: 1366px;
 height: 350px;
 background: url(../../img/home/about/about-curves.svg) no-repeat center / contain;
 position: absolute;
 top: calc(50% - 175px);
 left: calc(50% - 683px);
 z-index: 0;
 @include mobile {
  display: none;
 }

 .about-curves__image {
  background: no-repeat center / contain;
  border: 3px solid $color-ghost;
  border-radius: 50%;
  position: absolute;

  &.about-curves__image--1 {
   width: 72px;
   height: 72px;
   background-image: url(../../img/home/about/about-curves-image-1.png);
   top: -30px;
   right: 320px;
  }
  &.about-curves__image--2 {
   width: 48px;
   height: 48px;
   background-image: url(../../img/home/about/about-curves-image-2.png);
   top: 138px;
   right: 74px;
  }
  &.about-curves__image--3 {
   width: 56px;
   height: 56px;
   background-image: url(../../img/home/about/about-curves-image-3.png);
   bottom: -34px;
   right: 240px;
  }
 }
}