#author-section {
 background: url(../../img/home/author/author-curves.svg) repeat-x center bottom 118px, url(../../img/home/author/author-bg.png) repeat-x center bottom, $color-aqua-gaze;
 @include mobile {
  min-height: 1365px;
  background: url(../../img/home/author/author-curves-mobile.svg) repeat-x center bottom 239px, url(../../img/home/author/author-bg-mobile.png) repeat-x center bottom, $color-catskill-white;
 }

 .fp-tableCell {

  > .main-wrapper {
   @include tablet {
    min-height: 853px;
   }
  }
 }
}

.author-content {
 justify-content: flex-end;
 padding-top: 114px;
 @include mobile {
  padding: 0;
 }
}

.author-main {
 width: 100%;
 flex: 1;
 display: flex;
 align-items: center;
 margin-top: 46px;
 padding: 0 0 80px 70px;
 position: relative;
 @include tablet-mobile {
  flex-direction: column;
 }
 @include tablet {
  align-items: flex-start;
  padding: 0 0 75px 0;
 }
 @include mobile {
  padding: 0;
  margin-top: 40px;
 }
}

.author-list {
 display: flex;
 align-items: flex-start;
 @include mobile {
  flex-direction: column;
 }
}

.author-item {
 margin-right: 19px;
 @include tablet {
  margin-right: 9px;
 }
 @include mobile {
  margin: 0 0 30px 0;
 }
 &:last-child {
  margin: 0;
 }
 &:nth-child(1) {

  .author-item-sublist {
   @include mobile {
    display: none;
   }
  }
 }
 &:nth-child(2) {

  .author-item__title, .author-item__subtitle {
   margin-left: 44px;
   @include mobile {
    margin-left: 0;
   }
  }
 }

 .author-item__title {
  height: 44px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: $color-science-blue;
  padding: 10px 14px 10px 20px;
  @include mobile {
   height: auto;
   padding: 8px 13px 10px 19px;
  }

  .author-item__title-icon {
   margin-right: 16px;
  }
  .author-item__title-text {
   color: $color-white;
   font-size: 15px;
   font-weight: 700;
   line-height: 27px;
   text-transform: uppercase;
   @include mobile {
    font-size: 14px;
    line-height: 21px;
   }
  }
 }
 .author-item__subtitle {
  color: $color-slate-gray;
  font-size: 14px;
  line-height: 22.4px;
  margin-top: 16px;
  @include mobile {
   font-size: 14px;
   line-height: 22.4px;
   text-align: center;
   margin-top: 8px;
   br {display: none;}
  }
 }
}

.author-item-sublist {
 margin-top: 55px;
 @include mobile {
  margin-top: 40px;
 }

 .author-item-sublist__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 58px;
  @include mobile {
   margin-bottom: 40px;
  }
  &:last-child {
   margin-bottom: 0;
  }

  .author-item-sublist__item-icon {
   width: 45px;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   @include mobile {
    width: 55px;
    justify-content: center;
   }

   svg {

    path, polygon {
     @include mobile {
      fill: $color-science-blue;
     }
    }
   }
  }

  .author-item-sublist__item-content {
   @include mobile {
    width: 235px;
   }

   .author-item-sublist__item-title {
    color: $color-cod-gray;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    @include mobile {
     line-height: 22px;
     br {display: none}
    }
   }
   .author-item-sublist__item-text {
    color: $color-shuttle-gray;
    font-size: 12px;
    line-height: 19.6px;
    @include mobile {
     line-height: 22px;
     br {display: none}
    }
   }
  }

  &.author-item-sublist__item--mobile {
   display: none;
   @include mobile {
    display: flex;
   }
  }
 }
}

.author-right {
 position: absolute;
 bottom: 0;
 right: 0;
 @include tablet-mobile {
  position: static;
 }
 @include tablet {
  align-self: flex-end;
  &:before {
   content: '';
   width: 186px;
   height: 212px;
   background: url(../../img/home/author/author-gerchik-tablet.png) no-repeat center / contain;
   position: absolute;
   bottom: -75px;
   right: 160px;
  }
 }
 @include mobile {
  align-self: flex-end;
 }
}

.author-quote {
 position: relative;
 bottom: -23px;
 @include tablet-mobile {
  bottom: 0;
 }
 @include tablet {
  margin-top: 70px;
  padding-right: 420px;
 }
 @include mobile {
  margin-top: 44px;
 }

 .author-quote__text, .author-quote__name {
  color: $color-slate-gray;
  font-size: 14px;
  font-style: italic;
  line-height: 21px;
  text-align: right;
  @include tablet {
   margin-top: 15px;
  }
 }
 .author-quote__name {
  margin-top: 18px;
  padding-right: 46px;
  position: relative;
  @include mobile {
   margin-top: 15px;
   padding-right: 48px;
  }
  &:before {
   content: '';
   width: 24px;
   height: 20px;
   background: url(../../img/home/author/quote-icon.svg) no-repeat center / contain;
   position: absolute;
   top: 2px;
   right: 0;
  }
 }
}

.author-gerchik {
 width: 336px;
 height: 505px;
 background: url(../../img/home/author/author-gerchik.png) no-repeat center / contain;
 margin-right: 27px;
 @include tablet {
  display: none;
 }
 @include mobile {
  width: 241px;
  height: 363px;
  background: url(../../img/home/author/author-gerchik-mobile.png) no-repeat center / contain;
  margin-left: 38px;
 }
}