#faq-section {
 background: url(../../img/home/faq/faq-bg.png) repeat-x center bottom, $color-athens-gray;
 @include mobile {
  background: url(../../img/home/faq/faq-bg-mobile.png) repeat-x center bottom, $color-athens-gray;
 }

 .page-title .page-title__text:before {display: none;}
}

.faq-content {
 padding: 93px 0 66px;
 @include tablet {
  padding: 94px 0 31px;
 }
 @include mobile {
  padding: 60px 0;
 }
}

.faq-list {
 width: 100%;
 box-shadow: 0 20px 60px rgba(112, 126, 145, 0.12);
 border-radius: 4px;
 background-color: $color-alabaster;
 margin-top: 35px;
 @include mobile {
  margin-top: 50px;
 }

 .faq-list__item {
  &:last-child {

   .faq-list__item-header .faq-list__item-title {
    border-bottom-color: $color-aqua-gaze-2-00;
   }
  }

  .faq-list__item-header {
   padding: 0 72px;
   cursor: pointer;
   @include tablet {
    padding: 0 30px;
   }
   @include mobile {
    padding: 0 16px;
   }
  }

  .faq-list__item-title {
   border-bottom: 1px solid $color-aqua-gaze-2;
   color: $color-mine-shaft;
   font-size: 16px;
   font-weight: 500;
   line-height: 36px;
   padding: 21px 30px 21px 0;
   position: relative;
   transition: 0.5s;
   @include mobile {
    font-size: 14px;
    line-height: 24px;
    padding: 16px 30px 16px 0;
   }
   &:after {
    content: '+';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $color-anakiwa;
    color: $color-white;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: 29px;
    right: 0;
    transition: 0.5s;
   }

   span {
    color: $color-dodger-blue;
    font-weight: 700;
    font-style: italic;
    margin-right: 5px;
   }
  }

  .faq-list__item-content {
   display: none;
   background: $color-athens-gray;
   color: $color-shuttle-gray;
   font-size: 14px;
   line-height: 21px;
   padding: 26px 180px 29px 100px;
   transition: 0.5s;
   @include tablet {
    line-height: 24px;
    padding: 25px 32px 26px 63px;
   }
   @include mobile {
    line-height: 24px;
    padding: 32px 19px 31px 24px;
   }

   a {
    color: $color-science-blue-2;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
    transition: 0.5s;
   }
  }

  &.faq-list__item--active {

   .faq-list__item-header .faq-list__item-title {
    border-bottom-color: $color-aqua-gaze-2-00;
    &:after {
     content: '—';
     background: $color-science-blue;
    }

    span {
     color: $color-science-blue-2;
    }
   }

   .faq-list__item-content {
    display: block;
   }
  }
 }
}