#format-section {
 background: url(../../img/home/format/format-bg.png) repeat-x center bottom, $color-science-blue;
 @include mobile {
  background: url(../../img/home/format/format-bg-mobile.png) repeat-x center bottom, $color-science-blue;
 }

 .main-wrapper {
  background: url(../../img/home/format/format-board.png) no-repeat right bottom;
  //padding-bottom: 53px;
  @include tablet {
   background: url(../../img/home/format/format-board-tablet.png) no-repeat right bottom;
  }
  @include mobile {
   background: transparent;
  }
 }

 .page-title {

  .page-title__text:before {
   @include mobile {
    display: none;
   }
  }
 }
}

.format-content {
 padding: 114px 0 53px;
 @include tablet {
  min-height: 940px;
  padding: 114px 0 70px;
 }
 @include mobile {
  padding: 60px 0;
 }
}

.format-main {
 width: 100%;
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 padding-bottom: 9px;
 @include tablet-mobile {
  flex-direction: column;
  justify-content: center;
 }
}

.format-numbers {
 width: 472px;
 display: flex;
 flex-wrap: wrap;
 margin-right: 25px;
 @include tablet-mobile {
  width: 100%;
 }
 @include tablet {
  margin: 40px 0 0;
 }
 @include mobile {
  width: 100%;
  margin: 22px 0 0;
 }

 .format-numbers__item {
  width: 236px;
  padding-left: 22px;
  margin: 30px 0;
  position: relative;
  @include tablet {
   width: 33%;
   margin: 35px 0;
   &:nth-child(3n + 1) {
    width: 36%;
   }
   &:nth-child(3n + 2) {
    width: 39%;
   }
   &:nth-child(3n + 3) {
    width: 25%;
   }
  }
  @include mobile {
   width: 100%;
   margin: 33px 0 33px 40px;
  }
  &:before {
   content: '';
   height: 50px;
   width: 5px;
   border-radius: 1px;
   background-color: $color-science-blue-3;
   position: absolute;
   top: 0;
   left: 0;
   @include tablet-mobile {
    height: 65px;
    top: -5px;
   }
  }

  .format-numbers__item-title {
   color: $color-white;
   font-size: 40px;
   font-weight: 900;
   font-style: italic;
   line-height: 27px;
   @include tablet-mobile {
    font-size: 46px;
    line-height: 27px;
   }
  }
  .format-numbers__item-text {
   color: $color-perano;
   font-size: 14px;
   font-weight: 500;
   line-height: 21px;
   margin-top: 12px;
   @include tablet-mobile {
    font-size: 16px;
    line-height: 27px;
   }
  }
 }
}

.format-list {
 margin: 30px 0;
 @include tablet {
  width: 100%;
  padding-left: 38px;
  margin: 33px 0 68px;
 }
 @include mobile {
  margin: 28px 0 50px;
 }

 .format-list__item {
  display: flex;
  margin-bottom: 34px;
  @include tablet {
   margin-bottom: 20px;
  }
  @include mobile {
   margin-bottom: 22px;
  }
  &:last-child {
   margin-bottom: 0;
  }

  .format-list__item-icon {
   width: 18px;
   height: 18px;
   margin-right: 12px;
  }
  .format-list__item-text {
   color: $color-jordy-blue;
   font-size: 14px;
   line-height: 21px;
   @include tablet-mobile {
    font-size: 16px;
    line-height: 22.4px;
   }

   span {
    color: $color-white;
    font-weight: 500;
   }
  }
 }
}

.format-more {
 align-self: center;
 display: flex;
 align-items: center;

 .format-more__icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  @include tablet-mobile {
   width: 22px;
   height: 22px;
  }
  @include mobile {
   display: none;
  }

  svg {
   width: 100%;
   height: 100%;
  }
 }
 .format-more__text {
  color: $color-jordy-blue;
  font-size: 12px;
  line-height: 18px;
  @include tablet-mobile {
   font-size: 16px;
   line-height: 27px;
  }
  @include mobile {
   text-align: center;
  }

  a {
   color: $color-white;
   font-weight: 700;
   text-decoration: underline;
  }
 }
}