#intro-section {
 background: url(../../img/home/intro/intro.jpg) no-repeat center bottom -30px, $color-white;
 @include mobile {
  background: url(../../img/home/intro/intro-mobile.jpg) no-repeat center bottom -110px, $color-white;
  min-height: 476px;
 }
}

.intro-content {
 flex-direction: row;
 align-items: flex-end;
 justify-content: space-between;
 @include mobile {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 140px 0 38px;
 }
}

.intro-left {
 width: 375px;
 height: 585px;
 background: url(../../img/home/intro/intro-gerchik.png) no-repeat center right / 324px 585px;
 padding-left: 71px;
 @include tablet {
  width: 324px;
  padding-left: 0;
 }
 @include mobile {
  display: none;
 }
}

.intro-right {
 flex: 1;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 padding: 0  0 105px 105px;
 @include tablet {
  padding: 0  0 70px 24px;
 }
 @include mobile {
  padding: 0;
 }

 .intro-right__title {
  color: $color-mine-shaft;
  font-size: 56px;
  font-weight: 900;
  line-height: 72px;
  margin-top: 49px;
  position: relative;
  @include tablet {
   line-height: 84px;
  }
  @include mobile {
   font-size: 28px;
   line-height: 28px;
   margin-top: 20px;
  }

  .intro-right__title-arrow {
   width: 69px;
   height: 17px;
   position: absolute;
   top: -15px;
   left: 390px;
   @include tablet {
    top: 82px;
    left: 127px;
   }
   @include mobile {
    display: none;
   }
  }

  .intro-right__title-blue {
   color: $color-science-blue-2;
   margin: 0 3px;
   @include mobile {
    margin: 0;
   }
  }
  .intro-right__title-gray {
   color: $color-heather;
   font-size: 48px;
   letter-spacing: -0.5px;
   @include mobile {
    font-size: 22px;
    letter-spacing: normal;
   }
  }
 }

 .intro-right__days {
  border-radius: 4px;
  background-color: $color-cadet-blue;
  color: $color-white;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  padding: 11px 18px 9px;
  margin-top: 21px;
  @include tablet {
   font-size: 15px;
   margin-top: 15px;
   padding: 8px 16px;
  }
  @include mobile {
   align-self: center;
   font-size: 13px;
   padding: 9px 15px 7px 17px;
   margin-top: 13px;
  }
 }

 .intro-right__subtitle {
  color: $color-mine-shaft;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin-top: 26px;
  position: relative;
  @include tablet {
   font-size: 16px;
   line-height: 27px;
  }
  @include mobile {
   align-self: center;
   font-size: 13px;
   line-height: 19.5px;
   text-align: center;
   margin-top: 10px;
  }
  &:after {
   content: '';
   width: 49px;
   height: 31px;
   background: url(../../img/home/intro/intro-bull.svg) no-repeat center / contain;
   position: absolute;
   top: 17px;
   right: -72px;
   @include tablet {
    top: -10px;
    right: -3px;
   }
   @include mobile {
    display: none;
   }
  }
 }

 .intro-right__text {
  display: none;
  color: $color-slate-gray;
  font-size: 12px;
  line-height: 21px;
  margin-top: 13px;
  @include tablet {
   display: block;
  }
 }

 .intro-right__more {
  padding: 17px 42px;
  margin-top: 65px;
  @include tablet {
   margin-top: 30px;
  }
  @include mobile {
   align-self: center;
   padding: 9px 27px 12px 27px;
   margin-top: 13px;
  }
 }
}

.intro-right__about {
 display: flex;
 @include tablet {
  display: none;
 }
 @include mobile {
  flex-direction: column;
  padding-left: 32px;
 }

 .intro-right__about-item {
  margin-right: 69px;
  @include tablet {
   margin-right: 77px;
  }
  @include mobile {
   margin: 0 0 18px 0;
  }
  &:last-child {
   margin: 0;
  }

  h1 {
   color: $color-dodger-blue;
   font-size: 15px;
   font-weight: 500;
   line-height: 22.5px;
   @include tablet {
    font-size: 12px;
    line-height: 19.2px;
   }
   @include mobile {
    font-size: 12px;
    line-height: 18px;
   }
  }
  h2 {
   color: $color-tundora;
   font-size: 15px;
   font-weight: 700;
   line-height: 22.5px;
   @include tablet {
    font-size: 12px;
    line-height: 19.2px;
   }
   @include mobile {
    @include mobile {
     font-size: 12px;
     line-height: 18px;
    }
   }
  }
 }
}