#outro-section {
 @include mobile {
  background: url(../../img/home/outro/outro-curves.svg) no-repeat center top 118px;
 }

 .about-seats {
  align-self: flex-start;
  margin-top: 22px;
  @include mobile {
   margin-top: 20px;
   align-self: center;
  }
 }

 //.fp-tableCell > .main-wrapper {
 // height: calc(100% - 150px);
 //}

 .main-footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  @include mobile {
   position: relative;
  }
 }
}

.outro-content {
 min-height: 850px;
 align-items: flex-end;
 justify-content: center;
 padding: 202px 0 280px;
 @include tablet {
  min-height: 1040px;
  align-items: flex-start;
  padding: 246px 0 322px;
 }
 @include mobile {
  min-height: 0;
  align-items: flex-start;
  padding: 56px 0 90px;
 }
}

.outro-bg {
 width: 1366px;
 height: 500px;
 background: url(../../img/home/outro/outro-bg.png) no-repeat center;
 position: absolute;
 top: 120px;
 left: calc(50% - 683px);
 z-index: 2;
 @include tablet {
  width: 1280px;
  height: 708px;
  background: url(../../img/home/outro/outro-tablet-bg.png) no-repeat center right;
  top: 161px;
  left: calc(50% - 640px);
 }
 @include mobile {
  display: none;
 }
}

.outro-main {
 width: 510px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
 padding-right: 30px;
 z-index: 3;
 @include tablet-mobile {
  padding: 0;
 }
 @include tablet {
  width: 435px;
 }
 @include mobile {
  width: 100%;
  background: url(../../img/home/outro/outro-gerchik-mobile.png) no-repeat right top / 120px auto;
  padding: 48px 0 0;
 }

 .outro-main__title {
  color: $color-mine-shaft;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  position: relative;
  @include tablet {
   font-size: 22px;
   line-height: 34px;
  }
  @include mobile {
   font-size: 16px;
   line-height: 23.2px;
   padding: 0 15px;
   //padding: 0 15px 0 80px;
  }
  &:before {
   content: '';
   width: 24px;
   height: 20px;
   background: url(../../img/home/reviews/quote-icon.svg) no-repeat center / contain;
   position: absolute;
   top: 10px;
   left: -50px;
   @include tablet {
    top: -42px;
    left: 0;
   }
   @include mobile {
    top: -48px;
    left: 15px;
    //left: 28px;
   }
  }

  span {
   @include mobile {
    color: $color-science-blue-2;
   }
  }
 }
 .outro-main__text {
  color: $color-shuttle-gray;
  font-size: 14px;
  line-height: 23px;
  margin-top: 60px;
  @include tablet {
   font-size: 20px;
   line-height: 27px;
   margin-top: 34px;
   padding-right: 70px;
  }
  @include mobile {
   line-height: 24px;
   margin-top: 27px;
   padding: 0 15px 0 16px;
  }
 }

 .outro-main__btn {
  margin-top: 60px;
  @include tablet {
   margin-top: 50px;
  }
  @include mobile {
   width: 100%;
   justify-content: center;
   font-size: 16px;
   text-align: center;
   margin-top: 39px;
  }
 }
}