#packages-section {

 .page-title .page-title__text:before {display: none;}

 .special-offer {
  height: auto;
  justify-content: flex-start;
  background: url(../../img/home/packages/packages-offer-circles.png) no-repeat center right, $color-robins-egg-blue;
  margin-top: 28px;
  padding: 11px;
  @include tablet {
   padding: 7px 18px 7px 6px;
  }
  @include mobile {
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   background: transparent;
   padding: 0 0 34px;
   margin-top: 25px;
   position: relative;
  }
  &:before {
   display: none;
   content: '';
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background: $color-athens-gray;
   position: absolute;
   bottom: 0;
   left: calc(50% - 100px);
   z-index: 0;
   @include mobile {
    display: block;
   }
  }

  .special-offer__icon {
   width: 49px;
   height: 49px;
   background-color: $color-persian-green-03;
   margin-right: 10px;
   @include tablet {
    width: 36px;
    height: 36px;
    margin-right: 5px;
   }
   @include mobile {
    width: 19px;
    height: 23px;
    background: transparent;
    margin: 0;
   }

   svg {
    @include tablet {
     width: 19px;
     height: 23px;
    }
   }

   .special-offer__icon-counter {
    top: 10px;
    right: 8px;
    @include tablet-mobile {
     width: 12px;
     height: 12px;
     font-size: 6px;
     line-height: 12px;
    }
    @include tablet {
     top: 5px;
     right: 3px;
    }
    @include mobile {
     background: $color-robins-egg-blue;
     color: $color-white;
     top: -1px;
     right: -5px;
    }
   }
  }

  .special-offer__text {
   position: relative;
   @include mobile {
    color: $color-waterloo;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    margin: 20px 0 0 0;

    b {
     display: block;
     color: $color-robins-egg-blue;
     font-size: 14px;
    }
   }
  }

  .special-offer__discount {
   @include mobile {
    position: relative;
    margin: 12px 0 0;
   }
  }

  .special-offer__timer {
   @include mobile {
    align-self: center;
    margin: 16px 0 0;
   }

   .special-offer__timer-time {

    li {
     @include mobile {
      color: $color-robins-egg-blue;
      margin-right: 28px;
      &:last-child {margin-right: 0;}
     }
     &:after {
      @include mobile{
       width: 28px;
       color: $color-athens-gray-2;
       right: -28px;
      }
     }
    }
   }
   .special-offer__timer-title {
    position: relative;

    li {
     @include mobile {
      color: $color-cadet-blue;
      margin-right: 28px;
      &:last-child {margin-right: 0;}
     }
    }
   }
  }
 }
}

.packages-container {
 background: url(../../img/home/packages/packages-bg.png) repeat-x center bottom;
 @include mobile {
  background: url(../../img/home/packages/packages-bg-mobile.png) repeat-x center bottom;
 }
}

.packages-content {
 padding: 114px 0 126px;
 @include tablet {
  padding: 80px 0 100px;
 }
 @include mobile {
  padding: 46px 0 14px;
 }
}

.packages-list {
 width: 100%;
 display: flex;
 align-items: flex-start;
 justify-content: space-around;
 margin-top: 37px;
 @include tablet-mobile {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
 }
 @include mobile {
  margin-top: 25px;
 }

}

.packages-list-item {
 width: 360px;
 display: flex;
 flex-direction: column;
 box-shadow: 0 20px 40px rgba(144, 156, 173, 0.15);
 border-radius: 4px;
 background-color: $color-white;
 padding: 53px 40px 59px;
 @include tablet {
  width: 600px;
  padding: 60px 50px;
  margin-bottom: 40px;
 }
 @include mobile {
  width: 100%;
  padding: 40px 25px 55px;
  margin-bottom: 15px;
 }
 &:last-child {
  margin-bottom: 0;
 }

 .packages-list-item__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid $color-athens-gray;
  padding-bottom: 58px;
  @include tablet {
   padding-bottom: 50px;
  }

  .packages-list-item__header-icon {
   width: 90px;
   height: 90px;
   border-radius: 50%;
   background-color: $color-athens-gray;
   position: relative;

   svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
   }
  }

  .packages-list-item__header-content {
   width: 100%;
   height: 190px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   @include tablet-mobile {
    height: auto;
   }
   @include tablet {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    padding: 42px 0;
   }
   @include mobile {
    padding: 29px 0 24px;
   }

   .packages-list-item__header-title {
    color: $color-mine-shaft;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
   }
   .packages-list-item__header-text {
    color: $color-bali-hali;
    font-size: 14px;
    line-height: 21px;
    margin-top: 16px;
    @include tablet {
     font-size: 16px;
     line-height: 24px;
     margin: 0 0 0 29px;
    }
   }
  }

  .packages-list-item__header-btn {

  }
 }

 .packages-list-item__list {
  margin-top: 44px;

  .packages-list-item__list-item {
   color: $color-mine-shaft;
   font-size: 14px;
   line-height: 22px;
   padding-left: 19px;
   margin-bottom: 44px;
   position: relative;
   @include tablet-mobile {
    text-align: center;
    line-height: 24px;
    padding: 0;
   }
   @include tablet {
    margin-bottom: 48px;
   }
   @include mobile {
    margin-bottom: 36px;
   }
   &:before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color-onahau;
    position: absolute;
    top: 6px;
    left: 0;
    @include tablet-mobile {
     display: none;
    }
   }
   &:last-child {
    margin-bottom: 0;
    @include tablet-mobile {
     margin-bottom: 48px;
    }
   }

   b {
    color: $color-dodger-blue;
    font-weight: 700;
   }

   &.packages-list-item__list-item--inactive {
    opacity: 0.1;
    @include tablet-mobile {
     display: none;
    }
    &:before {
     display: none;
    }
   }
  }
 }

 .packages-list-item__btn {
  align-self: center;
  margin-top: 57px;
  @include tablet-mobile {
   margin: 0;
  }
 }

 &.packages-list-item--1  .packages-list-item__header .packages-list-item__header-icon svg {
  top: 16px;
  left: -12px;
 }
 &.packages-list-item--2  .packages-list-item__header .packages-list-item__header-icon svg {
  top: 6px;
  left: -10px;
 }
 &.packages-list-item--3  .packages-list-item__header .packages-list-item__header-icon svg {
  top: 5px;
  left: 4px;
 }
}

.text-crossed {
 position: relative;
 &:before {
  content: '';
  width: 36px;
  height: 1px;
  background: #222;
  transform: rotate(-15deg);
  position: absolute;
  top: 8px;
  left: 0;
 }
}

.packages-warranty {
 width: 100%;
 display: flex;
 align-items: flex-start;
 justify-content: center;
 margin-top: 61px;
 @include tablet {
  margin-top: 55px;
 }
 @include mobile {
  flex-wrap: wrap;
  margin-top: 60px;
 }

 .packages-warranty__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  margin: 10px 0 0 33px;
  @include tablet {
   margin: 8px 0 0 18px;
  }
  @include mobile {
   font-size: 14px;
   margin: 8px 0 0 12px;
  }

  span {
   display: block;
   color: $color-dodger-blue-2;
   font-size: 46px;
   font-weight: 900;
   font-style: italic;
   line-height: 27px;
   margin-bottom: 11px;
   @include mobile {
    font-size: 40px;
    margin-bottom: 8px;
   }
  }
 }

 .packages-warranty__text {
  color: $color-mine-shaft;
  font-size: 14px;
  line-height: 21px;
  margin-left: 51px;
  @include tablet {
   margin-left: 71px;
  }
  @include mobile {
   width: 100%;
   text-align: center;
   margin: 24px 0 0;
  }

  a {
   display: block;
   color: $color-regent-gray;
   text-decoration: underline;
  }
 }
}