#program-1-section, #program-2-section, #program-3-section, #program-4-section, #program-5-section, #program-6-section, #program-7-section, #program-8-section {
 background-color: $color-athens-gray;
 min-height: 0;

 .program-content {
  @include mobile {
   padding: 35px 0;
  }
 }
}
#program-1-section {
 background: url(../../img/home/program/program-1-bg.png) repeat-x center top, $color-athens-gray;
 @include mobile {
  background: url(../../img/home/program/program-1-bg-mobile.png) repeat-x center top, $color-athens-gray;
 }

 .section-content {
  @include mobile {
   align-items: center;
  }
 }

 .program-content {
  padding: 114px 0 0;
  @include mobile {
   padding: 58px 0 35px;
  }
 }

 .page-title {
  @include mobile {
   margin-bottom: 63px;
  }

  .page-title__text {
   padding-top: 10px;
  }
 }

 .program-curve {
  padding-top: 114px;
 }
}

.program-main {
 width: 100%;
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 padding-bottom: 9px;
 @include tablet-mobile {
  padding: 0;
 }
}

.program-item {
 display: flex;
 padding-left: 19px;
 @include tablet-mobile {
  padding: 0;
 }
 @include mobile {
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .program-item__left {
  padding-right: 81px;
  @include tablet {
   padding-right: 25px;
  }
  @include mobile {
   padding: 0;
  }
 }

 .program-item__thumb {
  width: 263px;
  height: 263px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $color-science-blue-4-085;
  position: relative;
  transform: scale(0.5);
  opacity: 0;
  @include tablet-mobile {
   width: 150px;
   height: 150px;
  }
  @include mobile {
   transform: scale(1);
   opacity: 1;
  }
  &:before {
   content: '';
   width: 26px;
   height: 26px;
   background: url(../../img/home/program/check-icon.svg) no-repeat center / contain, $color-white;
   border: 4px solid $color-athens-gray;
   border-radius: 50%;
   position: absolute;
   left: calc(50% - 13px);
   bottom: -13px;
  }

  .program-item__thumb-bg {
   width: 183px;
   height: 183px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background-color: $color-science-blue-5-044;
   @include tablet-mobile {
    width: 104px;
    height: 104px;
   }

   .program-item__thumb-icon {
    display: flex;
    align-items: center;
    justify-content: center;
   }
  }
 }

 .program-item__thumb-text {
  color: $color-cod-gray;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-top: 21px;
  position: relative;
  top: 140px;
  opacity: 0;
  @include tablet-mobile {
   display: none;
  }
 }

 .program-item__content {
  padding-top: 50px;
  position: relative;
  top: 140px;
  opacity: 0;
  @include tablet {
   padding-top: 11px;
  }
  @include mobile {
   padding-top: 40px;
   opacity: 1;
   top: 0;
  }
 }

 .program-item__subtitle-container {
  position: relative;
  @include tablet {
   padding-bottom: 22px;
   margin-top: 45px;
  }
  @include tablet-mobile {
   display: flex;
   align-items: flex-start;
  }
  @include mobile {
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-top: 40px;
   padding-bottom: 28px;
  }
  &:before {
   content: '';
   display: none;
   width: 80px;
   height: 4px;
   border-radius: 1px;
   background-color: $color-ghost-05;
   position: absolute;
   bottom: 0;
   left: 0;
   @include tablet-mobile {
    display: block;
   }
   @include mobile {
    left: calc(50% - 40px);
   }
  }
 }

 .program-item__title-tablet-block {
  display: none;
  @include tablet-mobile {
   display: flex;
  }

  .program-item__number {
   width: 62px;
   color: $color-anakiwa;
   font-size: 38px;
   font-weight: 700;
   font-style: italic;
   line-height: 27px;
   margin-top: 8px;
   @include mobile {
    width: 50px;
    font-size: 30px;
    margin-top: 2px;
   }
  }
  .program-item__title {
   color: $color-mine-shaft;
   font-size: 22px;
   font-weight: 700;
   line-height: 30.8px;
   @include mobile {
    font-size: 18px;
    line-height: 24px;
   }
  }
 }

 .program-item__title-block {
  display: flex;
  align-items: center;

  .program-item__number {
   color: $color-anakiwa;
   font-size: 36px;
   font-weight: 900;
   font-style: italic;
   line-height: 36px;
   margin-right: 16px;
   @include tablet-mobile {
    display: none;
   }
  }
  .program-item__title {
   color: $color-science-blue;
   font-size: 24px;
   font-weight: 700;
   line-height: 36px;
   @include tablet {
    width: 185px;
    font-size: 22px;
    line-height: 27px;
   }
   @include mobile {
    font-size: 22px;
    line-height: 27px;
   }
  }
 }

 .program-item__subtitle {
  color: $color-cod-gray;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  padding-left: 58px;
  @include tablet-mobile {
   padding: 0;
  }
  @include tablet {
   font-size: 16px;
   line-height: 27px;
   margin: 0;
  }
  @include mobile {
   font-size: 14px;
   line-height: 25px;
   margin-top: 16px;
   padding: 0;
  }
 }

 .program-item-list {
  display: flex;
  margin-top: 56px;
  @include tablet-mobile {
   flex-direction: column;
  }
  @include tablet {
   margin-top: 40px;
  }
  @include mobile {
   align-items: center;
   text-align: center;
   margin-top: 24px;
  }

  .program-item-list__item {
   display: flex;
   margin-right: 90px;
   @include tablet {
    margin: 0 0 50px 0;
   }
   @include mobile {
    margin: 0 0 32px 0;
   }
   &:last-child {
    margin: 0;
   }

   .program-item-list__item-icon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: $color-dodger-blue-2;
    margin-right: 22px;
    @include tablet {
     margin: 5px 15px 0 0;
    }
    @include mobile {
     display: none;
    }
   }

   .program-item-list__item-content {
    @include tablet {
     display: flex;
    }

    .program-item-list__item-title {
     color: $color-pickled-bluewood;
     font-size: 17px;
     font-weight: 700;
     line-height: 27px;
     @include tablet {
      width: 135px;
      font-size: 14px;
      line-height: 21px;
      padding-right: 40px;
     }
    }
    .program-item-list__item-text {
     color: $color-slate-gray;
     font-size: 14px;
     line-height: 21px;
     margin-top: 11px;
     @include tablet {
      width: 320px;
      margin: 0;
     }
    }
   }
  }
 }

 &.program-item--1 {

  .program-item__thumb .program-item__thumb-bg {
   background: url(../../img/home/program/program-1.png) no-repeat center / contain;
  }
 }
 &.program-item--2 {

  .program-item__thumb .program-item__thumb-bg {
   background: url(../../img/home/program/program-2.png) no-repeat center / contain;
  }
 }
 &.program-item--3 {

  .program-item__thumb .program-item__thumb-bg {
   background: url(../../img/home/program/program-3.png) no-repeat center / contain;
  }
 }
 &.program-item--4 {

  .program-item__thumb .program-item__thumb-bg {
   background: url(../../img/home/program/program-4.png) no-repeat center / contain;
  }
 }
 &.program-item--5 {

  .program-item__thumb .program-item__thumb-bg {
   background: url(../../img/home/program/program-5.png) no-repeat center / contain;
  }
 }
 &.program-item--6 {

  .program-item__thumb .program-item__thumb-bg {
   background: url(../../img/home/program/program-6.png) no-repeat center / contain;
  }
 }
 &.program-item--7 {

  .program-item__thumb .program-item__thumb-bg {
   background: url(../../img/home/program/program-7.png) no-repeat center / contain;
  }
 }
 &.program-item--8 {

  .program-item__thumb .program-item__thumb-bg {
   background: url(../../img/home/program/program-8.png) no-repeat center / contain;
  }
 }

 &.program-item--even {
  padding-left: 98px;
  @include tablet-mobile {
   padding-left: 0;
  }

  .program-item__left {
   padding-right: 99px;
   @include tablet {
    padding-right: 25px;
   }
   @include mobile {
    padding: 0;
   }
  }

  .program-item__thumb {
   width: 233px;
   height: 233px;
   background-color: $color-science-blue-07;
   @include tablet-mobile {
    width: 150px;
    height: 150px;
   }

   .program-item__thumb-bg {
    width: 163px;
    height: 163px;
    @include tablet-mobile {
     width: 105px;
     height: 105px;
    }
   }
  }

  .program-item__content {
   padding-top: 28px;
   @include tablet {
    padding-top: 11px;
   }
   @include mobile {
    padding-top: 40px;
   }
  }
 }
}

.program-curve {
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 @include mobile {
  display: none;
 }

 .main-wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
 }

 svg {
  //width: 257px;
  //height: 3668px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  position: absolute;
  left: 0;
  top: 0;
  //animation: dash 2.5s linear forwards;
 }
}

@keyframes dash {
 to {
  stroke-dashoffset: 0;
 }
}