#reviews-section {
 background: $color-catskill-white;
 @include mobile {
  background: $color-catskill-white-2
 }
}

.reviews-content {
 justify-content: flex-end;
 padding-top: 114px;
 @include tablet {
  min-height: 1000px;
  padding: 123px 0 62px;
 }
 @include mobile {
  padding: 64px 0 79px;
 }
}

.reviews-main {
 width: 100%;
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-top: 46px;
 padding-bottom: 10px;
 @include mobile {
  padding: 0;
 }
}
.reviews-slider-container {
 position: relative;
}

.reviews-counter {
 width: 97px;
 color: $color-gull-gray;
 font-size: 13px;
 font-weight: 700;
 line-height: 21px;
 font-style: italic;
 text-align: center;
 position: absolute;
 top: 100px;
 right: -8px;
 @include tablet-mobile {
  top: auto;
  left: calc(50% - 48px);
 }
 @include tablet {
  bottom: -67px;
 }
 @include mobile {
  bottom: 0;
 }

 span {
  color: $color-science-blue-2;
  font-size: 18px;
  font-weight: 500;
 }
}

.reviews-slider {
 @include mobile {
  padding-bottom: 60px;
 }

 .slick-list {
  padding: 0!important;
 }

 .reviews-slide-container {

 }

 .reviews-slide {
  display: flex;
  @include tablet-mobile {
   flex-direction: column;
  }

  .reviews-slide__author {
   display: flex;
   @include tablet {
    align-self: flex-end;
   }
   @include mobile {
    flex-direction: column;
    align-items: center;
    text-align: center;
   }
  }

  .reviews-slide__author-avatar {
   width: 98px;
   height: 98px;
   border: 3px solid $color-bali-hali;
   border-radius: 50%;
   @include tablet {
    order: 2;
   }
   @include mobile {
    border-color: $color-dodger-blue-3;
   }

   img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
   }
  }
  .reviews-slide__author-info {
   width: 190px;
   margin: 15px 0 0 32px;
   @include tablet-mobile {
    width: auto;
   }
   @include tablet {
    order: 1;
    margin: 24px 37px 0 0;
   }
   @include mobile {
    margin: 24px 0 0;
   }

   .reviews-slide__author-name {
    color: $color-cod-gray;
    font-size: 14px;
    line-height: 21px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    @include tablet-mobile {
     font-size: 16px;
     line-height: 24px;
    }
    @include tablet {
     text-align: right;
    }
   }
   .reviews-slide__author-niche {
    color: $color-regent-gray;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    line-height: 21px;
    @include tablet-mobile {
     font-size: 16px;
     line-height: 24px;
    }
    @include tablet {
     text-align: right;
    }
   }
  }

  .reviews-slide__content {
   width: 600px;
   padding-left: 50px;
   margin: 15px 0 0 35px;
   position: relative;
   @include tablet {
    width: 590px;
    margin: 25px 0 0 25px;
   }
   @include mobile {
    width: 100%;
    padding: 49px 0 0;
    margin: 28px 0 0;
   }
   &:before {
    content: '';
    width: 31px;
    height: 26px;
    background: url(../../img/home/reviews/quote-icon.svg) no-repeat center / contain;
    position: absolute;
    top: 0;
    left: 0;
    @include mobile {
     left: calc(50% - 15px);
    }
   }

   .reviews-slide__title {
    color: $color-mine-shaft;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    @include tablet-mobile {
     font-size: 18px;
     line-height: 25.2px;
    }
   }
   .reviews-slide__text {
    height: 105px;
    color: $color-slate-gray;
    font-size: 14px;
    line-height: 21px;
    margin-top: 16px;
    overflow: hidden;
    @include tablet-mobile {
     height: 112px;
     line-height: 22.4px;
     margin-top: 25px;
    }
   }
  }
 }
}

.reviews-videos {
 width: 100%;
 height: 360px;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 padding-right: 14px;
 @include tablet {
  height: 280px;
  padding: 0;
  margin-top: 116px;
 }
 @include mobile {
  height: auto;
  flex-direction: column;
  padding: 0;
 }

 .reviews-video {
  width: 320px;
  height: 320px;
  background: $color-pickled-bluewood;
  box-shadow: 0 30px 60px rgba(0, 52, 113, 0.53);
  border-radius: 4px;
  margin: 0 14px;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
  @include tablet {
   width: 200px;
   height: 200px;
   margin: 0 15px 0 0;
   &:last-child {
    margin: 0;
   }
  }
  @include mobile {
   width: 290px;
   height: 290px;
   margin: 40px 0 0;
  }
  &:hover {
   width: 360px;
   height: 360px;
   box-shadow: 0 30px 60px rgba(0, 52, 113, 0.46);
   @include tablet {
    width: 280px;
    height: 280px;
   }
   @include mobile {
    width: 290px;
    height: 290px;
   }

   .reviews-video__image {
    opacity: 1;
   }

   .reviews-video__btn {
    width: 86px;
    height: 86px;
    top: calc(50% - 43px);
    left: calc(50% - 43px);

    svg {
     width: 12px;
     height: 16px;
    }

    .reviews-video__btn-text {
     font-size: 12px;
     line-height: 24px;
    }
   }
  }

  .reviews-video__image {
   height: 100%;
   border-radius: 4px;
   opacity: 0.4;
   transition: 0.5s;

   img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: block;
    transition: 0.5s;
   }
  }

  .reviews-video__btn {
   width: 48px;
   height: 48px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background-color: $color-white;
   position: absolute;
   top: calc(50% - 24px);
   left: calc(50% - 24px);
   transition: 0.5s;

   svg {
    margin-left: 4px;
    transition: 0.5s;
   }

   .reviews-video__btn-text {
    color: $color-cadet-blue;
    font-size: 0px;
    font-weight: 500;
    line-height: 0px;
    transition: 0.5s;
   }
  }
 }
}