#video-section {
 background: url(../../img/home/video/video-bg.png) repeat-x center bottom ;
 @include mobile {
  background: url(../../img/home/video/video-mobile-bg.png) repeat-x center bottom ;
 }
}

.video-content {
 align-items: center;
 justify-content: center;
 @include mobile {
  min-height: 410px;
 }
}

.main-video {
 width: 876px;
 height: 497px;
 background: url(../../img/home/video/video-preview.jpg) no-repeat center / contain;
 box-shadow: 0 50px 80px #ced3d9;
 margin-top: 57px;
 position: relative;
 @include tablet {
  width: 706px;
  height: 412px;
  margin-top: 46px;
 }
 @include mobile {
  width: 290px;
  height: 169px;
  margin-top: 0;
 }

 .main-video__btn {
  width: 86px;
  height: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: $color-science-blue;
  position: absolute;
  top: calc(50% - 43px);
  left: calc(50% - 43px);
  transition: 0.5s;
  cursor: pointer;
  @include mobile {
   width: 76px;
   height: 76px;
   top: calc(50% - 38px);
   left: calc(50% - 38px);
  }
  &:hover {
   transform: scale(1.1);
  }

  .main-video__btn-icon {
   display: block;
   margin-left: 2px;
  }
  .main-video__btn-text {
   color: $color-cornflower-blue;
   font-size: 12px;
   font-weight: 700;
   line-height: 14px;
   text-align: center;
   margin-top: 7px;
   @include mobile {
    margin-top: 5px;
   }
  }
 }
}

.main-video-skip {
 color: $color-bali-hali;
 font-size: 13px;
 font-weight: 500;
 line-height: 15px;
 text-align: center;
 margin-top: 42px;
 transition: 0.5s;
 cursor: pointer;
 @include tablet {
  font-size: 10px;
  line-height: 11px;
  margin-top: 61px;
 }
 @include mobile {
  display: none;
 }
 &:hover {
  color: $color-dodger-blue;
 }
}