extends ../layouts/main.jade

block contents
  include ../partials/header.jade

  .sections-container#home
    include ../pages-partials/home/intro.jade
    include ../pages-partials/home/video.jade
    include ../pages-partials/home/author.jade
    include ../pages-partials/home/about.jade
    include ../pages-partials/home/format.jade
    include ../pages-partials/home/program-1.jade
    include ../pages-partials/home/program-2.jade
    include ../pages-partials/home/program-3.jade
    include ../pages-partials/home/program-4.jade
    include ../pages-partials/home/program-5.jade
    include ../pages-partials/home/program-6.jade
    include ../pages-partials/home/program-7.jade
    include ../pages-partials/home/program-8.jade
    include ../pages-partials/home/packages.jade
    include ../pages-partials/home/reviews.jade
    include ../pages-partials/home/faq.jade
    include ../pages-partials/home/outro.jade

  include ../partials/popups/popup-package-standart.jade
  include ../partials/popups/popup-package-base.jade
  include ../partials/popups/popup-package-extended.jade
  include ../partials/popups/popup-package-vip.jade
  include ../partials/popups/popup-video-review-1.jade
  include ../partials/popups/popup-video-review-2.jade
  include ../partials/popups/popup-video-review-3.jade
  include ../partials/popups/notification.jade
  include ../partials/popups/popup-oferta.jade
  include ../partials/popups/popup-policy.jade

  include ../partials/scripts.jade

  script.
    $(function(){
      if (screen.width < 720) {
        return;
      } else {
        pageSlider()
      }

      $(window).resize(function () {
        if (screen.width < 720) {
          return;
        } else {
          pageSlider()
        }
      });
    });

    function pageSlider() {
      var $header = $('.main-header');

      $('#home').fullpage({
        anchors: ['intro', 'video', 'author', 'about', 'format', 'program-1', 'program-2', 'program-3', 'program-4', 'program-5', 'program-6', 'program-7', 'program-8', 'packages', 'reviews', 'faq', 'outro'],
        scrollOverflow: true,
        afterResize: function () {
          $.fn.fullpage.reBuild();
        },
        onLeave: function (index, nextIndex, direction) {
          //console.log('prev ' + index);
          //console.log('next ' + nextIndex);
          if (nextIndex == 5) {
            $header.addClass('main-header--white');
          } else if (index == 5) {
            $header.removeClass('main-header--white');
          }

          if (nextIndex == 1) {
            $('.main-header-container .special-offer').slideDown(300);
            $('.main-header-container .intro-right__about').addClass('intro-right__about--active');
            $('.main-header-container .main-header__tablet-text').removeClass('main-header__tablet-text--active');
          } else {
            $('.main-header-container .special-offer').slideUp(300);
            $('.main-header-container .main-header__tablet-text').addClass('main-header__tablet-text--active');
            $('.main-header-container .intro-right__about').removeClass('intro-right__about--active');
          }

          if (nextIndex == 1) {
            $header.removeClass('main-header--color-1 main-header--color-2 main-header--color-3 main-header--color-4').addClass('main-header--color-transparent');
          } else if(nextIndex == 2 || nextIndex == 14 || nextIndex == 17){
            $header.removeClass('main-header--color-2 main-header--color-3 main-header--color-4 main-header--color-transparent').addClass('main-header--color-1');
          } else if(nextIndex == 3){
            $header.removeClass('main-header--color-2 main-header--color-3 main-header--color-4 main-header--color-transparent').addClass('main-header--color-1');
          } else if (nextIndex == 4 || nextIndex == 16) {
            $header.removeClass('main-header--color-1 main-header--color-3 main-header--color-4 main-header--color-transparent').addClass('main-header--color-2');
          } else if (nextIndex == 5) {
            $header.removeClass('main-header--color-1 main-header--color-2 main-header--color-4 main-header--color-transparent').addClass('main-header--color-3');
          } else if (nextIndex == 6 || nextIndex == 7 || nextIndex == 8 || nextIndex == 9 || nextIndex == 10 || nextIndex == 11 || nextIndex == 12 || nextIndex == 13 || nextIndex == 15) {
            $header.removeClass('main-header--color-1 main-header--color-2 main-header--color-3 main-header--color-transparent').addClass('main-header--color-4');
          }

          if (nextIndex == 6) {
            programOutAnimation();
            programInitAnimation('#program-1-section');
          } else if(nextIndex == 7) {
            programOutAnimation();
            programInitAnimation('#program-2-section');
          } else if(nextIndex == 8) {
            programOutAnimation();
            programInitAnimation('#program-3-section');
          } else if(nextIndex == 9) {
            programOutAnimation();
            programInitAnimation('#program-4-section');
          } else if(nextIndex == 10) {
            programOutAnimation();
            programInitAnimation('#program-5-section');
          } else if(nextIndex == 11) {
            programOutAnimation();
            programInitAnimation('#program-6-section');
          } else if(nextIndex == 12) {
            programOutAnimation();
            programInitAnimation('#program-7-section');
          } else if(nextIndex == 13) {
            programOutAnimation();
            programInitAnimation('#program-8-section');
          } else {
            programOutAnimation();
          }
        }
      });
    }