.main-footer {
 //height: 150px;
 background-color: $color-mine-shaft;
 padding: 59px 0 58px;
 @include tablet {
  //height: 175px;
  padding: 29px 0;
 }
 @include mobile {
  height: auto;
  padding: 26px 0 30px;
 }

 > .main-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include tablet {
   align-items: flex-start;
  }
  @include mobile {
   flex-wrap: wrap;
  }
  &:after {
   display: none;
  }
 }
}

.main-footer__logo {
 display: flex;
 align-items: center;
 @include mobile {
  order: 1;
 }

 svg {
  width: 30px;
  height: 33px;
  margin-right: 12px;
  @include mobile {
   width: 22px;
   height: 24px;
  }
 }

 p {
  color: $color-white;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  @include mobile {
   font-size: 16px;
   line-height: 19px;
  }
 }
}

.main-footer__info {
 width: 730px;
 display: flex;
 justify-content: space-around;
 @include tablet-mobile {
  flex-direction: column;
  justify-content: flex-start;
 }
 @include tablet {
  width: auto;
 }
 @include mobile {
  width: 100%;
  margin-top: 23px;
  order: 3;
 }
}

.main-footer__text {
 color: $color-bali-hali;
 font-size: 14px;
 line-height: 27.2px;
 text-align: center;
 @include tablet {
  margin-bottom: 8px;
 }
 @include mobile {
  font-size: 13px;
 }
}

.main-footer__socials {
 display: flex;
 align-items: center;
 @include mobile {
  order: 2;
 }

 .main-footer__social {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  @include tablet {
   width: 30px;
   height: 30px;
   margin-right: 12px;
  }
  &:last-child {
   margin-right: 0;
  }
 }

 .main-footer__social-link {
  display: block;
  width: 100%;
  height: 100%;
  &:hover svg {
   path {
    fill: $color-science-blue;
   }
   circle {
    stroke: $color-science-blue;
   }
  }

  svg {
   display: block;
   width: 100%;
   height: 100%;

   path {
    fill: $color-emperor;
    transition: 0.5s;
   }
   circle {
    stroke: $color-emperor;
    transition: 0.5s;
   }
  }
 }
}