.main-header-container {
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 98;
 @include mobile {
  position: absolute;
 }
}

.main-header {
 background: $color-alabaster-09;
 padding: 30px 0;
 transition: 0.7s;
 @include tablet {
  padding: 23px 0;
 }
 @include mobile {
  padding: 5px 0;
 }
 &.main-header--color-1 {background: $color-aqua-gaze-06;}
 &.main-header--color-2 {background: $color-athens-gray-06;}
 &.main-header--color-3 {background: $color-science-blue-06;}
 &.main-header--color-4 {background: $color-catskill-white-06}
 &.main-header--color-transparent {background: transparent}

 .main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:after {
   display: none;
  }
 }

 .main-header__logo {
  display: flex;
  align-items: center;

  .main-header__logo-icon {
   width: 30px;
   height: 33px;
   background: url(../../img/logo-sm.svg) no-repeat center / contain;
   transition: 0.7s;
   @include tablet {
    width: 28px;
    height: 30px;
   }
   @include mobile {
    width: 22px;
    height: 24px;
   }

   svg {
    width: 100%;
    height: 100%;
   }
  }
  .main-header__logo-text {
   color: $color-mine-shaft;
   font-size: 24px;
   font-weight: 700;
   line-height: 28px;
   text-transform: uppercase;
   margin-left: 14px;
   @include tablet {
    font-size: 20px;
    line-height: 24px;
    margin-left: 9px;
   }
   @include mobile {
    font-size: 16px;
    line-height: 19px;
    margin-left: 9px;
   }
  }
 }

 .main-header__menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 43px;
  @include tablet-mobile {
   display: none;
  }

  .main-header__menu-item {
   margin-right: 40px;
   &:last-child {
    margin-right: 0;
   }
   &:hover .main-header__menu-item-link {
    color: $color-science-blue-2;
   }

   .main-header__menu-item-link {
    display: block;
    color: $color-dusty-gray;
    font-size: 14px;
    line-height: 27px;
    transition: 0.7s;
   }
  }
 }

 .intro-right__about {
  display: none;
  &.intro-right__about--active {
   @include tablet {
    display: flex;
   }
  }
 }

 .main-header__tablet-text {
  display: none;
  color: $color-bali-hali;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  &.main-header__tablet-text--active {
   @include tablet {
    display: block;
   }
  }
 }

 .main-header__register {
  transition: 0.7s;
 }

 &.main-header--white {

  .main-header__logo {

   .main-header__logo-icon {
    background: url(../../img/logo-white.svg) no-repeat center / contain;
   }
   .main-header__logo-text {
    color: $color-white;
   }
  }

  .main-header__menu .main-header__menu-item .main-header__menu-item-link {
   color: $color-danube;
  }

  .main-header__register {
   background: $color-white;
   color: $color-science-blue;
  }

  .main-header__tablet-text {
   color: $color-danube;
  }
 }

 &.main-header--success {
  background: transparent;
  @include mobile {
   padding: 28px 0;
  }

  .main-header__menu {
   padding: 0;
   @include tablet {
    display: flex;
   }
   @include mobile {
    display: none;
   }

   .main-header__menu-item {
    &:last-child {
     margin-right: 0;
    }
    @include tablet {
     margin-right: 30px;
    }

    .main-header__menu-item-link {
     @include tablet {
      font-size: 12px;
     }
    }
   }
  }
 }
}